{% extends "RjPublicBundle::public_iframe.html.twig" %}
{% form_theme form 'RjCoreBundle::form.html.twig' %}

{% block content %}
    <div class="iframe-body">
        <div class="iframe-body-left">
            <h2>{{ 'iframe.login.title' | trans }}</h2>
            {% if app.request.query.get('nologin') == 'true' %}
                <div class="iframe-redirect-title">{{ 'iframe.redirect.login.title' | trans }}</div>
                <div class="iframe-redirect-text">{{ 'iframe.redirect.login.text' | trans }}</div>
                <div id="iframe-login-form" class="iframe-login">
                    <a style="text-decoration: none" target="_blank" class="iframe-button" href="https://my.renttrack.com/">Log In</a><br /><br />
                </div>
            {% else %}
                <div id="iframe-login-form" class="iframe-login">
                    {{ form(form) }}
                </div>
            {% endif %}
            <div class="iframe-redirect">
                <div class="iframe-redirect-title">{{ 'iframe.redirect.title' | trans }}</div>
                <div class="iframe-redirect-text">{{ 'iframe.redirect.text' | trans }}</div>
                <input id="iframe-tenant-button" type="button" class="iframe-button iframe-button-grey" value="{{ 'iframe.redirect.tenant' | trans }}">
                {% if app.request.query.get('l') == 'true' %}
                    <input id="iframe-landlord-button" type="button" class="iframe-button iframe-button-grey" value="{{ 'iframe.redirect.landlord' | trans }}">
                {% endif %}
            </div>
        </div>
        <div class="iframe-body-right">
            <h3>{{ 'iframe.items.title' | trans }}</h3>
            <div class="iframe-item iframe-pay">
                <i></i>
                <div>
                    <h4>{{ 'iframe.item.pay.title' | trans | upper }}</h4>
                    <p>{{ 'iframe.item.pay.text' | trans }}</p>
                </div>
            </div>
            <div class="iframe-item iframe-build">
                <i></i>
                <div>
                    <h4>{{ 'iframe.item.build.title' | trans | upper }}</h4>
                    <p>{{ 'iframe.item.build.text' | trans }}</p>
                </div>
            </div>
            <div class="iframe-item iframe-monitor">
                <i></i>
                <div>
                    <h4>{{ 'iframe.item.monitor.title' | trans | upper }}</h4>
                    <p>{{ 'iframe.item.monitor.text' | trans }}</p>
                </div>
            </div>
            <div class="iframe-questions">
                {{ 'iframe.questions' | trans }}&nbsp;<a target="_blank" alt="How to Pay Rent and Build Credit History" href="http://www.renttrack.com/how-it-works">{{ 'iframe.learn.more' | trans }}</a>
            </div>
            <div class="iframe-logo">
                {{ 'iframe.powered' | trans }}<br>
                <a target="_blank" href="http://www.renttrack.com/pay-rent-online/" alt="Pay Rent Online at RentTrack"><span></span></a>
            </div>
            <a class="iframe-ns">Norton Secured</a>
            <!-- {{ random() }} -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@RjPublicBundle/Resources/public/css/fonts.css'
                   '@RjPublicBundle/Resources/public/css/public-iframe.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@RjPublicBundle/Resources/public/js/jquery-1.10.2.min.js'
                   '@RjPublicBundle/Resources/public/js/public-iframe.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script type="text/javascript">
        var id = "{{ id }}";
        var type = "{{ type }}";
    </script>
{% endblock %}
