{% trans_default_domain 'checkout' %}
<div class="pod-small pod-border pod-padding shadow credittrack-promo-box">
    <h3>{{ 'credittrack.box.title' | trans }}</h3>
    <p>
        {{ 'credittrack.box.message' | trans }}
    </p>

    <a href="#" class="button middle narrow show-credittrack-pricing-popup">
        <span>
            {{ 'credittrack.buy.link' | trans }}
        </span>
    </a>

    <div class="note-text biggerbold">
        {{ 'credittrack.box.note' | trans }}
    </div>

    <div class="price">
        {% if score_track.is_free_enabled and score_track.free_until > 0 %}
            {{
                'credittrack.promo.free'|trans(
                    {
                        '%month%': score_track.free_until
                    }
                )|raw
            }}
        {% else %}
            {{ 'credittrack.promo.amount' | trans(
                    {
                        "%dollars%": credittrack_payment_per_month_dollars,
                        "%cents%": credittrack_payment_per_month_cents
                    }
                ) | raw
            }}
        {% endif %}
    </div>
</div>
