<div id="legend-popup" class="pricing-popup properties-popup">
    <h1>{{ 'payments.legend' | trans() }}</h1>
    <div class="clearfix col-box">
        <div class="row-20"></div>
        <div class="tradeline-history-empty-month status-C">OK</div>
        <div class="tradeline-history-text">-&nbsp;{{ 'legend.ok' | trans() }}</div>
        <div class="clearboth"></div>
        <div class="tradeline-history-empty-month status-1">N</div>
        <div class="tradeline-history-text">-&nbsp;{{ 'legend.delinquent' | trans() }}</div>
        <div class="clearboth"></div>
        <div class="tradeline-history-empty-month payment-history-month status-auto">PAY</div>
        <div class="tradeline-history-text">-&nbsp;{{ 'legend.pay' | trans() }}</div>
        <div class="clearboth"></div>
        <div class="tradeline-history-empty-month payment-history-month status-auto">AUTO</div>
        <div class="tradeline-history-text">-&nbsp;{{ 'legend.auto' | trans() }}</div>
        <div class="clearboth"></div>
    </div>
</div>