<div class="pod-large pod-border pod-padding shadow" id="tenant-payments">
    <div class="fiter-box" style="margin-bottom: 40px;">
        <h1>{{ 'tenant.payments.title' | trans() }}</h1>
        <select id="selContract" class="select custom-select blue-arrow selectBox" style="display: none;" data-bind="event: {change: filterPayments}">
            <option value=''>- {{'all'|trans}} -</option>
            {% for contract in contracts %}
                <option value='{{ contract.id }}'>{{ contract.getRentAddress }}</option>
            {% endfor %}
        </select>
        <label>{{ 'tenant.payments.filter'|trans }}</label>
    </div>
    <div class="row-20"></div>
    <h3 class="notHaveData" data-bind="visible: tenantPayments().length == 0 && isLoading() == false">{{ 'donthavedata'|trans }}</h3>
    <div class="properties-table-block table-wrap" data-bind="visible: tenantPayments().length > 0">
        <div class="table-margin">
            <table class="properties-table zebra-grid contracts-table">
                <thead>
                    <tr class="contracts">
                        <th class="font-helvetica" style="width: 88px">{{ 'payment.status' | trans() }}</th>
                        <th class="font-helvetica" style="width: 75px">{{ 'payment.date' | trans() }}</th>
                        <th class="font-helvetica" style="width: 300px">{{ 'payment.property' | trans() }}</th>
                        <th class="font-helvetica" style="width: 70px">{{ 'payment.rent' | trans() }}</th>
                        <th class="font-helvetica" style="width: 70px">{{ 'payment.other' | trans() }}</th>
                        <th class="font-helvetica" style="width: 70px">{{ 'payment.total' | trans() }}</th>
                        <th class="font-helvetica" style="width: 50px">{{ 'payment.type' | trans() }}</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: tenantPayments">
                    <tr class="contracts">
                        <td
                            data-bind="css: 'actions-status ' + style()"
                            style="text-transform: uppercase">
                            <span data-bind="text: $root.getStatusText(status()), attr: {title: errorMessage}"></span>
                            <span
                                class="status-text-helper"
                                data-bind="visible: !$root.isSuccessfulStatus(status())"
                                style="cursor: pointer">
                                <img src="{{ asset('bundles/core/images/help-icon.gif') }}">
                            </span>
                        </td>
                        <td data-bind="text: date"></td>
                        <td data-bind="text: property"></td>
                        <td data-bind="text: rent"></td>
                        <td data-bind="text: other"></td>
                        <td data-bind="text: total"></td>
                        <td class="type-box"><span data-bind="css: 'clarification ' + type()"><i></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <nav class="pagination-box" data-bind="visible: pages().length > 0">
        <ul data-bind="foreach: pages()[0]">
            <li data-bind="visible: $data == $root.currentPage()"><span data-bind="text: $data"></span></li>
            <li data-bind="visible: $data != $root.currentPage()"><a href="" data-bind="click: $root.goToPage, text: $data"></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var viewModel = new TenantPaymentsViewModel();
        ko.applyBindings(viewModel, $('#tenant-payments').get(0));

        $('#selContract').linkselect("destroy");
        $('#selContract').linkselect({
            change: function (li, value, text) {
                viewModel.filterPayments(li, value, text);
            }
        });

        viewModel.loadData();
    });
</script>
