
<table data-role="none" class="paymentHistoryTable">
    <tr>
        <td colspan="3" class="headingAddress">
            <i class="fa fa-home"></i> <b>{{contract.address }}</b>
        </td>
    </tr>
    {% for nYear, aData in contract.history | reverse(true) %}
        {% if (date(nYear) <= date('-1month')) and ((aData|length)>0) %}
    <tr>
        <td colspan="3" class="headingYear">
            <div><b>{{ nYear }}</b></div>
        </td>
    </tr>

            <tbody>


                    {% for nMonth, aStatus in aData | reverse(true) %}

                        {% if aStatus.status!='empty-month' %}

                        <tr><td>{{ aMonthes[nMonth-1] }}</td><td>${{ aStatus.amount }}</td><td>PAID</td></tr>

                        {% endif %}


                    {% endfor %}

            </tbody>

                {% endif %}

            {% endfor %}

</table>
<br><br>

    {#
            <div class="row-10"></div>
            <div class="">
                <div class="tradeline-history-year"></div>
                <a class="tradeline-legend-link"><span>{{ 'common.legend.view' | trans }}</span></a>
            </div>
        </div>
    </div>

    <div class="tradeline-details rent-details">
        <b>{{ 'tradeline.details.type' | trans }}:</b>&nbsp;{{ 'payments.type.rent' | trans() }}
        <b>{{ 'tradeline.details.responsibility' | trans }}:</b>&nbsp;{{ 'payments.individual' | trans() }}
        <b>{{ 'tradeline.details.date_opened' | trans }}:</b>&nbsp;{{ aContract.start }}
        <b>{{ 'bureau.reporting.experian.title' | trans }}:</b>&nbsp;{{ (aContract.reporting.experian ? 'common.on':'common.off')|trans }}
        <b>{{ 'bureau.reporting.trans_union.title' | trans }}:</b>&nbsp;{{ (aContract.reporting.trans_union ? 'common.on':'common.off')|trans }}
        <br /><b><a><span class="reporting-action" id="id-{{ aContract.id }}">{{ 'bureau.reporting.manage' | trans }}</span></a></b>
    </div>
    <div class="clearboth"></div>


{% include 'RjComponentBundle:PaymentHistory:reporting.html.twig' with {'contract': aContract, 'link': link} %}
#}
