<!-- Popup Reporting -->
<div id="reporting-start-{{ contract.id }}" class="pricing-popup dashboard-popup properties-popup reporting-start">
    <h1>{{ 'bureau.reporting.manage' | trans }}</h1>
    <div class="clearfix col-box reporting-box">
        <div class="select-bureaus">
            <p>{{ 'bureau.reporting.select.for'|trans }}</p>
            <p>{{ contract.address }}</p>
            <div class="select-bureaus">
                <p>
                    <input type="checkbox" id="reportExperian-{{ contract.id }}" value="experian" {% if contract.reporting.experian %}checked{% endif %} />
                    <label for="reportExperian-{{ contract.id }}">{{ 'bureau.reporting.experian'|trans }}</label>
                </p>
                <p>
                    <input type="checkbox" id="reportTU-{{ contract.id }}" value="trans_union" {% if contract.reporting.trans_union %}checked{% endif %} />
                    <label for="reportTU-{{ contract.id }}">{{ 'bureau.reporting.trans_union'|trans }}</label>
                </p>
                <p>
                    <input type="checkbox" id="equifax-{{ contract.id }}" value="equifax" {% if contract.reporting.equifax %}checked{% endif %} />
                    <label for="equifax-{{ contract.id }}">{{ 'bureau.reporting.equifax'|trans }}</label>
                </p>
            </div>
            <p>{{ 'bureau.reporting.manage.description' | trans({'%link%': link}) | raw }}</p>
        </div>
        <div class="footer-button-box">
            <button class="button buttonFix start-reporting" id="reporting-btn-{{ contract.id }}">
                <span>{{ 'bureau.reporting.save' | trans }}</span>
            </button>
        </div>
    </div>
</div>
<!-- end Reporting -->
