{% extends "LandlordBundle::base.html.twig" %}

{% block content %}
{% include 'LandlordBundle:Settings:_menu.html.twig' %}
<div class="column-middle floatright">
  <div class="pod-middle pod-border pod-padding shadow">
    <section class="form-content">
      <h3>{{'settings.deposit'|trans}}</h3>
      <br />
      <hr />
      <br />
      <p>{{'settings.deposit.description'|trans}}</p>
      <br />
      <hr>
      <br />
      <a href="#" class="add-account">{{ 'add.account'|trans }}</a>
    </section>
    <div class="col-box clearfix"></div>
  </div>
</div>
<div class="col-box clearfix"></div>



<!-- Action Add deposit account -->
<div id="deposit-landlord-popup" class="pricing-popup dashboard-popup">
  <h1>{{ 'add.account.popup.title.edit'|trans }}</h1>
  <div class="clearfix col-box">
    <div class="col">
          <p class="clearfix">
            <span>{{'add.account.popup.desc'|trans}}</span>
          </p>
          <br />
    </div>
  </div>
  <div class="footer-button-box">
    <button class="button" type="submit">
      <span>{{'add.account'|trans}}</span>
    </button>
    <div class="with-seperator-box">
      <button class="button grey" onclick="$('#deposit-landlord-popup').dialog( 'close' ); return false;">
        <span>{{ 'cancel'|trans}}</span>
      </button>
    </div>
  </div>
</div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LandlordBundle/Resources/public/css/settings.deposit.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@LandlordBundle/Resources/public/js/settings.deposit.js'
                    '@RjCoreBundle/Resources/public/js/jquery-ui.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}