{% extends 'RjAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'admin.dashboard'|trans }}</a><span class="divider">/</span></li>
    <li class="active">{{ 'admin.rental_report'|trans }}</li>
{% endblock %}

{% block content %}
    <h1>{{ 'admin.rental_report'|trans }}</h1>
    {% for flash in app.session.flashbag.get('notice') %}
        <div class="alert">{{ flash }}</div>
    {% endfor %}
    <form method="post">
        <div>

            <label for="report_type">{{ 'admin.report.choose_type'|trans }}</label>
            <select name="type" id="report_type">
                <option value="experian">{{ 'admin.report.experian'|trans }}</option>
                <option value="trans_union">{{ 'admin.report.trans_union'|trans }}</option>
            </select>

            <label for="report_month">{{ 'admin.report.choose_month'|trans }}</label>
            <select name="month" id="report_month">
                {% for monthNo, monthName in months %}
                    <option value="{{ monthNo }}">{{ monthName }}</option>
                {% endfor %}
            </select>

            <label for="report_year">{{ 'admin.report.choose_year'|trans }}</label>
            <select name="year" id="report_year">
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="{{ 'admin.report.generate'|trans }}"/>
    </form>

{% endblock %}
