<div id="payments-block" class="contracts-block landrord-box" style="padding-bottom:0px;">
      <div class="title-box clearfix">
        <h2 data-bind="text: '{{'payments.total'|trans}} (' + $root.total() + ')'"></h2>
        <div class="fiter-box">
          <label>{{ 'filter.by'|trans }}</label>
          <select id="searchPayments" class="select custom-select blue-arrow selectBox">
            <option value="status">{{ 'filter.status'|trans }}</option>
            <option value="property">{{ 'property'|trans }}</option>
            <option value="tenant">{{ 'tenant'|trans }}</option>
            <option value="amount">{{ 'amount'|trans }}</option>
          </select>
          <div id="searchInput" style="display:none;" class="finder-box">
            <input type="text" id="searsh-field-payments" name="searsh-field"  data-bind="value: searchText">
            <a style="display: block; visibility: visible;" href="#" data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }" id="delete" class="pie-el">x</a>
            <button type="submit" id="search-submit-payments" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
          </div>
          <div id="searchSelect" class="finder-box" >
            <select id="searchPaymentsStatus" class="select custom-select blue-arrow selectBox">
              <option value=''>- {{'select.status.all'|trans}} -</option>
             <option value='new'>{{'pending'|trans}}</option>
             <option value='complete'>{{'paid'|trans}}</option>
             <option value='error'>{{'error'|trans}}</option>
            </select>
            <button type="submit" id="search-submit-payments-status" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
          </div>

        </div>
      </div>
      <div class="content-box">
        <div class="properties-table-block table-wrap">
          <div class="table-margin">
            <table class="properties-table zebra-grid" 
            data-bind="style: { display: processPayment() ? 'none ' :  'table' }"
            style="display:none;"
            >
              <thead>
                <tr class="properties-th">
                  <th class="pie-el">
                    <span class="sort" id="status" data-bind="click: sortIt" data="status">
                      {{ 'filter.status'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el">
                    <span class="sort" id="date-posted" data-bind="click: sortIt" data="date.posted">
                      {{ 'date.posted'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el" >
                    <span class="sort" id="date-initiated" data-bind="click: sortIt" data="date.initiated">
                      {{ 'date.initiated'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el">
                    <span class="sort" id="property" data-bind="click: sortIt" data="property">
                      {{ 'property'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el">
                    <span class="sort" id="first_name" data-bind="click: sortIt" data="tenant">
                      {{ 'tenant'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el">
                    <span class="sort" id="amount" data-bind="click: sortIt" data="amount">
                      {{ 'amount'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el">
                    <span>{{ 'type'|trans }}<i> </i></span>
                  </th>
                </tr>
              </thead>
              <tbody id="payments-block-tbody">
                <!-- ko foreach: { data: aPayments() } -->
                <tr>
                  <td data-bind="attr: {'class': 'actions-status '+style}, text: status"></td>
                  <td data-bind="text: start"></td>
                  <td data-bind="text: finish"></td>
                  <td data-bind="text: address"></td>
                  <td data-bind="text: tenant"></td>
                  <td data-bind="text: amount"></td>
                  <td class="type-box"><img data-bind="attr: {src: icon}"></td>
                </tr>
                <!-- /ko -->
              </tbody>
            </table>
            <img src="/bundles/core/images/img_loading.gif" id="processPayment" class="processPayment" data-bind="style: { display: processPayment() ? 'block' : 'none' }">
            <h3 class="processPayment" data-bind="style: { display: haveData() ? 'none' : 'block' }">{{'donthavedata'|trans}}</h3>
          </div>
        </div>
      </div>
      <div class="clearboth"></div>
      <br />
      <div class="legeng-box">
        <ul class="legeng">
          <li class="tr">
            <div class="th cell">
              {{ 'legend'|trans }}
            </div>
            <div class="th cell"></div>
          </li>
          <li class="tr">
            <div class="cell">
              <ul class="vert">
                <li>
                  <span class="clarification alert"><i> </i>{{ 'alert'|trans }}</span>
                </li>
                <li>
                  <span class="clarification pending"><i> </i>{{ 'pending'|trans }}</span>
                </li>
              </ul>
            </div>
            <div class="cell">
              <ul class="hor">
                <li>
                  <span class="clarification alert"><i> </i>{{ 'alert'|trans }}</span>
                  <span class="clarification e-check"><i> </i>{{ 'E-Check'|trans }}</span>
                  <span class="clarification credit-card"><i> </i>{{ 'credit.card'|trans }}</span>
                  <span class="clarification recurring"><i> </i>{{ 'recurring'|trans }}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- ko if: pages().length -->
      <nav class="pagination-box">
          <ul>
            <!-- ko foreach: pages() -->
              <!-- ko if: $data == $root.current() -->
              <li><span data-bind="click: $root.goToPage, text: $data" class="pagePagination"></span></li>
              <!-- /ko -->
              <!-- ko ifnot: $data == $root.current() -->
              <li><a href="#" data-bind="click: $root.goToPage, text: $data" class="pagePagination"></a></li>
              <!-- /ko -->
              <!-- ko ifnot: $data == $root.last() -->
                <li>|</li>
              <!-- /ko -->
            <!-- /ko -->
          </ul>
      </nav>
      <!-- /ko -->
      <div class="clearboth"></div>
</div>
