<div id="payments-block" class="contracts-block landrord-box" style="padding-bottom:0px;">
    <div class="title-box clearfix">
        <h2 data-bind="text: '{{'payments.total'|trans}} (' + $root.total() + ')'"></h2>
        <div class="fiter-box">
            {% if group.groupSettings.isIntegrated %}
                <div class="externalPaymentsBlock">
                    <input type="checkbox" data-bind="checked: showCashPayments" />
                    <span>{{ 'landlord.payments_list.show_external_payments'|trans }}</span>
                </div>
            {% endif %}
            <select id="searchPayments" data-bind="value: searchCollum" class="select custom-select blue-arrow selectBox">
                <option value="status">{{ 'payments.filter.status'|trans }}</option>
                <option value="property">{{ 'payments.filter.property'|trans }}</option>
                <option value="tenant">{{ 'payments.filter.tenant'|trans }}</option>
                <option value="amount">{{ 'payments.filter.amount'|trans }}</option>
                <option value="checkNumber">{{ 'payments.filter.checkNumber'|trans }}</option>
                <option value="batch_deposit_report">{{ 'payments.filter.batch_deposit_report.go'|trans }}</option>
            </select>
            <div id="searchInput" data-bind="visible: searchCollum() != 'status'" class="finder-box">
                <input type="text" id="searsh-field-payments" name="searsh-field"  data-bind="value: searchText">
                <a href="#" data-bind="click: clearSearch" id="delete" class="pie-el">x</a>
                <button type="submit" id="search-submit-payments" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
            </div>
            <div id="searchSelect" class="finder-box" data-bind="visible: searchCollum() == 'status'">
                <select id="searchPaymentsStatus" class="select custom-select blue-arrow selectBox">
                    <option value=''>- {{'select.status.all'|trans}} -</option>
                    <option value='new'>{{'pending'|trans}}</option>
                    <option value='pending'>{{'processing'|trans}}</option>
                    <option value='complete'>{{'paid'|trans}}</option>
                    <option value='error'>{{'error'|trans}}</option>
                    <option value='returned'>{{'returned'|trans}}</option>
                    <option value='refunded'>{{'refunded'|trans}}</option>
                </select>
                <button type="submit" id="search-submit-payments-status" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="properties-table-block table-wrap">
          <div class="table-margin">
            <table class="properties-table"
            data-bind="style: { display: processPayment() ? 'none ' :  'table' }"
            style="display:none;"
            >
              <thead>
                <tr class="properties-th">
                  <th class="pie-el column-order-status">
                    <span class="sort" id="status" data-bind="click: sortIt" data="status">
                      {{ 'filter.status'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el column-order-date">
                    <span class="sort" id="date-initiated" data-bind="click: sortIt" data="date.initiated">
                      {{ 'date.initiated'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el column-order-address">
                    <span class="sort" id="property" data-bind="click: sortIt" data="property">
                      {{ 'property'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el column-order-tenant">
                    <span class="sort" id="first_name" data-bind="click: sortIt" data="tenant">
                      {{ 'tenant'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el column-order-amount">
                    <span class="sort" id="sum" data-bind="click: sortIt" data="sum">
                      {{ 'amount'|trans }}<i> </i>
                    </span>
                  </th>
                  <th class="pie-el column-order-type">
                    <span>{{ 'type'|trans }}<i> </i></span>
                  </th>
                </tr>
              </thead>

              <tbody id="payments-block-tbody" data-bind="foreach: payments" class="zebra-grid">
                <tr>
                    <td data-bind="attr: {'class': 'actions-status '+style}">
                        <span data-bind="text: status, i18n:{}, attr: {'title' : $root.orderStatusTitle($data)}"></span>
                        <span
                            class="status-text-helper"
                            data-bind="visible: !$root.isSuccessfulStatus(status)"
                            style="cursor: pointer">
                            <img src="{{ asset('bundles/core/images/help-icon.gif') }}">
                        </span>
                    </td>
                    <td data-bind="text: finish"></td>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: $root.getTenantWithDepositTitle($data)"></td>
                    <td data-bind="text: amount"></td>
                    <td class="type-box"><span data-bind="attr: {'class': 'clarification ' + icon}"><i></i></span></td>
                </tr>
              </tbody>

            </table>
            <img src="{{ asset('/bundles/core/images/img_loading.gif') }}" id="processPayment" class="processPayment" data-bind="visible: processPayment">
            <h3 class="processPayment" data-bind="visible: !haveData()">{{'donthavedata'|trans}}</h3>
          </div>
        </div>
      </div>
      <div class="clearboth"></div>
      <br />
      {% include 'RjCoreBundle::paymentsLegend.html.twig' %}
      <!-- ko if: pages().length -->
      <nav class="pagination-box">
          <ul>
            <!-- ko foreach: pages() -->
              <!-- ko if: $data == $root.current() -->
              <li><span data-bind="click: $root.goToPage, text: $data" class="pagePagination"></span></li>
              <!-- /ko -->
              <!-- ko ifnot: $data == $root.current() -->
              <li><a href="#" data-bind="click: $root.goToPage, text: $data" class="pagePagination"></a></li>
              <!-- /ko -->
              <!-- ko ifnot: $data == $root.last() -->
                <li>|</li>
              <!-- /ko -->
            <!-- /ko -->
          </ul>
      </nav>
      <!-- /ko -->
      <div class="clearboth"></div>
</div>
