{% extends "::base.html.twig" %}

{% block title "New Appliant" %}

{% block stylesheets %}
  <link href="{{ asset('bundles/user/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">» Log In </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>Welcome to Credit Jeeves.</h1>
            <h3>Please enter your information below and we can get started right away.</h3>
                <form action="{{ path('applicant_returned') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <table>
                        <tr>
                            <td>{{ form_label(form.code) }}</td>
                            <td>{{ form_widget(form.code, { 'attr': {'class': 'user-margin'} }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.email) }}</td>
                            <td>{{ form_widget(form.email, { 'attr': {'class': 'user-margin'} }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.user.first_name) }}</td>
                            <td>
                                {{ form_widget(form.user.first_name, { 'attr': {'class': 'user-input user-name user-margin'} }) }}
                                {{ form_widget(form.user.middle_initial, { 'attr': {'class': 'user-input user-initial user-margin'} }) }}
                                {{ form_widget(form.user.last_name, { 'attr': {'class': 'user-input user-name user-margin'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.user.ssn1) }}<span class="lock-icon floatright"></span></td>
                            <td>
                                {{ form_widget(form.user.ssn1, { 'attr': {'class': 'user-input user-ssn1 user-margin', 'maxlength' : 3} })}}
                                {{ form_widget(form.user.ssn2, { 'attr': {'class': 'user-input user-ssn2 user-margin', 'maxlength' : 2} }) }}
                                {{ form_widget(form.user.ssn3, { 'attr': {'class': 'user-input user-ssn3 user-margin', 'maxlength' : 4} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.user.street_address1) }}</td>
                            <td>
                                {{ form_widget(form.user.street_address1, { 'attr': {'class': 'user-input user-address user-margin', 'placeholder': 'Street'} })}}
                                {{ form_widget(form.user.unit_no, { 'attr': {'class': 'user-input user-unit user-margin', 'placeholder': 'Unit #'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                {{ form_widget(form.user.city, { 'attr': {'class': 'user-input user-city user-margin floatleft', 'placeholder': 'City'} })}}
                                {{ form_widget(form.user.state, { 'attr': {'class': 'user-input user-state user-margin'} })}}
                            </td>
                        </tr>
                        <tr>
                        <td colspan="2">
                        <div class="checkbox-anywhere">
                            {{ form_widget(form.user.tos) }}
                            </div>
                        </td>
                        </tr>
                        </table>
                    {{ form_rest(form) }}
                    <input class="button large green" type="submit" name="_submit" value="Get Score" />
                </form>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
