{% extends "::base.html.twig" %}

{% block title "New Appliant" %}

{% block stylesheets %}
  <link href="{{ asset('bundles/user/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">» Log In </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h3>Tailored to You</h3>
            <iframe src="https://player.vimeo.com/video/50397606?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=false"
                  width="235"
                  height="140"
                  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
            </iframe>
            <p>Credit Jeeves is a powerful service designed to help you understand, optimize and directly impact your credit score.</p>
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>Welcome to Credit Jeeves.</h1>
            <h3>Please enter your information below and we can get started right away.</h3>
            <table>
                <form action="{{ path('applicant_returned') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <tr>
                        <td>{{ form_label(form.email) }}</td>
                        <td>{{ form_widget(form.email, { 'attr': {'class': 'user-input user-item user-email-address'} }) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.first_name) }}</td>
                        <td>
                            {{ form_widget(form.first_name,     { 'attr': {'class': 'user-input user-item user-name'} }) }}
                            {{ form_widget(form.middle_initial, { 'attr': {'class': 'user-input user-item user-initial'} }) }}
                            {{ form_widget(form.last_name,      { 'attr': {'class': 'user-input user-item user-name'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            {{ form_rest(form) }}
                            <input class="button large green" type="submit" name="_submit" value="Update" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
