{% extends "LandlordBundle::base.html.twig" %}

{% form_theme form ':Form:form_errors.html.twig' %}

{% block content %}
<section class="form-content">
<form action="{{ path('landlord_edit_profile') }}" method="post" {{ form_enctype(form) }} id="landlordAccountInformation" >
    <div class="box type1">
      <h3 class="clearfix">
        <span>{{ 'account.information'|trans }}</span>
        <small><b>*</b>{{ 'required' }}</small>
      </h3>
      <div class="col-box clearfix">
        <div class="col">
          <h4>{{ 'change.your.basic'|trans }}</h4>
          <div class="form-row clearfix">
            <label>{{ 'name'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.first_name, { 'attr': {'class': 'half-width', 'placeholder':"first"} }) }}
              {{ form_widget(form.last_name, { 'attr': {'class': 'half-width', 'placeholder':"last"} }) }}
              {{ form_errors(form.first_name) }}
              {{ form_errors(form.last_name) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'address'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.address.street, { 'attr': {'class': 'street-width', 'placeholder':"Street"} }) }}
              {{ form_widget(form.address.unit, { 'attr': {'class': 'zc-width', 'placeholder':"Unit"} }) }}
              {{ form_errors(form.address.street) }}
              {{ form_errors(form.address.unit) }}
            </div>
            <div class="fields-box">
              {{ form_widget(form.address.city, { 'attr': {'class': 'city-width', 'placeholder':"City"} }) }}
              {{ form_widget(form.address.area, { 'attr': {'class': 'two-chars-width custom-select'} }) }}
              {{ form_widget(form.address.zip, { 'attr': {'class': 'zc-width', 'placeholder':"Zip Code"} }) }}
              {{ form_errors(form.address.city) }}
              {{ form_errors(form.address.area) }}
              {{ form_errors(form.address.zip) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'phone'|trans }}</label>
            <div class="fields-box">
                {{ form_widget(form.phone, { 'attr': {'placeholder':"phone"} }) }}
                {{ form_errors(form.phone) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'email'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.email, { 'attr': {'placeholder':"example@mail.com"} }) }}
              {{ form_errors(form.email) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-box clearfix">
      <div class="buttons left">
        <button id="submitForm" type="submit" class="button"><span>{{ 'savechanges'|trans }}</span></button>
        <img src="/bundles/rjpublic/images/ajax-loader.gif" class="loader">
      </div>
    </div>
    <div style="display:none;">
        {{ form_rest(form) }}
    </div>
</form>
</section>
<div class="col-box clearfix"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LandlordBundle/Resources/public/css/editProfile.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@LandlordBundle/Resources/public/js/accountInformation.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}