<footer>
        <div class="clearfix">
          <div class="text-box">
            <h3>{{ 'rj.footer.title' | trans }}</h3>
            <p>{{ 'rj.footer.comment' | trans }}</p>
              {{ include('RjCoreBundle::nortonSecured.html.twig', {'flash': true}) }}
              {{ include('RjCoreBundle::bbbseal.html.twig', {'pad': false}) }}
          </div>
          <nav>
            <ul class="navigation clearfix">
              <li>
                <dl>
                  <dt>{{ 'rj.footer.title.work' | trans }}</dt>
                  <dd><a href="http://www.renttrack.com/how-it-works" title="{{ 'rj.footer.process' | trans }}">{{ 'rj.footer.process' | trans }}</a></dd>
                  <dd><a href="http://www.renttrack.com/pay-rent-online" title="{{ 'rj.footer.renters' | trans }}">{{ 'rj.footer.renters' | trans }}</a></dd>
                  <dd><a href="http://www.renttrack.com/property-management" title="{{ 'rj.footer.landlord' | trans }}">{{ 'rj.footer.landlord' | trans }}</a></dd>
                  <dd><a href="http://www.renttrack.com/faq" title="{{ 'rj.footer.faq' | trans }}">{{ 'rj.footer.faq' | trans }}</a></dd>
                </dl>
              </li>
              <li>
                    <dl>
                        <dt>{{ 'rj.footer.title.learn' | trans }}</dt>
                        <dd><a href="http://www.renttrack.com/about" title="{{ 'rj.footer.about_us' | trans }}">{{ 'rj.footer.about_us' | trans }}</a></dd>
                        <dd><a href="http://www.renttrack.com/#contact" title="{{ 'rj.footer.contact_us' | trans }}">{{ 'rj.footer.contact_us' | trans }}</a></dd>
                        <dd><a href="http://www.renttrack.com/team" title="{{ 'rj.footer.managment' | trans }}">{{ 'rj.footer.managment' | trans }}</a></dd>
                        <dd><a href="http://help.renttrack.com/" title="{{ 'rj.footer.feedback' | trans }}">{{ 'rj.footer.feedback' | trans }}</a></dd>
                    </dl>
              </li>
            </ul>
            <ul class="copyright clearfix">
              <li>&copy;{{ 'rj.footer.copyright' | trans | replace({'%nYear%': currentYear }) }}</li>
              <li><a href="http://www.renttrack.com/terms-of-service" title="{{ 'rj.footer.terms' | trans }}">{{ 'rj.footer.terms' | trans }}</a></li>
              <li><a href="http://www.renttrack.com/privacy-policy" title="{{ 'rj.footer.policy' | trans }}">{{ 'rj.footer.policy' | trans }}</a></li>
            </ul>
          </nav>
        </div>
        <!-- {{ random() }} -->
</footer>
