{% extends "ApplicantBundle::base.html.twig" %}

{% block title "appliant_dashboard_title"|trans %}

{% block info %}
    <p class="user-email">{{ sEmail }} </p>

    {# FIXME must be moved to base layout #}
    <div class="user-logout">
        <a href="{{ path('fos_user_security_logout') }}">» Log out </a>&nbsp;|&nbsp;
        <a href="{{ path('fos_user_security_logout') }}">» Help </a>
    </div>
{% endblock %}

{% block content %}
    <div class="column-middle floatleft">
        {{ render(controller('ComponentBundle:Score:index')) }}
    </div>
    <div class="column-small floatright">
        {{ render(controller('ComponentBundle:Goods:index')) }}
    </div>
    <div class="clearboth"></div>
    <div class="row-20"></div>
    <div class="column-large">
        {{ render(controller('ComponentBundle:Simulation:index')) }}
        <div class="row-20"></div>
        {{ render(controller('ComponentBundle:Incentives:index')) }}
    </div>
    <div class="row-20"></div>
    <div class="column-middle floatleft">
        {{ render(controller('ComponentBundle:AccountStatus:index')) }}
    </div>
    <div class="column-small floatright">
        {{ render(controller('ComponentBundle:DidYouKnow:index')) }}
    </div>
    <div class="clearboth"></div>
{% endblock %}
