{% extends "LandlordBundle::base.html.twig" %}

{% block content %}
<div class="landrord-box">
    <div class="title-box clearfix">
      <h2>{{ 'add.yourfirst.property'|trans }}</h2>
    </div>
    <div class="content-box properties-box">
      <small class="required"><b>*</b>{{ 'required'|trans }}</small>
      
      <div class="col-box clearfix">
        <div class="col left">
          <h4>{{ 'property.info'|trans }}</h4>
          <div class="search-box pie-el">
            <label for="searsh-field">{{ 'find.your.rentaladdress'|trans }}</label>
            <div class="clearfix">
              <input type="text" placeholder="{{ 'your.rental'|trans }}" value="" name="searsh-field" id="property-search">
              <a class="pie-el" id="delete" href="#">x</a>
              <button class="pie-el" id="search-submit" type="submit">{{ 'search'|trans }}</button>
              <img src="{{ asset('/bundles/rjpublic/images/spinner-grey-ajax-loader.gif') }}" title="{{'loading'|trans}}..." class="loadingSpinner">
            </div>
            <div id="search-result-map"></div>
          </div>
          <div id="errorSearch" style="margin-top:5px;"></div>
        </div>
        <div class="col right">
          <h4>{{ 'unit.add'|trans }}</h4>
          <div class="form-row clearfix">
            <label>{{ 'unit.numberof'|trans }}<b>*</b></label>
            <div class="fields-box">
              <input type="text" class="zc-width" name="numberOfUnit" id="numberOfUnit">
              <button style="margin-top: -5px;" class="button small grey disabled" id="addUnit" type="button">
                <span>{{ 'add'|trans }}</span>
              </button>
            </div>
          </div>
          <div class="form-row clearfix full show">
            <label>{{ 'nameofunit'|trans }}<b>*</b></label>
            <div class="fields-box unitsListNames" style="width:320px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-button-box">
      <button class="button xmiddle grey disabled" id="addProperty"><span>{{ 'add.property'|trans }}</span></button>
      <img src="/bundles/rjpublic/images/ajax-loader.gif" class="loader">
    </div>
  </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
    {% javascripts '@ComponentBundle/Resources/public/js/groups.js'
                   '@RjPublicBundle/Resources/public/js/jquery.google.js'
                   '@LandlordBundle/Resources/public/js/propertyNew.js'
     %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LandlordBundle/Resources/public/css/property.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block head_javascripts %}
{% endblock %}