{% block stylesheets %}
    <link href="{{ asset('bundles/core/css/tabs.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<div class="top-nav">
    <ul>
        <li class="{% if sRouteName == 'applicant_homepage' %}active{% endif %}">
            <a href="{{ path('applicant_homepage') }}">
                <span class="tab-corner"></span>
                {{ 'action_plan'|trans }}
            </a>
        </li>
        <li class="{% if sRouteName == 'applicant_summary' %}active{% endif %}">
            <a href="{{ path('applicant_summary') }}">
                <span class="tab-corner"></span>
                {{ 'credit_summary'|trans }}
            </a>
        </li>
        {% if nReport > 0 %}
        <li class="{% if sRouteName == 'applicant_report' %}active{% endif %}">
            <a href="{{ path('applicant_report') }}">
                <span class="tab-corner"></span>
                {{ 'tab.report'|trans }}
            </a>
        </li>
        {% endif %}
        <li class="{% if sRouteName == 'applicant_password' %}active{% endif %}">
            <a href="{{ path('applicant_password') }}">
                <span class="tab-corner"></span>
                {{ 'my_account'|trans }}
            </a>
        </li>
    </ul>
</div>
