<section class="pay-box">
    <div class="pay-content">
        <h1>{{ 'paybox.landlord.title' | trans() }}</h1>
        <div class="pay-credit clearfix">
            <div class="col one-third quickly">
                <i class="pie-el"> </i>
                <div>
                    <h3>{{ 'paybox.landlord.get.paid' | trans() }}<br>{{ 'paybox.landlord.quickly' | trans() }}</h3>
                    <h4>{{ 'paybox.landlord.title_2' | trans() }}</h4>
                    <p>{{ 'paybox.landlord.title_3' | trans() }}</p>
                </div>
            </div>
            <div class="col one-third gain">
                <i class="pie-el"></i>
                <div>
                    <h3>{{ 'paybox.landlord.gein.reliable' | trans() }}<br>{{ 'paybox.landlord.tenants' | trans() }}</h3>
                    <h4>{{ 'paybox.landlord.title_4' | trans() }}</h4>
                    <p>{{ 'paybox.landlord.title_5' | trans() }}</p>
                </div>
            </div>
            <div class="col one-third collect">
                <i class="pie-el"> </i>
                <div>
                    <h3>{{ 'paybox.landlord.collect.payments' | trans() }}<br>{{ 'paybox.landlord.effortlessly' | trans() }}</h3>
                    <h4>{{ 'paybox.landlord.title_6' | trans() }}</h4>
                    <p>{{ 'paybox.landlord.title_7' | trans() }}</p>
                </div>
            </div>
        </div>
        <div class="quote-box">
            <q><span>{{ 'paybox.landlord.quote_1' | trans() }}</span></q>
            <p>{{ 'paybox.landlord.quote_2' | trans() }}</p>
        </div>
    </div>
</section>