<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ app.request.locale }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ app.request.locale }}"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>{{ 'public.base.title' | trans() }}</title>
        {% stylesheets '@CoreBundle/Resources/public/css/styles.css'
                       '@CoreBundle/Resources/public/css/pricing-popup.css'
                       '@RjPublicBundle/Resources/public/css/footer.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!--[if lt IE 9]>
        {% stylesheets '@RjPublicBundle/Resources/public/css/checked.css'
                       '@RjPublicBundle/Resources/public/css/ie8.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <![endif]-->
        {% block stylesheets %}
        {% endblock %}
        {% javascripts '@RjPublicBundle/Resources/public/js/modernizr-2.6.2.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="//cdn.optimizely.com/js/561845409.js"></script>
        {% block google_analytics %}
            {% include 'RjCoreBundle::google_analytics.html.twig' %}
        {% endblock %}
        <!-- {{ random() }} -->
    </head>
    <body>
        <div class="wrapper all">
            <header>
                <div class="clearfix">
                    <a href="http://www.renttrack.com/" title="RentTrack" class="logo"></a>
                    <ul>
                        <li class="faq">
                            {{ 'public.base.questions' | trans() }} <strong>866-841-9090</strong>
                            <a href="http://www.renttrack.com/faq" title="{{ 'public.base.faq' | trans() }}">{{ 'public.base.faq' | trans() }}</a>
                        </li>
                        <li class="login">
                            <a href="https://my.renttrack.com/" title="{{ 'public.base.login' | trans() }}">{{ 'public.base.login' | trans() }}</a>
                        </li>
                    </ul>
                </div>
            </header>
            {% block payBox %}
                    {{ include(
                    'RjPublicBundle::_tenantMarketing.html.twig'
                    ) }}
            {% endblock %}
            <div class="content">
                {% block pricingBenefitStatement %}
                <div class="pricing-benefit-statement clearfix">
                    <a href="#" id="popup-pricing" title="Pricing">{{ 'benefit.landlord.pricing.options' | trans() }}</a>
                    <strong>{{ 'benefit.landlord.el.free' | trans() }}</strong>
                </div>
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
                {{ render(controller('RjComponentBundle:Footer:index')) }}
            {% endblock %}
        </div>
        {% javascripts  '@RjPublicBundle/Resources/public/js/jquery-1.10.2.min.js'
                        '@RjPublicBundle/Resources/public/js/jquery-ui.js'
                        '@RjPublicBundle/Resources/public/js/jquery.placeholder.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE678.js'
                        '@RjPublicBundle/Resources/public/js/checked.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
        <!--[if IE 9]>
        {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE9.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
        {% javascripts  '@RjPublicBundle/Resources/public/js/main.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
