<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ app.request.locale }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ app.request.locale }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>RentTrack</title>
    {% stylesheets '@CoreBundle/Resources/public/css/styles.css'
                   '@RjPublicBundle/Resources/public/css/footer.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--[if lt IE 9]>
    {% stylesheets '@RjPublicBundle/Resources/public/css/checked.css'
                   '@RjPublicBundle/Resources/public/css/ie8.css' 
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <![endif]-->
    {% block stylesheets %}
    {% endblock %}
    <script src="//cdn.optimizely.com/js/561845409.js"></script>
    {% block google_analytics %}
      {% include 'RjCoreBundle::google_analytics.html.twig' %}
    {% endblock %}
    {% javascripts '@RjPublicBundle/Resources/public/js/modernizr-2.6.2.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  </head>
  <body style="background-color: #ADAAA0; padding:6px;">
    {% block content %}
    {% endblock %}

    {% javascripts  '@RjPublicBundle/Resources/public/js/jquery-1.10.2.min.js'
                    '@RjPublicBundle/Resources/public/js/jquery-ui.js'
                    '@RjPublicBundle/Resources/public/js/jquery.placeholder.min.js' 

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lt IE 9]>
    {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE678.js'
                    '@RjPublicBundle/Resources/public/js/checked.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    <!--[if IE 9]>
    {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE9.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    {% javascripts  '@RjPublicBundle/Resources/public/js/main.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ include('RjComponentBundle:Google:js.html.twig') }}
    {% block javascripts %}
    {% endblock %}
  </body>
</html>

