<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>RentJeeves</title>
    {% stylesheets '@RjPublicBundle/Resources/public/css/styles.css'%}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--[if lt IE 9]>
    {% stylesheets '@RjPublicBundle/Resources/public/css/checked.css'
                   '@RjPublicBundle/Resources/public/css/ie8.css' 
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <![endif]-->
    {% block stylesheets %}
    {% endblock %}
    {% javascripts '@RjPublicBundle/Resources/public/js/modernizr-2.6.2.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  </head>
  <body>
   <div class="wrapper all">
      <header>
        <div class="clearfix">
          <a href="#" title="RentJeeves" class="logo">RentJeeves</a>
          <ul>
            <li class="faq">
              Questions? <strong>866-976-6622</strong>
              <a href="#" title="FAQs">FAQs</a>
            </li>
            <li class="login">
              <a href="#" title="LOG IN">LOG IN</a>
            </li>
          </ul>
        </div>
      </header>

      {% block payBox %}
        <section class="pay-box">
          <div class="pay-content">
            <h1>Pay your rent on time. Build your credit.</h1>
            <div class="pay-credit clearfix">
              <div class="col pay">
                <i class="pie-el"> </i>
                <div>
                  <h3>GET SOMETHING OUT OF IT!</h3>
                  <h4>Maintain good credit habits, with a little help from Rent Jeeves.</h4>
                  <p>
                    Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product to potential tenants. More marketing text selling the product to  tenants.
                  </p>
                </div>
              </div>
              <div class="col credit">              
                <i class="pie-el"> </i>
                <div>
                  <h3>SOOOO...</h3>
                  <h4>How much is this gonna cost?</h4>
                  <p>
                    Rent Jeeves lets you more marketing text selling the product to potential tenants. Rent Jeeves lets you more marketing text selling the product.
                  </p>
                </div>
              </div>
              <div class="separator">|</div>
            </div>
          </div>
        </section>
      {% endblock %}
      <div class="content">
          {% block pricingBenefitStatement %}
          <div class="pricing-benefit-statement clearfix">
                    <a href="#" title="Pricing Options">Pricing Options</a>
                    <strong>Pricing benefit statement here!</strong>
          </div>
          {% endblock %}
          {% block content %}
          {% endblock %}
      </div>
      {% block footer %}
        {{ render(controller('RjComponentBundle:Footer:index')) }}
      {% endblock %}
    </div>
    {% javascripts  '@RjPublicBundle/Resources/public/js/jquery-1.10.2.min.js'
                    '@RjPublicBundle/Resources/public/js/jquery-ui.js'
                    '@RjPublicBundle/Resources/public/js/jquery.placeholder.min.js' 

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lt IE 9]>
    {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE678.js'
                    '@RjPublicBundle/Resources/public/js/checked.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    <!--[if IE 9]>
    {% javascripts  '@RjPublicBundle/Resources/public/js/PIE_IE9.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    {% javascripts  '@RjPublicBundle/Resources/public/js/main.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
