<div class="pod-small pod-border pod-padding shadow vehicle-pod" style="background-image: url('{{ imageUrl }}');">
    <h3>{{ 'goods.vehicle.title' | trans }}</h3>
    <div class="vehicle-model">
        <span>{{ Make }} {{ Model }}</span>
    </div>
    {% if sLink | length > 0 %}
    <a href="{{ sLink }}" target="_blank">{{ sLink }}</a>
    {% endif %}
    <div class="clearboth"></div>
</div>

