{% use "form_div_layout.html.twig" %}
{% use ':Form:form_errors.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="form-row clearfix">
            {{ form_errors(form) }}
            {{ form_label(form, label|default(null)) }}
            <div class="fields-box">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div class="children" {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="field">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}

                {% if required %}
                    <b>*</b>
                {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}
