{% use 'RjCoreBundle::formElements.html.twig' %}

{% block form_rows %}
    {% for child in form %}
        {% set type = child.vars.block_prefixes[1]|default('text') %}
        {% if child.vars.attr.force_row is not defined or child.vars.attr.force_row == true %}
            {% if child.vars.label or loop.first or child.vars.attr.force_row is defined %}
                {% if loop.first != true %}
                    </div>
                {% endif %}
                {% set attr = child.vars.attr.row_attr|default({}) %}
                {% set row_class = attr.class|default('form-row clearfix type-' ~ type) %}
                {% if child.attr.tooltip_title is defined %}
                    {% set row_class = row_class ~ ' with-tooltip' %}
                {% endif%}
                {% set attr = attr|merge({'class': row_class}) %}
                {% set id = child.vars.id ~ '_row' %}
                <div {{ block('widget_attributes') }}>
            {% endif %}
        {% endif %}
        {{ form_row(child) }}
    {% endfor %}
    </div>
{% endblock form_rows %}

{% block form_row %}
    {% spaceless %}
        {% set type = form.vars.block_prefixes[1]|default('text') %}
        {{ form_errors(form) }}

        {% set _attrOr = attr %}
        {% set attr = form.vars.attr.box_attr|default({}) %}
        {% set attr = attr|merge({'class': 'fields-box'}) %}
        {% set labelAttr = form.vars.label_attr %}
        {% set _orId = id %}
        {% set id = id ~ '_box' %}

        {% if 'checkbox' == type %}
            {% if _attrOr.no_box is not defined %}<div {{ block('widget_attributes') }}>{% endif %}
                {% set id = _orId %}
                {% set attr = _attrOr %}
                <label class="checkbox" for="{{ id }}" {% for key, attr in labelAttr %}{{ key }}="{{ attr }}" {% endfor %}>
                    {{ block('checkbox_widget') }}
                    <span>{{ label|trans({}, translation_domain) }}</span>
                </label>
                {{ block('aditional_attr_block') }}
            {% if _attrOr.no_box is not defined %}</div>{% endif %}
        {% else %}
            {{ form_label(form, label|default(null)) }}
            {% if _attrOr.no_box is not defined %}<div {{ block('widget_attributes') }}>{% endif %}
                {% set id = _orId %}
                {% set attr = _attrOr %}
                {{ form_widget(form) }}
                {{ block('aditional_attr_block') }}
            {% if _attrOr.no_box is not defined %}</div>{% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block aditional_attr_block %}
    {%- if attr.help is defined -%}
        <i title="{{ attr.help | trans({}, translation_domain) }}"
           class="help after-checkbox pie-el tooltip-link"
        >
            ?
        </i>
    {%- endif -%}

    {% if attr.html is defined %}
        {{ attr.html|raw }}
    {% endif %}
    {% if attr.template is defined %}
        <div data-bind="template: { name: '{{ attr.template }}' }"></div>
    {% endif %}
{% endblock aditional_attr_block %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
            <span>{{ label|trans({}, translation_domain) }}</span>
        </button>
    {% endspaceless %}
{% endblock button_widget %}

{% block form_payment_type_fee_radio %}
    {% spaceless %}
        {{ form_label(form) }}
        <div class="payment-type-change-order fields-box">
            {% for child in form %}
                <label class="checkbox radio">
                    {{ form_widget(child) }}
                    <span>{{ child.vars.label|trans({}, translation_domain) }}</span>
                    <span class="payment-type-fee"><span class="payment-fee-value" data-payment-type="{{ child.vars.value }}"></span> fee</span>
                </label>
                {% set attrs = child.parent.vars.attr %}
                {% for key, attr in attrs %}
                    {% set keyArray = key|split('_') %}
                    {% if keyArray[0] is defined and keyArray[0] == 'helps' and keyArray[1] == child.vars['value'] %}
                        {% image '@CoreBundle/Resources/public/images/help-icon.gif' %}
                        <img src="{{ asset_url }}" title="{{ attr|trans({}, translation_domain) }}" class="help-radio"/>
                        {% endimage %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {{ block('aditional_attr_block') }}
        </div>
    {% endspaceless %}
{% endblock form_payment_type_fee_radio %}
