<div class="legeng-box">
    <ul class="legeng">
        <li class="tr">
            <div class="th cell">{{ 'legend'|trans }}</div>
            <div class="th cell"></div>
        </li>
        <li class="tr">
            <div class="cell">
                <ul class="vert">
                    <li><span class="clarification alert"><i> </i>{{ 'alert'|trans }}</span></li>
                    <li><span class="clarification pending"><i> </i>{{ 'pending'|trans }}</span></li>
                </ul>
            </div>
            <div class="cell">
                <ul class="hor">
                    <li>
                        <span class="clarification alert"><i> </i>{{ 'alert'|trans }}</span>
                        <span class="clarification e-check"><i> </i>{{ 'E-Check'|trans }}</span>
                        <span class="clarification credit-card"><i> </i>{{ 'credit.card'|trans }}</span>
                        <span class="clarification cash"><i> </i>{{ 'order.type.cash'|trans }}</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
