<div class="pod-large pod-border shadow">
  <div class="credit-balances-block credit-balances-left">
    <h3>Credit Balances</h3>
    <p class='pod-header'>
      <span class="floatright">as of {{ sDate }}</span>
      <strong class='bigbold'>Total: ${{ nTotal | number_format() }}</strong>
    </p>
    <div class="zebra-grid">
      <div class='header-smooth'>Balance for Loan Type:</div>
      <ul>
        <li>
          Revolving Accounts
          <span class='amount'>${{ nRevolvingDept | number_format() }}</span>
        </li>
        <li>
          Mortgages
          <span class='amount'>${{ nMortgageDebt | number_format() }}</span>
        </li>
        <li>
          Installment Loans
          <span class='amount'>{{ nInstallmentDebt | number_format() }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="credit-balances-block credit-balances-right">
    <h3>How You Rank</h3>
      <div class='rainbow-chart'>
        <span class='score-line score' style="right: {{ nRight }}px">{{ nCurrentScore }}</span>
      </div>
      <div class='key score-text'>Your score is higher than {{ nPercent }} of the population.</div>
  </div>
  <div class="clearboth"></div>
</div>

