{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
    {{ knp_menu_render('TenantBundle:Builder:rentMenu', {'template': 'CoreBundle:Menu:user_rent.html.twig'}) }}
    </div>
    <div class="row-20"></div>
    {% if status == 'new' %}
        {{ render(controller('RjComponentBundle:ContractsList:tenant')) }}
    {% elseif status == 'approved' %}
        {{ render(controller('RjComponentBundle:ContractsList:tenantApproved')) }}
    {% elseif status == 'active'%}
        {{ render(controller('RjComponentBundle:ContractsList:tenantActive')) }}
    {% endif %}
    <br />
    <br />
    {{ render(controller('TenantBundle:Index:info')) }}
{% endblock %}