{% extends "TenantBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
        {% stylesheets '@CoreBundle/Resources/public/css/styles.css'
                       '@CoreBundle/Resources/public/css/pricing-popup.css'
                       '@TenantBundle/Resources/public/css/isPidVerificationSkipped.css'
        %}
             <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>
    <div class="row-20"></div>
        {{ render(controller('RjComponentBundle:ContractsList:tenant')) }}
    <div class="row-20"></div>

    {% include 'RjComponentBundle:PaymentHistory:payments.html.twig' with {'contracts': user.contracts} %}

{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.bussinesDays = {
            heartland : {
                card : {{ businessDays.heartland.card }},
                bank : {{ businessDays.heartland.bank }}
            },
            aci_pay_direct : {
                card : {{ businessDays.aci_pay_direct.card }},
                bank : {{ businessDays.aci_pay_direct.bank }}
            },
            aci_submerchant : {
                card : {{ businessDays.aci_submerchant.card }},
                bank : {{ businessDays.aci_submerchant.bank }}
            }
        };
    </script>
{% endblock %}
