{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', {'template': 'CoreBundle:Menu:user_rent.html.twig'}) }}
    </div>
    <div class="row-20"></div>
    {% if status == 'new' %}
        {{ render(controller('RjComponentBundle:ContractsList:tenantNew', {'status':status })) }}
    {% elseif status == 'approved' %}
        {{ render(controller('RjComponentBundle:ContractsList:tenantNew', {'status':status })) }}
    {% elseif status == 'active'%}
        {{ render(controller('RjComponentBundle:ContractsList:tenant')) }}
    {% endif %}
    <br />
    <br />
    {% if reporting > 0 %}
        {{ render(controller('RjComponentBundle:PaymentHistory:index', {'user': user, 'short': 'true'})) }}
    {% else %}
        {{ render(controller('TenantBundle:Index:info')) }}
    {% endif %}
{% endblock %}
