{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>
    <div class="row-20"></div>
    {% if status == 'current' %}
        {{ render(controller('RjComponentBundle:ContractsList:tenant')) }}
    {% else %}
        {{ render(controller('RjComponentBundle:ContractsList:tenantNew', {'status':status })) }}
    {% endif %}
    <br />
    <br />
    {% if reporting > 0 %}
        {{ render(controller('RjComponentBundle:PaymentHistory:index', {'user': user, 'short': 'true'})) }}
    {% else %}
        {{ render(controller('TenantBundle:Index:info')) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@RjCoreBundle/Resources/public/js/jquery-ui.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
