{% extends "TenantBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
        {% stylesheets '@RjPublicBundle/Resources/public/css/styles.css'
                       '@TenantBundle/Resources/public/css/isPidVerificationSkipped.css'
        %}
             <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>
    <div class="row-20"></div>
        {{ render(controller('RjComponentBundle:ContractsList:tenant')) }}
    <div class="row-20"></div>
    {% if reporting > 0 %}
        {{ render(controller('RjComponentBundle:PaymentHistory:index', {'user': user, 'short': 'true'})) }}
    {% else %}
        {{ render(controller('TenantBundle:Index:info')) }}
    {% endif %}
{% endblock %}
