<!-- popup -->
<div id="reporting-popup" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'bureau.reporting.title' | trans() }}</h1>
    <div class="clearfix col-box" id="blockPopupEditProperty" style="display: block;">
        <div class="col">
            <h4>{{ 'bureau.reporting.text' | trans() }}</h4>
        </div>
        <div class="footer-button-box">
            <a href="{{ path('tenant_reporting_start', {'action': 'start'}) }}" class="button buttonFix button-link">
                <span>{{ 'bureau.reporting.start' | trans() }}</span>
            </a>
        </div>
    </div>
</div>
<!-- End popup -->

<div class="pod-large pod-border pod-padding shadow" id="info-block">
    <h1>{{ 'info.reporting.title' | trans() }}</h1>
    <br />
    <div class="infoBlock">
        <div class="text">
            <h3>{{ 'info.reporting.see' | trans() }}</h3>
            <br />
            <p>
                {{ 'info.reporting.text' | trans() }}
            </p>
            <br />
            <center>
                <button class="button small{% if status == false %} greyButton {% endif %}" data-bind="click: openPopup">
                    <span>{{ 'bureau.reporting.setup' | trans() }}</span>
                </button>
            </center>
        </div>
        <div class="img">
            <img src="/bundles/rjpublic/images/info-block.png" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% javascripts '@TenantBundle/Resources/public/js/Info.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
