<!-- popup -->
<div id="reporting-popup" class="pricing-popup dashboard-popup properties-popup" style="height: 470px;">
    <h1>{{ 'bureau.reporting.title' | trans() }}</h1>
    <div class="clearfix col-box" id="blockPopupEditProperty" style="display: block; height: 420px;">
        <form method="post" action="{{ path('tenant_reporting_start') }}" id="reporting-form">
            <div class="col">
                <p>{% autoescape false %}{{ 'bureau.reporting.text1' | trans() }}{% endautoescape %}</p>
                <div class="select-bureaus">
                    <p>{{ 'bureau.reporting.select'|trans }}</p>
                    <p><input type="checkbox" name="reporting[]" value="experian" id="rep-experian"/><label for="rep-experian">{{ 'bureau.reporting.experian'|trans }}</label></p>
                    <p><input type="checkbox" name="reporting[]" value="trans_union" id="rep-tu"/><label for="rep-tu">{{ 'bureau.reporting.trans_union'|trans }}</label></p>
                    <p><input type="checkbox" name="reporting[]" value="equifax" id="rep-equifax"/><label for="rep-tu">{{ 'bureau.reporting.equifax'|trans }}</label></p>
                </div>
                {% set link = 'http://'~external_urls['main_site']~'/terms-of-service' %}
                <p>{% autoescape false %}{{ 'bureau.reporting.text2' | trans({'%link%': link}) | raw }}{% endautoescape %}</p>
            </div>
            <div class="footer-button-box">
                <a class="button buttonFix button-link" onclick="$('#reporting-form').submit();">
                    <span>{{ 'bureau.reporting.start' | trans() }}</span>
                </a>
            </div>
        </form>
    </div>
</div>
<!-- End popup -->
{% if isReporting %}
    {{ render(controller('RjComponentBundle:PaymentHistory:index')) }}
{% else %}
    <div class="pod-large pod-border pod-padding shadow" id="info-block">
        <h1>{{ 'info.reporting.title' | trans() }}</h1>
        <br />
        <div class="infoBlock">
            <div class="text">
                <h3 class="font-abeezee">{{ 'info.reporting.see' | trans() }}</h3>
                <p class="font-helvetica">
                    {{ 'info.reporting.text' | trans() }}
                    {% if reportingIsOff %}
                        <strong>{{ 'info.reporting.coming_soon' | trans }}</strong>
                    {% else %}
                        {{ 'info.reporting.available' | trans }}
                    {% endif %}
                </p>
                <br />
                <center>
                    <button class="button small" data-bind="click: openPopup, enable: {% if hasAccessToOptInReporting %}true{% else %}false{% endif %}">
                        <span>{{ 'bureau.reporting.setup' | trans() }}</span>
                    </button>
                </center>
            </div>
            <div class="img">
                <img src="{{ asset('bundles/rjpublic/images/info-block.png') }}" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% javascripts '@TenantBundle/Resources/public/js/Info.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}
