{% extends "ApplicantBundle::base.html.twig" %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>{{ 'settings.title' | trans }}</h2>
            {{ knp_menu_render('ApplicantBundle:Builder:settingsMenu', { 'template': 'ApplicantBundle:Menu:applicant_settings.html.twig' }) }}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
        <h1>{{ 'settings.password' | trans }}</h1>
            <table>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <form action="{{ path('applicant_password') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <tr>
                        <td>{{ form_label(form.password) }}</td>
                        <td>{{ form_widget(form.password, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3>{{ 'password.create_new' | trans }}</h3></td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.new_password.Password) }}</td>
                        <td>{{ form_widget(form.new_password.Password, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.new_password.Retype) }}</td>
                        <td>{{ form_widget(form.new_password.Retype, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            {{ form_rest(form) }}
                            <input class="button large green" type="submit" name="_submit" value="Update" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
