{% extends "ApplicantBundle::base.html.twig" %}

{% block title "Appliant Dasboard" %}

{% block stylesheets %}
  <link href="{{ asset('bundles/user/css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block info %}
<p class="user-email">{{ sEmail }} </p>
<div class="user-logout">
    <a href="{{ path('fos_user_security_logout') }}">» Log out </a>&nbsp;|&nbsp;
    <a href="{{ path('fos_user_security_logout') }}">» Help </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>Account Settings</h2><br>
            <span>Change Password</span><br>
            <a href="{{ path('applicant_contact') }}">Contact Information</a><br>
            <a>Email Preferences</a><br>
            <a>Remove Authorization</a>
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
        <h1>Change Password</h1>
            <table>
                <form action="{{ path('applicant_password') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <tr>
                        <td>{{ form_label(form.password) }}</td>
                        <td>{{ form_widget(form.password, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3>Create a new password</h3></td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.new_password.Password) }}</td>
                        <td>{{ form_widget(form.new_password.Password, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.new_password.Retype) }}</td>
                        <td>{{ form_widget(form.new_password.Retype, { 'attr': {'class': 'login-input'} }) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            {{ form_rest(form) }}
                            <input class="button large green" type="submit" name="_submit" value="Update" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
