<div class="landrord-box">
  <div class="title-box clearfix">
    <h2>{{ 'all'|trans }} (<span id="all"></span>)</h2>
    <div id="searchContent" class="fiter-box filterBy">
      <label>{{ 'search.by'|trans }}</label>
      <select id="searchFilterSelect" class="linkselect">
              <option value="street">{{ 'address'|trans }}</option>
              <option value="city">{{ 'city'|trans }}</option>
              <option value="zip">{{ 'zip'|trans }}</option>
              <option value="state">{{ 'state'|trans }}</option>
      </select>
      <div class="finder-box">
        <input type="text" id="search" name="searsh-field"
        data-bind="value: searchText" value="">
        <a style="display: block; visibility: visible;" href="#" data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }"id="delete" class="pie-el">x</a>
        <button type="submit" id="searchButton" data-bind="click: searchFunction" class="pie-el">{{ 'search'|trans }}</button>
        <ul class="list-search-result pie-el">
        </ul>
      </div>
      <button class="button small buttonFixSearch property-button-add"><span>{{ 'add.property'|trans }}</span></button>
    </div>
  </div>
  <div class="content-box" id="properties-block">
    <img src="/bundles/core/images/img_loading.gif" id="processLoading" class="processLoading" data-bind="style: { display: processProperty() ? 'block' : 'none' }">
    <div class="properties-table-block table-wrap" data-bind="style: { display: processProperty() ? 'none' : 'block' }">
      <div class="table-margin">
        <table class="properties-table zebra-grid" data-bind="visible: aProperties().length > 0">
          <thead>
            <tr class="properties-th" >
              <th class="pie-el" ><span>{{ 'address'|trans }}<i> </i></span></th>
              <th class="pie-el" ><span id='zip' class="sort" data-bind="click: sortFunction">
                {{ 'zip'|trans }}
              <i></i>
              </span></th>
              <th class="pie-el" ><span id='city' class="sort" data-bind="click: sortFunction">
                {{ 'city'|trans }}
              <i></i>
              </span></th>
              <th class="pie-el" ><span id='state' class="sort" data-bind="click: sortFunction">
                {{ 'state'|trans }}<i> </i></span></th>
              <th class="pie-el"><span>{{ 'units'|trans }}</span></th>
              <th class="pie-el">&nbsp;</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: aProperties">
            <tr>
              <td data-bind="text: address"></td>
              <td data-bind="text: zip"></td>
              <td class="city" data-bind="text: city"></td>
              <td data-bind="text: area"></td>
              <td data-bind="text: $root.getUnitsText($data)"></td>
              <td class="type-box" >
                <a href="#" class="type-ico pie-el edit property-edit" title="Edit" data-bind="click: $root.editUnits, visible: !isSingle"></a>
                <a href="#" class="type-ico pie-el delete" title="Remove" data-bind="click: $root.removeSingleProperty, visible: isSingle"></a>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 data-bind="visible: aProperties().length == 0" class="notHaveData">{{ 'donthavedata'|trans }}</h3>
      </div>
    </div>
    <br />
    <div data-bind="style: { visibility: processProperty() ? 'hidden' : 'visible' }" class="landrord-box without-top clearfix">
          <nav class="pagination-box">
              <ul>
                <!-- ko foreach: pages() -->
                  <!-- ko if: $data == $root.current() -->
                  <li><span data-bind="click: $root.goToPage, text: $data" class="pagePagination"></span></li>
                  <!-- /ko -->
                  <!-- ko ifnot: $data == $root.current() -->
                  <li><a href="#" data-bind="click: $root.goToPage, text: $data" class="pagePagination"></a></li>
                  <!-- /ko -->
                  <!-- ko ifnot: $data == $root.last() -->
                    <li>|</li>
                  <!-- /ko -->
                <!-- /ko -->
              </ul>
          </nav>
    </div>
  </div>
</div>

<!-- Add Property Popup -->
<div id="add-property-popup" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'add.property'|trans }}</h1>
    <div class="clearfix col-box">
        <div class="col">
            <h4 class="clearfix">
                <span>{{ 'property.info'|trans }}</span>
                <small><b>*</b>{{ 'required'|trans }}</small>
            </h4>
            <div class="search-box pie-el">
                <label for="searsh-field">{{ 'find.your.rental'|trans }}</label>
                <div class="clearfix">
                    <input type="text" placeholder="{{ 'your.rental'|trans }}" value="" name="searsh-field" id="property-search" autocomplete="off">
                    <a class="pie-el clearSearchProperty" id="delete" href="#">x</a>
                    <button class="pie-el" id="search-submit" type="submit">{{ 'search'|trans }}</button>
                    <img src="{{ asset('/bundles/rjpublic/images/spinner-grey-ajax-loader.gif') }}" title="{{'loading'|trans}}..." class="loadingSpinner">
                    <div id="search-result-map"></div>
                </div>
            </div>
            <div class="errorsGoogleSearch"></div>
        </div>
        <div class="col">
            <div class="single-property-checkbox clearfix">
                <span class="error" data-bind="html: singlePropertyErrorMessage"></span>
                <label class="checkbox register-tos">
                    <input type="checkbox" name="isSingleProperty" id="isSingleProperty" data-bind="checked: isSingle"><i></i>
                    <span>{{ 'property.single.checkbox_label'|trans }}</span>
                </label>
            </div>
            <div id="property-units" data-bind="visible: !isSingle()">
                <div class="form-row clearfix">
                    <label>{{'unit.numberof'|trans}}<b></b></label>
                    <div class="fields-box">
                        <input type="text" class="unit-input zc-width" id="numberOfUnit" data-bind="value: add">
                        <button class="button small grey buttonFixPopupAddUnit" id="addUnitToNewProperty" type="button" data-bind="click: addUnits">
                            <span>{{ 'add'|trans }}</span>
                        </button>
                    </div>
                </div>
                <div class="form-row clearfix full show">
                    <label style="width: 78px;">{{ 'nameofunit'|trans }}<b></b></label>
                    <div class="fields-box" style="width:375px;margin-left: -12px;">
                        <!-- ko foreach: { data: aUnits() } -->
                        <div class="units-item">
                            <input type="text" class="unit-input unit-name floatleft" data-bind="value: name" placeholder="Unit">
                            <div class="floatleft unit-delete" data-bind="click: $root.removeUnit"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-button-box">
        <button class="button grey buttonFix" id="saveProperty" data-bind="click: saveProperty">
            <span>{{ 'add.property'|trans }}</span>
        </button>
        <button class="button grey buttonFix" onclick="$('#add-property-popup').dialog( 'close' ); return false;">
            <span>{{ 'cancel'|trans}}</span>
        </button>
    </div>
</div>
<!-- End Add property popup -->

<!-- Edit Units Popup -->
<div id="edit-property-popup" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'property.edit.info'|trans }}</h1>
    <div class="clearfix col-box">
        <div style="" class="attention-box pie-el" data-bind="visible: $root.countErrors() > 0">
            <h3>{{ 'pay_popup.errors.title'|trans }}</h3>
            <ul class="default">
                <!-- ko foreach: $root.errors() -->
                <li data-bind="text: $data"></li>
                <!-- /ko -->
            </ul>
        </div>
        <div id="blockPopupEditProperty" class="clearfix col-box"  data-bind="style: { display: process() ? 'none' : 'block' }">
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'property.info'|trans }}</span>
                    <small><b>*</b>{{ 'required'|trans }}</small>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'address'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <span data-bind="text: name" class="value"></span>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-top: 45px;" >
                <h4>{{ 'unit.info'|trans }}</h4>
                <div class="form-row clearfix">
                    <label>{{ 'unit.add'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" class="zc-width" id="inputEditAddUnit" data-bind="value: add" value="1">
                        <button class="button small buttonFixPopupAddUnit" data-bind="click: addUnits" type="button">
                            <span id="addEditUnit">{{ 'add'|trans }}</span>
                        </button>
                    </div>
                </div>
                <div class="form-row clearfix full edit">
                    <label>{{ 'nameofunit'|trans }}:<b>*</b></label>
                    <div class="fields-box clearfix" style="margin-left: -2px;">
                        <!-- ko foreach: { data: aUnits() } -->
                        <div class="units-item">
                            <input type="text" class="unit-input unit-input-edit floatleft" data-bind="value: name" placeholder="Unit">
                            <div class="floatleft unit-delete" data-bind="click: $root.removeUnit"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="style: { display: process() ? 'block' : 'none' }">
            <br/>
            <br/>
            <center>
                <img src="/bundles/core/images/img_loading.gif" title="Loading" />
            </center>
            <br/>
            <br/>
        </div>
    </div>
    <div class="footer-button-box">
        <button class="button buttonFix" data-bind="click: saveUnits">
            <span  id="saveManageUnits">{{ 'savechanges'|trans }}</span>
        </button>
        <button class="button grey buttonFix"  data-bind="click: cancelEdit">
            <span  data-bind="click: clearUnits">{{ 'cancel'|trans}}</span>
        </button>
        <a href="#" class="link removePropertyConfirm"  data-bind="click: deletePropertyConfirm">{{ 'delete'|trans }}<br>{{'property'|trans}}</a>
    </div>
</div>
<!--  End edit units -->

<!-- Remove Property Popup -->
<div id="remove-property-popup" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'remove.property'|trans }}</h1>
    <div class="clearfix col-box">
        <div class="attention-box pie-el">{{ 'remove.property.description'|trans }}</div>
        <div class="col">
            <h4>{{ 'property.info'|trans }}</h4>
            <div class="form-row clearfix">
                <label>{{ 'address'|trans }}</label>
                <div class="fields-box">
                    <span class="value" data-bind="text: name"></span>
                </div>
            </div>
            <div class="form-row clearfix" data-bind="visible: property() && !property().isSingle">
                <label><span data-bind="text: countUnit"></span> {{'units'|trans}}</label>
                <div class="fields-box clearfix">
                    <!-- ko foreach: { data: aUnits() } -->
                    <span class="value"  data-bind="text: name"></span>
                    <!-- /ko -->
                </div>
            </div>
            <div class="form-row clearfix" data-bind="visible: isVisibleStandalone()">
                <div class="fields-box clearfix">
                    <span class="value">{{ 'property.standalone'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-button-box">
        <button data-bind="click: deleteProperty" class="button dark buttonFix">
            <span class="removeProperyLast">{{ 'yep.remove.property'|trans }}</span>
        </button>
        <button data-bind="click: cancel" class="button grey buttonFix">
            <span >{{ 'no.remove.property'|trans }}</span>
        </button>
    </div>
</div>
<!--  End Remove property Popup -->
