{% extends "::base.html.twig" %}

{% block title "New Appliant" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/user/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">» Log In </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h3>Tailored to You</h3>
            <iframe src="https://player.vimeo.com/video/50397606?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=false"
                  width="235"
                  height="140"
                  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
            </iframe>
            <p>Credit Jeeves is a powerful service designed to help you understand, optimize and directly impact your credit score.</p>
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>Welcome to Credit Jeeves.</h1>
            <div class="row-20"></div>
            <h3>Please enter your information below and we can get started right away.</h3>
                <form action="{{ path('applicant_invite', { 'code': code }) }}" method="post" {{ form_enctype(form) }}>
                    {% if form_errors(form.tos) %}
                    <div class="flash-error">
                        {{ form_errors(form.tos) }}
                    </div>
                    {% endif %}
                    <fieldset>
                        {% include 'ComponentBundle:User:name.html.twig'     with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:email.html.twig'    with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:password.html.twig' with { 'form' : form } %}
                        <div class="clearboth"></div>
                        <div class="row-20"></div>
                        {% include 'ComponentBundle:User:ssn.html.twig'      with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:address.html.twig'  with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:phone.html.twig'    with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:dob.html.twig'      with { 'form' : form } %}
                        <div class="clearboth"></div>
                        <div class="row-20"></div>
                        {% include 'ComponentBundle:User:tos.html.twig'      with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {{ form_rest(form) }}
                        <div class="row-20"></div>
                        <div class="form-row">
                            <input class="button large green" type="submit" name="_submit" value="I Agree" />
                        </div>
                    </fieldset>
                </form>
                      </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
