{% extends "::base.html.twig" %}
{% form_theme form ':Form:form_errors.html.twig' %}
{% block title "project_name" | trans %}

{% block stylesheets %}
    {% stylesheets  '@UserBundle/Resources/public/css/user.css'
                    '@PublicBundle/Resources/public/css/invite.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block tabs %}
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_login') }}">»&nbsp;{{ 'login.link' | trans }}</a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            {% include 'ComponentBundle:Video:tailored.html.twig' only %}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            {% if not isFullForm %}
                <h1>{{ 'user.welcome.name' | trans | replace({'%sName%': sName}) }}</h1>
            {% else %}
                <h1>{{ 'user.welcome' | trans }}</h1>
            {% endif %}
            <div class="row-20"></div>
            <h3 class="green">{{ 'user.invite.title' | trans }}</h3>
            <div class="row-20"></div>
            {% if not isFullForm %}
            <div class="row directions">
                <p class="arrow-right">{{ 'user.password.choose' | trans }}</p>
                <p class="arrow-right">{{ 'user.dob.confirm' | trans }}</p>
            </div>
            {% endif %}
            <div class="row-20"></div>
                <form action="{{ path('applicant_invite', { 'code': code }) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <fieldset>
                        {% if isFullForm %}
                            {% include 'ComponentBundle:User:name.html.twig'     with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% include 'ComponentBundle:User:email.html.twig'    with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% include 'ComponentBundle:User:password.html.twig' with { 'form' : form } %}
                            <div class="clearboth"></div>
                            <div class="row-20"></div>
                            {% include 'ComponentBundle:User:ssn.html.twig'      with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% include 'ComponentBundle:User:address.html.twig'  with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% include 'ComponentBundle:User:phone.html.twig'    with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% include 'ComponentBundle:User:dob.html.twig'      with { 'form' : form } %}
                            <div class="clearboth"></div>
                            {% if type == 'vehicle' %}
                                <div class="row-10"></div>
                                {% include 'ComponentBundle:User:vehicle.html.twig'      with { 'form' : form.target_name } %}
                                {% block javascripts %}
                                    <script type="text/javascript">
                                        var modelSelector = '#creditjeeves_applicantbundle_usernewtype_target_name_model';
                                        var makeNameSelector = '#creditjeeves_applicantbundle_usernewtype_target_name_make';
                                    </script>
                                    {% javascripts '@ApplicantBundle/Resources/public/js/vehicle.js'
                                    %}
                                    <script type="text/javascript" src="{{ asset_url }}"></script>
                                    {% endjavascripts %}
                                    <script type="text/javascript">
                                        vehicles = {% autoescape false %}{{ vehicles }}{% endautoescape %};
                                    </script>
                                {% endblock %}
                                <div class="clearboth"></div>
                            {% endif %}
                            <div class="row-20"></div>
                        {% else %}
                            {% include 'ComponentBundle:User:password.html.twig' with { 'form' : form } %}
                            <div class="clearboth"></div>
                            <div class="row-20"></div>
                            {% include 'ComponentBundle:User:dob.html.twig'      with { 'form' : form } %}
                            <div class="clearboth"></div>
                            <div class="row-20"></div>
                        {% endif %}
                        {% include 'ComponentBundle:User:tos.html.twig'      with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {{ form_rest(form) }}
                        <div class="row-20"></div>
                        <div class="form-row">
                            <input class="button large green" type="submit" name="_submit" value="{{ 'common.i_agree' | trans }}" />
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
