<div class="box type1">
  <h3 class="clearfix">
    <span>{{ 'account.information'|trans }}</span>
  </h3>
   {{ form_errors(form) }}
  <div class="col-box clearfix">
    <div class="col">
      <h4>{{ 'setup.your.rent'|trans }}
          {% if inviteCodeLandlord is defined %}
              <span class="haveAccount">
                {{ 'have.an.account'|trans }}? <a href="{{ path('fos_user_security_login_invite', {'inviteCode':inviteCodeLandlord})}}">{{ 'log_in'|trans }}</a>
              </span>
          {% endif %}
      </h4>
        {% if app.session.flashbag.has('tenant_email_error') %}
            <div id="userExistMessage" class="information-box pie-el messageInfoUserAdd">
                {% for flashMessage in app.session.flashbag.get('tenant_email_error') %}
                    {{ flashMessage|raw }}
                    <br />
                {% endfor %}
            </div>
        {% endif %}
      <div class="form-row clearfix">
        {{ form_label(form.first_name) }}
        <div class="fields-box">
          {{ form_widget(form.first_name, { 'attr': {'class': 'half-width', 'placeholder':"first"} }) }}
          {{ form_widget(form.last_name, { 'attr': {'class': 'half-width', 'placeholder':"last"} }) }}
          {{ form_errors(form.first_name) }}
          {{ form_errors(form.last_name) }}
        </div>
      </div>
      <div class="form-row clearfix">
        {{ form_label(form.email) }}
        <div class="fields-box">
          {{ form_widget(form.email) }}
          {{ form_errors(form.email) }}
        </div>
      </div>
      <div class="form-row clearfix">
        {{ form_label(form.phone) }}
        <div class="fields-box">
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
        </div>
      </div>
      <div class="form-row clearfix">
        {{ form_label(form.password.Password) }}
        <div class="fields-box">
          {{ form_widget(form.password.Password) }}
        </div>
        {{ form_errors(form.password.Password) }}
      </div>
      <div class="form-row clearfix">
        {{ form_label(form.password.Verify_Password) }}
        <div class="fields-box">
          {{ form_widget(form.password.Verify_Password) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% if showTos is not defined %}
    {% set showTos = true %}
{% endif %}

{% if showTos %}
    <div class="accept-terms-box pie-el">
      <div class="form-row checkboxes clearfix">
        <label id="checkboxterms"class="checkbox">
          {{ form_widget(form.tos, {'attr': {'class': 'tos-input-field'}}) }}
          <i class="tos-label"> </i>
          <span class="big">
              {% set link = 'http://'~external_urls['main_site']~'/terms-of-service' %}
              {% if inviteCodeLandlord is defined  %}
                  {{ 'landlord.register.terms'|trans({'%link%': link })|raw }}
              {% else %}
                  {{'terms.service.pre-link'|trans }}
                  <a href="{{ link }}" title="{{ 'terms.service.link.text'|trans }}">{{'terms.service.link.text'|trans }}
                  </a>
              {% endif %}
          </span>
        </label>
      </div>
      {{ form_errors(form.tos) }}
      <p>
        {% if inviteCodeLandlord is defined  %}
            {{ 'landlord.register.text2'|trans }}
        {% else %}
            {{ 'terms.service'|trans }}
        {% endif %}
      </p>
    </div>
{% endif %}
