<div class="box type1">
    <h3 class="clearfix">
        <span>{{ 'direct_deposit.info'|trans}}</span>
    </h3>
    <div class="col-box clearfix">
        <div class="col">
            <h4>{{ 'landlord.register.text6'|trans }}</h4>

            <div class="form-row clearfix">
                {{ form_label(form.nickname) }}
                <div class="fields-box">
                    {{ form_widget(form.nickname) }}
                    {{ form_errors(form.nickname) }}
                </div>
            </div>

            <div class="form-row clearfix">
                {{ form_label(form.PayorName) }}
                <div class="fields-box">
                    {{ form_widget(form.PayorName) }}
                    {{ form_errors(form.PayorName) }}
                </div>
            </div>

            <div class="form-row clearfix">
                {{ form_label(form.AccountNumber) }}
                <div class="fields-box">
                    {{ form_widget(form.AccountNumber) }}
                    {{ form_errors(form.AccountNumber) }}
                </div>
            </div>

            <div class="form-row clearfix">
                {{ form_label(form.RoutingNumber) }}
                <div class="fields-box">
                    {{ form_widget(form.RoutingNumber) }}
                    {{ form_errors(form.RoutingNumber) }}
                </div>
            </div>

            <div class="form-row clearfix">
                {{ form_label(form.ACHDepositType) }}
                <div class="fields-box">
                    {{ form_widget(form.ACHDepositType) }}
                    {{ form_errors(form.ACHDepositType) }}
                </div>
            </div>

            <div class="tooltip-box with-header pie-el">
                <p>{{ 'landlord.register.text5'|trans }}</p>
                <div class="banking-numbers clearfix">{{ 'landlord.register.where_to_find_numbers'|trans }}</div>
                <div class="secure-box">
                    {{ include('RjCoreBundle::nortonSecured.html.twig', {'flash': true}) }}
                </div>
                <div class="secure-text">{{ 'landlord.register.text7'|trans|raw }}</div>
            </div>
        </div>
    </div>
</div>
