{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
<div class="form-content">
  <br />
  <br />
  <h3 class="title">{{ 'email.verifed.title'|trans }}</h3>
  <div class="box type1" style="padding-top: 0px;">
    <div class="col-box clearfix">
      <div class="col">
        <h4>
          {{ 'email.verifed.text1'|trans({'%br%': '<br />'} )}}
        </h4>
        <h4>{{ 'email.verifed.login'|trans }}</h4>
      </div>
    </div>
  </div>
  <div class="buttons-box clearfix">
    <div class="buttons left">
      <a href="{{ signinUrl }}" id="loginButton" class="button"><span>{{ 'login'|trans }}</span></a>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}