{% extends "RjPublicBundle::base_iframe.html.twig" %}

{% block content %}
<div class="mainform" style="width: 545px;">
  <h1>{{ 'iframe.title'|trans }}</h1>
  {% block subtitle %}<h4>{{ 'iframe.description'|trans }}</h4>{% endblock %}
  <form action="#" id="formSearch">
    <div class="clearfix">
      <div class="field-box">
        <input id="property-search" type="text" placeholder="{{ 'iframe.placeholdersearch'|trans }}">
        <span class="icon-find">&nbsp;</span>

      </div>
      <button type="submit"  id="property-add" class="button">
        <span>{{ 'iframe.find'|trans }}</span>
        <img src="{{ asset('/bundles/rjpublic/images/spinner-grey-ajax-loader.gif') }}" title="{{'loading'|trans}}..." class="loadingSpinner">
      </button>
    </div>
    <div class="errorsGoogleSearch"></div>
  </form>
  {% block footer %}
      <div class="property-rent-box">
        <div class="property-rent">
          <i> </i>
          <p>{{ 'iframe.haveProperty'|trans }}</p>
          <a target="_parent" href="http://www.renttrack.com/property-management">{{ 'iframe.findOut'|trans }}</a>
        </div>
      </div>
  {% endblock %}
</div>
<div id="map-canvas" style="display:none;"></div>
    <!-- {{ random() }} -->
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@RjCoreBundle/Resources/public/js/jquery.tmpl.js'
        'bundles/bazingajstranslation/js/translator.min.js'
        '@RjCoreBundle/Resources/public/js/jquery.google.js'
        '@RjPublicBundle/Resources/public/js/public.index.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script type="text/javascript">
        function param_get(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }
        var affiliateCode = param_get("af");
        if (!affiliateCode) {
            affiliateCode = 'NONE';
        }
        var propertyAddButton = document.getElementById('property-add');
        addListener(propertyAddButton, 'click', function() {
            ga('send', 'event', 'Tenant', 'Property Search', affiliateCode);
        });
        function addListener(element, type, callback) {
            if (element.addEventListener) element.addEventListener(type, callback);
            else if (element.attachEvent) element.attachEvent('on' + type, callback);
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@RjPublicBundle/Resources/public/css/public.index.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
