{% extends "RjPublicBundle::base.html.twig" %}

{% form_theme form ':Form:form_errors.html.twig' %}

{% block content %}
<section class="form-content">
{{ include('RjComponentBundle:Invite:_formSearch.html.twig') }}
<div class="errorsGoogleSearch"></div>
{{ include('RjComponentBundle:Invite:_popupTenant.html.twig') }}
<form action="{{ path('iframe_invite', {"propertyId": propertyId }) }}" method="post" {{ form_enctype(form) }} id="inviteForm">
    {{ include('RjComponentBundle:Invite:_form.html.twig', {"form": form.invite }) }}
    <br />
    {{ include('RjPublicBundle:Public:_formTenant.html.twig', {"form": form.tenant}) }}
    {{ form_rest(form) }}
    <div class="buttons-box clearfix">
      <div class="buttons left">
        <button type="submit" class="button" id="submitForm"><span>{{ 'continue'|trans }}</span></button>
      </div>
    </div>
</form>
</section>

{% endblock %}

{% block javascripts %}
    {{ include('RjComponentBundle:Google:js.html.twig') }}
    {% javascripts  'bundles/bazingajstranslation/js/translator.min.js'
                    '@RjCoreBundle/Resources/public/js/jquery.tmpl.js'
                    '@RjCoreBundle/Resources/public/js/jquery.google.js'
                    '@RjPublicBundle/Resources/public/js/invite.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@RjPublicBundle/Resources/public/css/landlord/invite.css'
        '@RjPublicBundle/Resources/public/css/invite.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
