{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
<form action="#" name="searchRentalsForm" id="formSearch">
    <div class="box type1">
      <h3 class="clearfix">
        <span>Property information</span>
        <small><b>*</b>Required</small>
      </h3>
      <div class="col-box clearfix">
        <div class="col searsh-box">
          <label for="searsh-field">Showing rentals available near:</label>
          <div class="clearfix">
            <input type="text" id="property-search" name="searsh-field" value="{{ address }}">
            <a href="#" id="delete" class="pie-el">x</a>
            <button type="button" id="search-submit" class="pie-el">Search</button>
          </div>
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
</form>
<form action="{{ path('iframe_invite', {"propertyId": propertyId }) }}" method="post" {{ form_enctype(form) }} novalidate>
    <div class="box type1">
      <div class="col-box clearfix">
        <div class="col">
          <h4 class="active">We didn’t find a match yet – let your landlord know!</h4>
          <div class="form-row clearfix">
            {{ form_label(form.invite.unit) }}
            <div class="fields-box">
              {{ form_widget(form.invite.unit, { 'attr': {'class': 'half-width', 'placeholder':"e.g. 3А" } }) }}
              {{ form_errors(form.invite.unit) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.invite.first_name) }}
            <div class="fields-box">
              {{ form_widget(form.invite.first_name, { 'attr': {'class': 'half-width', 'placeholder':"first" } }) }}
              {{ form_widget(form.invite.last_name, { 'attr': {'class': 'half-width', 'placeholder':"last"} }) }}
              {{ form_errors(form.invite.first_name) }}
              {{ form_errors(form.invite.last_name) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.invite.phone) }}
            <div class="fields-box">
                {{ form_widget(form.invite.phone) }}
                {{ form_errors(form.invite.phone) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.invite.email) }}
            <div class="fields-box">
                {{ form_widget(form.invite.email) }}
                {{ form_errors(form.invite.email) }}
            </div>
          </div>
          
          <div class="tooltip-box with-header pie-el">
            <h4>Keep paying your rent for now – we’ll contact your landlord.</h4>
            <p>
              We'll reach out to your landlord to see if we can get them onboard with RentJeeves. You'll be notified via email or upon sign in so you can complete the rent payment process for this property and start benefitting from positives credit reports.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="box type1">
      <h3 class="clearfix">
        <span>Account information</span>
      </h3>
      <div class="col-box clearfix">
        <div class="col">
          <h4>Set up your Rent Jeeves account.</h4>
          {{ form_errors(form) }}
          <div class="form-row clearfix">
            {{ form_label(form.first_name) }}
            <div class="fields-box">
              {{ form_widget(form.first_name, { 'attr': {'class': 'half-width', 'placeholder':"first"} }) }}
              {{ form_widget(form.last_name, { 'attr': {'class': 'half-width', 'placeholder':"last"} }) }}
              {{ form_errors(form.first_name) }}
              {{ form_errors(form.last_name) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.email) }}
            <div class="fields-box">
              {{ form_widget(form.email) }}
              {{ form_errors(form.email) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.phone) }}
            <div class="fields-box">
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.password.Password) }}
            <div class="fields-box">
              {{ form_widget(form.password.Password) }}
            </div>
            {{ form_errors(form.password.Password) }}
          </div>
          <div class="form-row clearfix">
            {{ form_label(form.password.Verify_Password) }}
            <div class="fields-box">
              {{ form_widget(form.password.Verify_Password) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accept-terms-box pie-el">
      <div class="form-row checkboxes clearfix">
        <label class="checkbox">
          {{ form_widget(form.tos) }}
          <i> </i>
          <span class="big">I accept the <a href="#" type="Terms of Service">Terms of Service</a></span>
        </label>
      </div>
      {{ form_errors(form.tos) }}
      <p>
        You understand that by agreeing to the Terms of Service you are providing "written instructions" to RentJeeves, LLC under the Fair Credit Reporting Act authorizing RentJeeves LLC to obtain information from your personal credit profile or other information from Experian. You authorize RentJeeves LLC to obtain such information solely to authenticate your identity, provie you with your score and aggregated credit information and prequalify you for loan options.
      </p>
    </div>
    {{ form_rest(form) }}
    <div class="buttons-box clearfix">
      <div class="buttons left">
        <button type="submit" class="button"><span>Continue</span></button>
      </div>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "gauge"]});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&components=country:usa&language=en&key=AIzaSyC78YrKVlUy2HXQWa29uM1vIn4FJ5IBUtM&types=regions"></script>

    {% javascripts  '@RjPublicBundle/Resources/public/js/invite.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}