{% extends "RjPublicBundle::base.html.twig" %}

{% block marketingHeader %}
    {{ include('RjComponentBundle::marketingHeader.html.twig') }}
{% endblock %}

{% block content %}
<form action="#" name="searchRentalsForm">
<div class="box type1">
  <h3 class="clearfix">
    <span>Property information</span>
    <small><b>*</b>Required</small>
  </h3>
  <div class="col-box clearfix">
    <div class="col searsh-box searshBoxBig">
      <label for="searsh-field">Verify your rental address:</label>
      <div class="clearfix">
        <input type="text" id="property-search" value="{{ property.address }}" name="searsh-field">
        <a href="#" id="delete">x</a>
        <button type="submit" id="search-submit">Search</button>
      </div>
    </div>
  </div>
</div>
</form>
<form action="{{ path('iframe_new', {"propertyId": property.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="box type1">
  <div class="col-box clearfix">
    <div class="col select-box selectBoxBig">
      <div class="adresess">
        <h4>Search result:</h4>
        <div>
          <div class="addressImage">
          </div>
          <div class="addressText">
            <span>{{ property.address }}</span>
          </div>
        </div>
      </div>
      <div id="map-canvas" class="map-adresess"></div>
    </div>
  </div>
</div>

{{ include('RjPublicBundle:Public:_formTenant.html.twig', {"form": form}) }}
 {{ form_rest(form) }}
<div class="buttons-box clearfix">
  <div class="buttons left">
    <button type="submit" class="button"><span>Continue</span></button>
  </div>
</div>
</form>
<input type="hidden" value="{{property.jb }}" id="lat">
<input type="hidden" value="{{property.kb }}" id="lng">
<input type="hidden" value="{{property.address }}" id="addressSelect">
{% endblock %}

{% block javascripts %}
    {{ include('RjComponentBundle:Google:js.html.twig') }}
    {% javascripts  '@RjPublicBundle/Resources/public/js/new.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block stylesheets %}
{% endblock %}