{% extends "RjPublicBundle::base.html.twig" %}

{% block marketingHeader %}
    {{ include('RjComponentBundle::marketingHeader.html.twig') }}
{% endblock %}

{% block content %}
<form action="#" name="searchRentalsForm">
<div class="box type1">
  <h3 class="clearfix">
    <span>Property information</span>
    <small><b>*</b>Required</small>
  </h3>
  <div class="col-box clearfix">
    <div class="col searsh-box searshBoxBig">
      <label for="searsh-field">Verify your rental address:</label>
      <div class="clearfix">
        <input type="text" id="property-search" value="{{ address }}" name="searsh-field">
        <a href="#" id="delete">x</a>
        <button type="submit" id="search-submit">Search</button>
      </div>
    </div>
  </div>
</div>
</form>
<form action="{{ path('iframe_new', {"propertyId": propertyId }) }}" method="post" {{ form_enctype(form) }}>
<div class="box type1">
  <div class="col-box clearfix">
    <div id="map-canvas" class="col select-box selectBoxBig">
    </div>
  </div>
</div>

{{ include('RjPublicBundle:Public:_formTenant.html.twig', {"form": form}) }}
 {{ form_rest(form) }}
<div class="buttons-box clearfix">
  <div class="buttons left">
    <button type="submit" class="button"><span>Continue</span></button>
  </div>
</div>
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "gauge"]});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&components=country:usa&language=en&key=AIzaSyC78YrKVlUy2HXQWa29uM1vIn4FJ5IBUtM&types=regions"></script>

    {% javascripts  '@RjPublicBundle/Resources/public/js/new.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block stylesheets %}
{% endblock %}