{% extends "RjPublicBundle::base.html.twig" %}

{% form_theme form ':Form:form_errors.html.twig' %}

{% block content %}
{{ include('RjComponentBundle:Invite:_popupTenant.html.twig') }}
<section class="form-content">
    <div class="box type1">
      <h3 class="clearfix">
        <span>{{ 'property.info'|trans }}</span>
        <small><b>*</b>{{ 'required'|trans }}</small>
      </h3>
      <div class="col-box clearfix">
        <div class="col all">
          <h4>{{ 'property.add'|trans }}</h4>
          {{ include(
            'RjComponentBundle:Google:formSearch.html.twig',
            { 'property': property }
          ) }}
          <form id="formNewUser" action="{{ path('iframe_new', {"propertyId": property.id }) }}"
           method="post" {{ form_enctype(form) }}>
            {{ include(
             'RjComponentBundle:Google:searchResultBox.html.twig',
             { 'property': property, 'countPropery':countPropery, 'propertyList': propertyList }
             ) }}
            {{ include('RjPublicBundle:Public:_formTenant.html.twig', {"form": form}) }}
            {{ form_rest(form) }}
            <div class="buttons-box clearfix">
              <div class="buttons left">
                <button type="submit" class="button greyButton" id="register"><span>{{ 'continue'|trans }}</span></button>
              </div>
            </div>
            <input type="hidden" name="propertyId" value="" id="propertyId">
           </form>
        </div>
      </div>
    </div>
</section>

<input type="hidden" value="{{property.jb }}" id="lat">
<input type="hidden" value="{{property.kb }}" id="lng">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
    {{ include('RjComponentBundle:Google:js.html.twig') }}
    {% javascripts  '@RjPublicBundle/Resources/public/js/google.search.lib.js'
                    '@RjPublicBundle/Resources/public/js/new.js'
                    '@RjPublicBundle/Resources/public/js/jquery.slimscroll.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block stylesheets %}
    {% stylesheets '@RjPublicBundle/Resources/public/css/new.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}