{% block stylesheets %}
    <link href="{{ asset('bundles/experian/css/simulation.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/experian/js/Simulation.js') }}" type="text/javascript"></script>
{% endblock %}

<div class="pod-large pod-border pod-padding shadow simulation" id="simulation-container">
    <h3> {{ 'title' | trans({}, 'simulation')  }}</h3>
    <div class="action-summary green-bg-stripe">
        <div class="rescore-container ko-block-invisible">
            <form action="" class="simulation-form" id="simulator_form">
                <ul class="error_list" style="display: none" id="simulation_errors">
                    <li>{{ 'invalid-input' | trans({}, 'simulation')  }}</li>
                </ul>
                <label for="" class="rescore-label">
                    {{ 'simulator_best_use_of_cash_label' | trans({}, 'simulation')  }}
                </label>
                <input type="text" class="money" name="money" />
                <button type="submit" class='button small green-refresh'>
                    {{ 're-score' | trans({}, 'simulation')  }}
                </button>
            </form>
        </div>

        <div class="score-area">
            <div class="details"
                 style="visibility: hidden;"
                 data-bind="style: { visibility: blocks().length ? 'visible' : 'hidden' }">
                <span class="arrow-up-icon"></span>
                <span class="score" data-bind="text: score_best"></span>
                <div class="estimated-fico" data-bind=" visible: !is_dealer_side() ">
                    {{ 'common.estimated.fico' | trans }}
                    <span data-bind="text: getFico()"></span>
                </div>
            </div>
            <div class="comments">
                <div id="steps-title" data-bind="html: title"></div>
                <div id="steps-message" class="green" data-bind="html: title_message"></div>
            </div>
        </div>
    </div>
    <div class="action-steps ko-block-invisible">
        <!-- ko if: blocks().length -->
        <ul class="zebra-stripe">
            <!-- ko foreach: { data: blocks() } -->
            <li>
                <div class="step-box box">
                    <strong class="biggerbold" data-bind="i18n: { _catalogue: 'simulation', STEP: $index() + 1 }">
                        {{ 'step-%STEP%' | trans({}, 'simulation')  }}
                    </strong>
                    <div>
                        <!-- ko if: '10x' == model.simulation.sim_type_group() -->
                            {{ 'group-10x' | trans({}, 'simulation')  }}
                        <!-- /ko -->
                        <!-- ko if: '20x' == model.simulation.sim_type_group() -->
                            {{ 'group-20x' | trans({}, 'simulation')  }}
                        <!-- /ko -->
                        <!-- ko if: '30x' == model.simulation.sim_type_group() -->
                            {{ 'group-30x' | trans({}, 'simulation')  }}
                        <!-- /ko -->
                        <!-- ko if: '40x' == model.simulation.sim_type_group() -->
                            {{ 'group-40x' | trans({}, 'simulation')  }}
                        <!-- /ko -->
                    </div>
                </div>
                <div class="action-text-box box">
                    <div class="action-text" data-bind="text: message"></div>
                    <div class="green">
                        <img alt="" src="{{ asset('bundles/core/images/green-arrow.png') }}" />
                        <span data-bind="text: sub_message"></span>
                        <!-- ko foreach: { data: links } -->
                            <span class='double-arrow'>&raquo;</span>
                            <a data-bind="text: text, attr: { href: url }"></a>
                        <!-- /ko -->
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    <!--
    jQuery(function() {
        if (!window.model) {
            window.model = {};
        }

        window.model.simulation = new Simulation();

        {% if data %}
            ko.mapping.fromJS({{ data | serialize | raw }}, {}, window.model.simulation);
        {% else %}
            window.model.simulation.init();
        {% endif %}

        ko.applyBindings(window.model.simulation, jQuery("#simulation-container").get(0));
        jQuery('#simulation-container .ko-block-invisible').css('visibility', 'visible');
    });
    //-->
</script>
