{% if app.user %}
    <div class="user-logout">
        {% if isAdmin %}
            <a href="{{ path('public_back_to_admin') }}">{{ 'back.to.admin'|trans }}</a>&nbsp;|&nbsp;
        {% else %}
            {{ fullName }} ({{ email }})&nbsp;|&nbsp;
        {% endif %}
        <a href="http://renttrack.uservoice.com/" data-uv-trigger>{{ 'common.help' | trans }}</a> &nbsp;|&nbsp;
        {% if accountType %}
            {% if accountType == 'landlord' %}
                <a href="{{ path('landlord_password') }}">{{ 'common.account'|trans }}</a> &nbsp;|&nbsp;
            {% else %}
                <a href="{{ path('user_password') }}">{{ 'common.account'|trans }}</a> &nbsp;|&nbsp;
            {% endif %}
        {% endif %}
        <a href="{{ path('fos_user_security_logout') }}"> {{ 'common.log_out' | trans }}</a>
    </div>
    
{% block javascripts %}
    {% javascripts '@RjCoreBundle/Resources/public/js/user-voice.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
          user.email = "{{ email }}";
          user.fullName = "{{ fullName }}";
          user.login = "{{ login }}";
          user.id = {{ id }};
          user.type = "{{ accountType }}";
          
        </script>
    {% endjavascripts %}
{% endblock %}
{% else %}
    <div class="user-logout">
        <a href="{{ path('fos_user_security_login') }}">{{ 'login.submit' | trans }}</a>
        &nbsp;|&nbsp;
        <a href="http://renttrack.uservoice.com/">{{ 'common.help' | trans }}</a>
    </div>
{% endif %}
