{% if admin.isGranted('LIST', object) and object.importSettings.source == 'integrated_api' %}
    <br />
    <a href="{{ path('admin_create_import_property_job', { "group_id": object.id }) }}" class="btn edit_link import_properties_button"
       title="{{ 'admin.import.property'|trans }}">
        <i class="icon-contract"></i>
        {{ 'admin.import.property'|trans }}
    </a>
{% endif %}

{% if admin.isGranted('LIST', object) and object.importSettings.source == 'csv' %}
    <a href="{{ url('admin_create_csv_job_for_import_properties', {'id': object.id}) }}"
       class="btn edit_link createCsvJobForImportProperties">
        {{ 'upload.csv.create_job'|trans }}
    </a>
{% endif %}