<div class="pod-middle pod-border shadow">
    <div class="pod-title">
        <h3>{{ 'component.credit.age.average' | trans }}</h3>
    </div>
    <div class='clear'></div>
    <div class='pod-column-medium floatleft'>
        <div id="credit-average-age-chart-div"></div>
    </div>
    <div class='pod-column-big floatright'>
        <div class="pod-header">{{ 'credit.age.average.title' | trans | replace({'%nAge%': nAge}) }}</div>
        <p>
            {{ 'credit.age.average.comment' | trans | replace({'%nOldest%': nOldest}) }}
            {#<a class="lightbox-anywhere" href="http://creditjeeves.uservoice.com/knowledgebase/articles/152398-average-age-of-credit">{{ 'common.learn.more' | trans }}</a>#}
        </p>
  </div>
  <div class="clearboth"></div>
</div>

<script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['gauge']});
    google.setOnLoadCallback(function () {
      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Average', {{ nAge }}]
      ]);
      var options = {
        max:        20,
        width:      400,
        height:     120,
        greenFrom:  8,
        greenTo:    20,
        yellowFrom: 4,
        yellowTo:   8,
        redFrom:    0,
        redTo:      4,
        minorTicks: 3
      };
      var chart = new google.visualization.Gauge(document.getElementById('credit-average-age-chart-div'));
      chart.draw(data, options);
    });
</script>
