{% extends "ApplicantBundle::base.html.twig" %}

{% block title 'common.applicant.dashboard' | trans  %}

{% block content %}
    <div class="column-middle floatleft">
        {{ render(controller('ComponentBundle:PersonalInfo:index', {'Report': Report})) }}
    </div>
    <div class="column-small floatright">
        {{ render(controller('ComponentBundle:Questions:index')) }}
    </div>
    <div class="clearboth"></div>
    <div class="row-20"></div>
    <div class="column-large">
        {{ render(controller('ComponentBundle:ReportSummary:index', {'Report': Report})) }}
        <div class="row-20"></div>
        {{ render(controller('ComponentBundle:TradelinesHistory:index', {'Report': Report})) }}
        <div class="row-20"></div>
        {{ render(controller('ComponentBundle:RegularInquiries:index', {'Report': Report})) }}
    </div>
{% endblock %}
