{% extends "CoreBundle::rj_base.html.twig" %}

{% block stylesheets %}
    {% stylesheets  '@ComponentBundle/Resources/public/css/*'
                    '@RjPublicBundle/Resources/public/css/footer.css'
                    '@CoreBundle/Resources/public/css/rj-logos.css'
                    '@CoreBundle/Resources/public/css/tabs.css'
                    '@UserBundle/Resources/public/css/login.css'
                    '@CoreBundle/Resources/public/css/check.css'
                    '@CoreBundle/Resources/public/css/rent-menu.css'
                    '@CheckoutBundle/Resources/public/css/checkout.css'
                    '@TenantBundle/Resources/public/css/alert.css'
                    '@TenantBundle/Resources/public/css/home.page.css'
                    '@RjPublicBundle/Resources/public/css/base-font.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
    <!--link href="{{ asset('bundles/component/css/components.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/report.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/tradelines-history.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/credit-summary.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/score.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/credit-balance.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/account-status.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/goods.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/inquiries.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/automotive-details.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/footer.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/leads.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/component/css/ad-creditcards.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/rjpublic/css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/core/css/rj-logos.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/core/css/tabs.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/user/css/login.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/core/css/check.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/core/css/rent-menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/checkout/css/checkout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/tenant/css/alert.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/tenant/css/home.page.css') }}" rel="stylesheet" type="text/css" /-->
{% endblock %}

{% block head_javascripts %}
{% javascripts '@RjCoreBundle/Resources/public/js/jquery.slimscroll.js'
    '@RjCoreBundle/Resources/public/js/jquery-ui.js'
    '@RjCoreBundle/Resources/public/js/formProcess.js'
    '@RjComponentBundle/Resources/public/js/tenant-contracts.js'
    '@TenantBundle/Resources/public/js/CurrentPayments.js'
    '@RjCheckoutBundle/Resources/public/js/Pay.js'
    '@RjCheckoutBundle/Resources/public/js/Payment.js'
    '@RjCheckoutBundle/Resources/public/js/PaymentSource.js'
    '@RjCheckoutBundle/Resources/public/js/Cancel.js'
    '@CoreBundle/Resources/public/js/Address.js'
    '@TenantBundle/Resources/public/js/PaymentSources.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block google_api %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "gauge"]});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&components=country:usa&language=en&key=AIzaSyC78YrKVlUy2HXQWa29uM1vIn4FJ5IBUtM&types=regions"></script>
{% endblock %}

{% block tabs %}
    <div class="top-nav">
    {{ knp_menu_render('TenantBundle:Builder:mainMenu', { 'template': '::menu.html.twig' }) }}
    </div>
{% endblock %}

{% block footer %}
    {{ render(controller('RjComponentBundle:Footer:index')) }}
{% endblock %}

