<div id="action_plan_page">
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow target-pod">
            <h3>{{ 'verify.your.identity'|trans }}</h3>
            <br />
            <p>
                {{ 'verify.your.identity.desc'|trans }}
            </p>
        </div>
    </div>
    <div class="column-middle floatleft">
        <div class="pod-middle pod-border pod-padding shadow">
            <ul class="steps clearfix">
                <li class="step1 {% if step == 'step1' %}active{% endif %}">
                    <span class="step">
                        <span>{{ 'personal.information'|trans }}</span>
                    </span>
                </li>
                <li class="step2 {% if step == 'step2' %}active{% endif %}">
                    <span class="step">
                        <span>{{ 'verify.identity'|trans }}</span>
                    </span>
                </li>
            </ul>
            <br />
            <form {{ form_enctype(form) }} method="post" novalidate>
                {{ form_widget(form) }}
                <div class="clear"></div>
                <button class="button fixed next">
                    <span>{{ 'next'|trans }}</span>
                </button>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>