{% extends "TenantBundle::base.html.twig" %}

{% block title "common.tenant.credit_history_dashboard"|trans %}


{% block stylesheets %}
    {% stylesheets  '@ComponentBundle/Resources/public/css/*'
                    '@RjComponentBundle/Resources/public/css/alert.css'
                    '@RjPublicBundle/Resources/public/css/footer.css'
                    '@CoreBundle/Resources/public/css/styles.css'
                    '@CoreBundle/Resources/public/css/pricing-popup.css'
                    '@CoreBundle/Resources/public/css/rj-logos.css'
                    '@CoreBundle/Resources/public/css/tabs.css'
                    '@UserBundle/Resources/public/css/login.css'
                    '@CoreBundle/Resources/public/css/check.css'
                    '@CoreBundle/Resources/public/css/rent-menu.css'
                    '@TenantBundle/Resources/public/css/alert.css'
                    '@TenantBundle/Resources/public/css/home.page.css'
                    '@CheckoutBundle/Resources/public/css/checkout.css'
                    '@TenantBundle/Resources/public/css/summary.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@TenantBundle/Resources/public/js/CreditTrackPricing.js'
                   '@TenantBundle/Resources/public/js/CreditTrackPayDialog.js'
                   '@RjCoreBundle/Resources/public/js/formProcess.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div id="summary_page">
        {{ render(controller('TenantBundle:Index:paymentReporting')) }}
        <div class="row-20"></div>
        <div class="column-middle floatleft">
            {{ render(controller('ComponentBundle:Score:index', {'user': User, 'Report': Report})) }}
        </div>
        <div class="column-small floatright">
            {% if features.allow_score_track %}
                {% if creditTrackEnabled %}
                    {{ render(controller('ComponentBundle:LearnMore:index')) }}
                {% else %}
                    {{ render(controller('TenantBundle:CreditTrack:promobox')) }}
                {% endif %}
            {% else %}
                {{ render(controller('ComponentBundle:LearnMore:index')) }}
            {% endif %}
        </div>
        <div class="clearboth"></div>
        <div class="column-large">
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:CreditBalance:index', {'Report': Report, 'Score': Score})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:CreditSummary:index', {'Report': Report})) }}
        </div>
        <div class="row-20"></div>
        <div class="column-middle floatleft">
            {{ render(controller('ComponentBundle:CreditCardUtilization:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:HardInquiries:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:LoanTypes:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:TotalTradelines:index', {'Report': Report})) }}
        </div>
        {#<div class="column-small floatright">#}
            {#{{ render(controller('ComponentBundle:DidYouKnow:index', {'Report': Report})) }}#}
          {#{{ render(controller('ComponentBundle:DidYouKnow:index', {'Report': Report})) }}#}
            {# TODO Moved to top until we get buy CC back
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:LearnMore:index')) }} #}
        {#</div>#}
        <div class="clearboth"></div>
    </div>

    {% if features.allow_score_track %}
        {{ render(controller('TenantBundle:CreditTrack:pricing')) }}
        {{ render(controller('TenantBundle:CreditTrack:pay')) }}
    {% endif %}

{% endblock %}
