{% extends "TenantBundle::base.html.twig" %}

{% block title "common.applicant.dashboard"|trans %}

{% block content %}
    <div id="summary_page">
        <div class="column-large">
            {{ render(controller('ComponentBundle:CreditBalance:index', {'Report': Report, 'Score': Score})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:CreditSummary:index', {'Report': Report})) }}
        </div>
        <div class="row-20"></div>
        <div class="column-middle floatleft">
            {{ render(controller('ComponentBundle:CreditCardUtilization:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:MissedPayments:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:HardInquiries:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:LoanTypes:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:CreditAverageAge:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:TotalTradelines:index', {'Report': Report})) }}
        </div>
        <div class="column-small floatright">
            {{ render(controller('ComponentBundle:DidYouKnow:index', {'Report': Report})) }}
            <div class="row-20"></div>
            {{ render(controller('ComponentBundle:LearnMore:index')) }}
        </div>
        <div class="clearboth"></div>
    </div>
{% endblock %}