{% if score > 0 %}
<div class="pod-middle pod-border pod-padding shadow credit-score-graph">
  <div class="score-column">
    <h3 style="padding-bottom: 10px">{{ 'credit_score.title' | trans }}</h3>
    <div class="score-current">{{ score }}</div>
    <div class="score-date">as of&nbsp;{{ date }}</div>
    {% if not features.allow_score_track %}
      <div class="score-fico">{{ bureau }} Vantage3 Score</div>
    {% endif %}
  </div>
  <div class="score-column score-tenant">
    <div class="vertical-rainbow-chart">
      <div id="score-chart" class="score-chart"></div>
    </div>
    <div class="clearboth"></div>
  </div>
  {% if features.allow_score_track %}
    <div class="credittrack-teaser font-helvetica">
      {% if creditTrackEnabled %}
        <i>
          <span class="text enrolled">
            {{ 'credittrack.active.message' | trans | raw }}
          </span>
        </i>
      {% else %}
        <i><a href="#" class="text show-credittrack-pricing-popup">{{ 'credittrack.teaser.link' | trans | raw }}</a></i>
      {% endif %}
    </div>
  {% endif %}
  <div class="clearboth"></div>
</div>

<script type="text/javascript">
  google.setOnLoadCallback(function() {
    var data = new google.visualization.arrayToDataTable([
          ['Year', 'Score'],
          {% autoescape false %}{{ chartData }}{% endautoescape %}
          ]);

    var options = {
      curveType: 'function',
      height: 180,
      width: 350,
      hAxis: {'baseline': 300, 'baselineColor': '#D3D3D3', 'format': 'MMM d', 'textPosition': 'out', 'gridlines': {'color': '#D3D3D3', 'count': 2}, 'textStyle': {color: '#D3D3D3', fontSize: 9}},
      vAxis: {'baselineColor': '#D3D3D3', 'maxValue': 850, 'textPosition': 'in', 'minValue': 300, 'gridlines': {'color': '#D3D3D3', 'count': 11}, 'textStyle': {color: '#D3D3D3', fontSize: 9}},
      series: {0:{color: '#87CEFA', lineWidth: 8, pointSize: 12, visibleInLegend: false}, 1:{color: '#1985EA', visibleInLegend: false}},
      chartArea: {top: 0, left: 8, width: "96%", height: "100%"}
    };

    var chart = new google.visualization.LineChart(document.getElementById('score-chart'));
    chart.draw(data, options);
  });
</script>
{% endif %}
