{% extends "TenantBundle::base.html.twig" %}

{% block content %}
    {% stylesheets  '@CoreBundle/Resources/public/css/styles.css'
                    '@CoreBundle/Resources/public/css/pricing-popup.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}

    <div id="rent-menu">
        {{ knp_menu_render('TenantBundle:Builder:rentMenu', { 'template': 'TenantBundle:Sources:menu.html.twig' }) }}
    </div>
    <div class="row-20"></div>
    <div class="pod-large pod-border pod-padding shadow" id="payment-accounts">

        <!-- Popups -->
        <div id="payment-account-delete" class="pricing-popup dashboard-popup properties-popup">
            <h1>{{ 'payment_account.delete.title' | trans() }}</h1>
            <div class="clearfix col-box">
                <div class="attention-box pie-el">
                    {{ 'payment_account.delete.text' | trans() }}
                </div>
                <div class="row-20"></div>
                <p data-bind="text: currentPaymentAccount().name"></p>
                <div class="footer-button-box">
                    <a class="button" data-bind="attr: { href: delUrl }" style="display: inline-block;">
                        <span>{{ 'payment_account.delete.yes' | trans() }}</span>
                    </a>
                    <button data-bind="click: delClose" class="button grey buttonFix">
                        <span>{{ 'payment_account.delete.no' | trans() }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="payment-account-edit" class="pricing-popup dashboard-popup properties-popup payments-popup">
            <h1>{{ 'payment_account.edit.title' | trans() }}</h1>
            <div class="clearfix col-box attention-container">
                <div class="attention-box pie-el" style="display: none">
                    <h3>{{ 'pay_popup.errors.title' | trans }}</h3>
                    <ul class="default">
                    </ul>
                </div>
                <div class="col long-label">
                    {{ render(controller('RjCheckoutBundle:PaymentSource:source')) }}
                </div>

                <div class="footer-button-box">
                    <button class="button buttonFix" data-bind="click: editSave">
                        <span>{{ 'payment_account.edit.save' | trans() }}</span>
                    </button>
                    <button data-bind="click: editClose" class="button grey buttonFix">
                        <span>{{ 'payment_account.edit.cancel' | trans() }}</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- end Popups -->

        <h1>{{ 'current_payment_sources.title' | trans() }}</h1>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="attention-box pie-el">
                <h3 class="error_message">{{ flashMessage|trans }}</h3>
            </div>
        {% endfor %}

        <div class="row-20"></div>
        <div class="properties-table-block table-wrap">
            <div class="table-margin">
                <table class="properties-table zebra-grid contracts-table" id="payment-account-table">
                    <thead>
                    <tr class="contracts">
                        <th class="font-helvetica">{{ 'payment_source' | trans() }}</th>
                        <th class="font-helvetica">{{ 'type' | trans() }}</th>
                        <th class="font-helvetica">{{ 'expiration' | trans() }}</th>
                        <th style="width: 85px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paymentAccount in paymentAccounts %}
                        <tr id="payment-account-row-{{ loop.revindex }}">
                            <td class="font-helvetica">
                                {{ paymentAccount.getName }}
                            </td>
                            <td class="font-helvetica">
                                {% if paymentAccount.getType == 'card' %}
                                    {{ 'payment_account_card' | trans }}
                                {% elseif paymentAccount.getType == 'bank' %}
                                    {{ paymentAccount.getBankAccountType | capitalize }}
                                {% endif %}
                            </td>
                            <td class="font-helvetica">
                                {{ paymentAccount.getCcExpiration.format('M Y') | default('N/A') }}
                            </td>
                            <td class="font-helvetica">
                                {% if isLocked == false %}
                                    <a title="{{ 'delete' | trans }}"
                                        class="type-ico pie-el delete"
                                        data-bind="click: delDialog.bind($data, {{ paymentAccount.getId }})"
                                        href="#"
                                    >
                                        &nbsp;
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var paymentSources = new PaymentSources();
            ko.applyBindings(paymentSources, $('#payment-accounts').get(0));
        });
    </script>
{% endblock %}
