{% form_theme form "LandlordBundle::form_import.html.twig" %}

<tr  data-bind="attr: {'class': $root.getClassLine($data)}, if: is_skipped || contract.status == 'finished' || !$root.isValidFieldsWhichNotContainsInForm($data)">
    <td data-bind="
            text: $root.getStatusText($data),
            attr: {
                'class': $root.getStatusText($data)+' import_status_text',
                'title': $data.skipped_message
            }">

    </td>
    {% if isMultipleProperty == "true"  %}
        <!-- ko if: (contract.property != null) -->
        <td>
            <div data-bind="text: contract.property.full_address"></div>
        </td>
        <!-- /ko -->

        <!-- ko if: (contract.property == null) -->
        <td class="errorField" data-bind="attr: {title: '{{ 'property.cannot.map'|trans }}'}">
            <span data-bind="text: address"></span>
        </td>
        <!-- /ko -->
    {% endif %}
    <td data-bind="
        text:$root.getUnitName($data),
        attr:
        {
            'class': $root.getErrorClass($data, ['import_new_user_with_contract_contract_unit_name', 'import_contract_unit_name']),
            'title': $root.getErrorTitle($data, ['import_new_user_with_contract_contract_unit_name', 'import_contract_unit_name'])
        }
    ">
    </td>
    <td data-bind="
        attr:
        {
            'class': $root.getErrorClass(
                $data,
                ['import_new_user_with_contract_contract_residentMapping_residentId',
                 'import_new_user_with_contract_contract_unitMapping_externalUnitId',
                 'import_contract_residentMapping_residentId',
                  'resident_id']
            ),
            'title': $root.getErrorTitle(
                $data,
                ['import_new_user_with_contract_contract_residentMapping_residentId',
                 'import_contract_residentMapping_residentId',
                  'resident_id',
                 'import_new_user_with_contract_contract_unitMapping_externalUnitId']
             )
        }
    ">
        {% if isSupportResidentId %}
            <span data-bind="text:$root.getResidentId($data)"> </span>
        {% endif %}
        {% if isSupportResidentId and isMultipleProperty == 'true' %}
            <hr />
        {% endif %}
        {% if isMultipleProperty == 'true' %}

            <span data-bind="html: unit_mapping.external_unit_id"></span>
        {% endif %}
    </td>
    <td data-bind="text:tenant.first_name"></td>
    <td data-bind="text:tenant.last_name"></td>
    <td data-bind="
            text:email,
            attr:
            {
                'class': $root.getErrorClass($data, ['tenant_email']),
                'title': $root.getErrorTitle($data, ['tenant_email'])
            }
    "></td>
    <td data-bind="html:contract.rent+'<br/>'+contract.integrated_balance"></td>
    <td data-bind="html:$root.formatDate(contract.startAt)+'<br/>'+$root.formatDate(contract.finishAt)">
    </td>
    <td>
        <span  class="finishContract" data-bind="if: contract.status == 'finished' && $data.move_out && !is_skipped && contract.id && $root.isValidFieldsWhichNotContainsInForm($data)">
        {{ form_start(form) }}
            {{ 'import.move_out'|trans }}:<br />
            {{ form_widget(
                form.finishAt,
                {
                    "attr": {
                    "data-bind":
                        "value: $root.formatDate(move_out),
                         datepickerOld: $root.formatDate(move_out),
                         datepickerOptions: $root.getDatePickerOptions(),
                         datepickerFieldName: 'finishAt',
                         attr: {
                            'class': number+'_finishAt import_contract_finish_finishAt datepicker '+$root.getErrorClass($data, 'import_contract_finish_finishAt'),
                            'title': $root.getErrorTitle($data, 'import_contract_finish_finishAt')
                         }"
                    }
                }
            ) }}
            {{ form_widget(form._token, {"attr": {"data-bind": "value: csrf_token, attr: {'class': number+'_token import_contract_finish__token'}"}}) }}
        {{ form_end(form) }}
        </span>
    </td>
</tr>
