{% form_theme form "LandlordBundle::form_import.html.twig" %}

<tr data-bind="
    attr: {'class': $root.getClassLine($data)},
    if: !is_skipped
        && contract.status != 'finished'
        && $root.isValidFieldsWhichNotContainsInForm($data)
        &&
        (
            tenant.id
            ||
            has_contract_waiting
        )">
    {{ form_start(form) }}
    <td data-bind="text: $root.getStatusText($data), attr: {'class': $root.getStatusText($data)+' import_status_text'}"></td>
    {% if isMultipleProperty == "true" %}
            <td data-bind="if: contract.property !== null, visible: (contract.property !== null)">
                <span data-bind="text: contract.property.full_address">
                </span>
            </td>
            <td  class="errorField" data-bind="if: contract.property === null, visible: (contract.property === null)">
                <span  data-bind="html: address, attr: {title: '{{ 'property.cannot.map'|trans }}'}"></span>
            </td>
    {% endif %}

    <td data-bind="
        attr:
        {
            'class': $root.getErrorClass($data, 'import_contract_unit_name'),
            'title': $root.getErrorTitle($data, 'import_contract_unit_name')
        }
    ">
        {{
            form_widget(
                form.unit.name,
                {"attr":
                    {
                        "data-bind": "html: $root.getUnitName($data)"
                    }
                }
            )
        }}
        {% if isMultipleProperty == "true" %}
            {{
                form_widget(
                    form.isSingle,
                        {"attr":
                            {
                                "class": "isSingle",
                                "data-bind":"checked: contract.property.is_single, visible: contract.property.is_single"
                            }
                        }
                )
            }}
        <label data-bind="visible: contract.property.is_single" class="single-property-chkbox">{{ 'import.property.single.checkbox_label'|trans }}</label>
        {% endif %}
    </td>

    <td data-bind="
        attr:
        {
            'class': $root.getErrorClass($data, 'import_contract_residentMapping_residentId'),
            'title': $root.getErrorTitle($data, 'import_contract_residentMapping_residentId')
        }
    ">
        {{
            form_widget(
                form.residentMapping.residentId,
                {"attr":
                    {
                    "data-bind":
                    "html: resident_mapping.resident_id"
                    }
                }
            )
        }}
        {% if isMultipleProperty == 'true' %}
            <hr />
            {{
                form_widget(
                    form.unitMapping.externalUnitId,
                    {"attr":
                        {
                            "data-bind":
                            "html: unit_mapping.external_unit_id"
                        }
                    }
                )
            }}
        {% endif %}
    </td>
    <td data-bind="text:tenant.first_name"></td>
    <td data-bind="text:tenant.last_name"></td>
    <td data-bind="text: (email)? email : tenant.email"></td>
    <td>
        {{
            form_widget(
                form.rent,
                {
                    "attr":
                    {
                        "data-bind":
                        "value: contract.rent,
                         attr:
                            {
                                'class': number+'_rent import_contract_rent '+$root.getErrorClass($data, 'import_contract_rent'),
                                'title': $root.getErrorTitle($data, 'import_contract_rent')
                            }"
                    }
                }
            )
        }}
        {{ form_widget(
            form.integratedBalance,
            {
                "attr":
                {
                "data-bind":
                    "value: contract.integrated_balance,
                     attr:
                        {
                            'class': number+'_balance import_contract_integratedBalance '+$root.getErrorClass($data, 'import_contract_integratedBalance'),
                            'title': $root.getErrorTitle($data, 'import_contract_integratedBalance')
                        }"
                }
            }
        ) }}
    </td>
    <td>
        {{ form_widget(
            form.startAt,
            {
                "attr":
                {
                "data-bind": "
                    value: $root.formatDate(contract.startAt),
                    attr: {
                        'class': number+'_startAt import_contract_startAt datepicker '+$root.getErrorClass($data, 'import_contract_startAt'),
                        'title': $root.getErrorTitle($data, 'import_contract_startAt')
                    },
                    datepickerOld: $root.formatDate(contract.startAt),
                    datepickerOptions: $root.getDatePickerOptions(contract.id),
                    datepickerFieldName: 'startAt'
                    ",
                }
            }
        ) }}
        {{ form_widget(
            form.finishAt,
            {
                "attr":
                {
                "data-bind":
                    "value: $root.formatDate(contract.finishAt),
                     datepickerOld: $root.formatDate(contract.finishAt),
                     datepickerOptions: $root.getDatePickerOptions(),
                     datepickerFieldName: 'finishAt',
                     attr: {
                        'class': number+'_finishAt import_contract_finishAt datepicker '+$root.getErrorClass($data, 'import_contract_finishAt'),
                        'title': $root.getErrorTitle($data, 'import_contract_finishAt')
                     }"
                }
            }
        ) }}
    </td>
    <td>
        <span data-bind="if: operation !== null">
            {{ form_widget(
                form.operation.amount,
                {
                    "attr":
                    {
                        "data-bind":
                            "value: operation.amount,
                             attr: {
                                'class': number+'_amount import_operation_amount '+$root.getErrorClass($data, 'import_contract_operation_amount'),
                                'title': $root.getErrorTitle($data, 'import_contract_operation_amount')
                             }
                            "
                    }
                }
            ) }}
            {{ form_widget(
                form.operation.paidFor,
                {
                    "attr":
                    {
                        "data-bind":
                            "value: $root.formatDate(operation.paid_for),
                             datepickerOld: $root.formatDate(operation.paid_for),
                             datepickerOptions: $root.getDatePickerOptions(),
                             datepickerFieldName: 'paid_for',
                             attr: {
                                'class': number+'_paidFor import_operation_paidFor datepicker '+$root.getErrorClass($data, 'import_contract_operation_paidFor'),
                                'title': $root.getErrorTitle($data, 'import_contract_operation_paidFor')
                             }
                            "
                    }
                }
            ) }}
        </span>
    </td>
    <td>
        {{ form_widget(
        form.sendInvite,
        {
            "attr": {
            "data-bind": "
                attr: {
                    'visible': has_contract_waiting,
                    'checked': (has_contract_waiting && email)? true : false,
                    'class': number+'_sendInvite '+$root.getErrorClass($data, 'import_new_user_with_sendInvite'),
                }"}
        }
        )}} {{ 'send.invite'|trans }}
        <br />
        {{ form_widget(
        form.skip,
        {
            "attr": {
                "class": "skipCheckbox"
            }
        }
        )}} {{ 'skip'|trans }}
    </td>
    {{ form_widget(form._token, {"attr": {"data-bind": "value: csrf_token, attr: {'class': number+'_token import_contract__token'}"}}) }}
    {{ form_end(form) }}
</tr>
