{% extends "LandlordBundle::base.html.twig" %}
{% form_theme formBaseOrder 'RjCoreBundle::form.html.twig' %}

{% block content %}
<div class="sub-menu">
    {{ knp_menu_render('LandlordBundle:Builder:accountingMenu', { 'template': '::menu.html.twig' }) }}
</div>
<div class="container-content">
  <h3>
      {{ 'tabs.reports'|trans }}
  </h3>
  {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
      <div class="flash flash-{{ label }}">
        {{ flash }}
      </div>
    {% endfor %}
  {% endfor %}
  <div class="container-content-data pod-middle pod-border pod-padding shadow">
    <section class="form-content">
        <p class="dateTitle">{{ 'deposit.date.range'|trans }}</p>
        <form action="{{ path('accounting_export')}}" method="post" {{ form_enctype(formBaseOrder) }} id="baseOrderReport" >
            <span class="info-message" data-bind="visible: (exportBy() == 'deposits')">
                {{ 'landlord_export.export_by_deposits.description'|trans }}
            </span>
            <span class="info-message" data-bind="visible: (exportBy() == 'payments')">
                {{ 'landlord_export.export_by_payments.description'|trans }}
            </span>
            {{ form_widget(formBaseOrder) }}
           <button type="submit" class="button small submitBaseReport">
                    <span>
                        {{ 'order.report.download'|trans }}
                    </span>
           </button>
           <div class="helpContainer" data-bind="visible: (selectedType() == 'real_page') || (selectedType() == 'yardi')">
               Help:
               <a href="http://{{ external_urls['user_voice'] }}/knowledgebase/articles/296770-how-to-import-payments-into-yardi" class="xml" data-bind="visible: selectedType() == 'yardi'">{{ 'order.report.how_to.yardi'|trans }}</a>
               <a href="http://{{ external_urls['user_voice'] }}/knowledgebase/articles/296772-how-do-i-import-payments-into-realpage-onesite-" class="csv" data-bind="visible: selectedType() == 'real_page'">{{ 'order.report.how_to.realpage'|trans }}</a>
           </div>
        </form>
    </section>
    <div class="col-box clearfix"></div>
  </div>
</div>
<div class="col-box clearfix"></div>
<script type="text/javascript">

        $('.calendar').datepicker({
            showOn: "both",
            buttonImage: "/bundles/rjpublic/images/ill-datepicker-icon.png",
            format:'m/d/Y',
            starts: 1,
            position: 'r'
        });

        $(document).ready(function() {
            var viewModel = new ExportViewModel();
            ko.applyBindings(viewModel);
            {% for choice in formBaseOrder.type.vars['choices'] %}
                var type = {'type': '{{ choice.value }}', 'typeName': '{{ choice.label|trans }}'};
                viewModel.exportTypes.push(type);
            {% endfor %}
            {% for choice in formBaseOrder.property.vars['choices'] %}
                var property = {'id': '{{ choice.value }}', 'name': '{{ choice.label }}'};
                viewModel.properties.push(property);
            {% endfor %}
            viewModel.exportBy("{{ formBaseOrder.export_by.vars['data'] }}");
        });
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LandlordBundle/Resources/public/css/reports.css'
                   '@LandlordBundle/Resources/public/css/submenu.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@LandlordBundle/Resources/public/js/Export/ExportViewModel.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
