<div>
    <h3>{{ 'accounting.file.import'|trans }}</h3>
</div>
<ul class="steps clearfix">
    <li class="step1 {% if step == 'step1' %}active{% endif %}">
        <span class="step">
            <span>{{ 'import.file'|trans }}</span>
        </span>
    </li>
    <li data-bind='visible: ($root.source() === "csv")? true : false' class="step2 {% if step == 'step2' %}active{% endif %}">
        <span class="step">
            <span>{{ 'match.fields'|trans }}</span>
        </span>
    </li>
    <li class="step3 {% if step == 'step3' %}active{% endif %}">
        <span class="step">
            <span>{{ 'review.and.post'|trans }}</span>
        </span>
    </li>
    <li class="step4 {% if step == 'step4' %}active{% endif %}">
        <span class="step">
            <span>{{ 'import.summary.title'|trans }}</span>
        </span>
    </li>
</ul>
