<div>
    <h3>{{ 'accounting.file.import'|trans }}</h3>
</div>
<ul class="steps clearfix">
    <li class="step1 {{ step == 'step1' ? 'active' }}">
        <span class="step">
            <span>{{ 'import.file'|trans }}</span>
        </span>
    </li>
    {% if source == 'csv' %}
        <li class="step2 {{ step == 'step2' ? 'active' }}">
            <span class="step">
                <span>{{ 'match.fields'|trans }}</span>
            </span>
        </li>
    {% endif %}
    <li class="step3 {{ step == 'step3' ? 'active' }}">
        <span class="step">
            <span>{{ 'review.and.post'|trans }}</span>
        </span>
    </li>
    <li class="step4 {{ step == 'step4' ? 'active' }}">
        <span class="step">
            <span>{{ 'import.summary.title'|trans }}</span>
        </span>
    </li>
</ul>
