{% extends "LandlordBundle::base.html.twig" %}


{% block content %}
    <div class="sub-menu">
        {{ knp_menu_render('LandlordBundle:Builder:accountingMenu', { 'template': '::menu.html.twig' }) }}
    </div>
    <div class="container-content">
        <div id="action_plan_page">
            <div class="column-middle floatleft">
                <div id="summaryList" class="pod-middle pod-border pod-padding shadow">
                    {{
                    include(
                    'LandlordBundle:Accounting:importSteps.html.twig',
                        {
                        'step': 'step4',
                        }
                    )
                    }}
                    <br />
                    <br />
                    {{ 'import.summary.congratulations'|trans }}
                    <br />
                    <br />
                    <b>{{ 'import.summary.results'|trans }}</b>
                    <br />
                    <br />
                    <div>
                        {{ 'import.summary.new'|trans }} {{ report.countNew }} <br />
                        {{ 'import.summary.invites_sent'|trans }} {{ report.countInvited }} <br />
                        {{ 'import.summary.balances_updated'|trans }} {{ report.countMatched }} <br />
                        {{ 'import.summary.records_not_updated'|trans }} {{ report.countSkipped }} <br />
                        {{ 'import.summary.errors'|trans }} {{ report.countErrors }} <br />
                        {{ 'import.summary.exceptions'|trans }} {{ report.countExceptions }} <br />
                        {{ 'import.summary.total'|trans }} {{ report.countTotal }} <br />
                        {{ 'import.summary.reference'|trans }} {{ report.publicId }} <br />
                    </div>
                    <br />
                    {{ 'import.summary.description'|trans }}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
                    '@LandlordBundle/Resources/public/css/submenu.css'
                    '@LandlordBundle/Resources/public/css/stepImport.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
