{% form_theme paymentAccountType 'RjCoreBundle::form.html.twig' %}

<div data-role="page" id="addNewPayAccount">
    <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
        <a id="backToContract" onclick="$.mobile.back()" data-transition="slide" data-direction="reverse" data-role="none" role="button" class="headerButton" style="color: white;">Back</a>
        <h1 class="ui-title" role="heading" aria-level="1">New Source</h1>
        {#
        <a href="#" onclick="createReview()" data-role="none" role="button" class="headerButton" style="color: white; border-left: 1px solid white; border-right: 0px; text-shadow: none;">Add</a>
        #}
    </div>

    <div class="ui-content" role="main">

        <div id='sourceErrorMsg' style='display: none;background: red; padding: 4px; width: 100%;color: white; text-shadow: none; border-radius: 2px;'>
        </div>

        <form {{ form_enctype(paymentAccountType) }} novalidate method="post" onsubmit="addNewPaymentSource(this); return false;">
            {% if mobile_payment_account_fee_field_dispay %}
                <div id="payment-type-with-fee">
                    {{ form_payment_type_fee_radio(paymentAccountType.type) }}
                </div>
            {% else %}
                <div class="payment-type-change-order">
                    {{ form_widget(paymentAccountType.type) }}
                </div>
            {% endif %}
            <p class="fee-notify">{{ 'mobile.payment.type.fee_notify'|trans }}</p>
            <br>
            {{ form_widget(paymentAccountType) }}
            {{ JSFV(paymentAccountType) }}
        </form>

        <div>
            <input type="button" id="deleteSource" value="Delete Source">
        </div>
    </div>
</div>
