{% form_theme paymentAccountType 'RjCoreBundle::form.html.twig' %}

<div class="form-row clearfix" data-bind="visible: !$root.notEmptyPaymentAccount">
    <div class="fields-box">
        <small><b>*</b>{{ 'required' | trans  }}</small>
    </div>
</div>
<form {{ form_enctype(paymentAccountType) }} novalidate method="post">
    {{ form_widget(paymentAccountType) }}
    {{ JSFV(paymentAccountType) }}
</form>

<script type="text/javascript">
    window.addressesViewModels = [];

    jQuery.each({{ addressesJson | raw }}, function(key, val) {
        var address = new Address(null);
        ko.mapping.fromJS(val, {}, address);
        window.addressesViewModels.push(address);
    });

    window.paymentAccounts = [];
    var payAccounts = JSON.parse('{{ payAccountsJson|escape('js') }}');
    jQuery.each(payAccounts, function(key, val) {
        window.paymentAccounts.push(val);
    });

</script>
