<div class="pod-middle pod-border shadow">
    <div class="pod-title">
        <h3>{{ 'component.tradelines.total' | trans }}</h3>
    </div>
    <div class='clear'></div>
    <div class='pod-column-medium floatleft'>
        <div id="total-tradelines-chart-div"></div>
    </div>
    <div class='pod-column-big floatright'>
        <div class="pod-header">{{ 'component.tradelines.total' | trans }}: {{ nTotal }}</div>
        <p>
            {{ 'tradelines.total.comment' | trans | replace({'%nOpened%': nOpened, '%nClosed%': nClosed}) }}
            {#<a class="lightbox-anywhere" href="http://creditjeeves.uservoice.com/knowledgebase/articles/152399-total-accounts">{{ 'common.learn.more' | trans }}</a>#}
        </p>
  </div>
  <div class="clearboth"></div>
</div>

<script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['gauge']});
    google.setOnLoadCallback(function () {
      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Total', {{ nTotal }}]
      ]);
      var options = {
        max:        22,
        width:      400,
        height:     120,
        redFrom:    0,
        redTo:      11,
        yellowFrom: 11,
        yellowTo:   16,
        greenFrom:  16,
        greenTo:    22,
        minorTicks: 3
      };
      var chart = new google.visualization.Gauge(document.getElementById('total-tradelines-chart-div'));
      chart.draw(data, options);
    });
</script>
