{% extends 'CoreBundle::base.html.twig' %}

{% block content %}
    <div>
        full layout view--
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block info %}
    {% if 'cj' == application %}
        <div class="user-logout">
            <a href="{{ path('fos_user_security_login') }}">» {{ 'login.submit' | trans }} </a>&nbsp;|&nbsp;
            <a href="http://renttrack.uservoice.com/">» {{ 'common.help' | trans }} </a>
        </div>
    {% else %}
        {{ render(controller('RjComponentBundle:Blocks:info' )) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% if 'rj' == application %}
        <div class="accreditations">
            {{ include('RjCoreBundle::nortonSecured.html.twig', {'flash': true}) }}
            {{ include('RjCoreBundle::bbbseal.html.twig', {'pad': true}) }}
        </div>
    {% endif  %}
{% endblock %}
