{% extends 'CoreBundle::base.html.twig' %}


    {% block title %}
        {% if application == 'rj'%}
        {{ 'project.renttrack'|trans }}
        {% else %}
        {{ 'project_name'|trans }}
        {% endif %}
    {% endblock %}


{% block content %}
    <div>
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block info %}
    {% if application == 'cj '%}
        <div class="user-logout">
            <a href="{{ path('fos_user_security_login') }}">» {{ 'login.submit' | trans }} </a>&nbsp;|&nbsp;
            <a href="{{ path('fos_user_security_logout') }}">» {{ 'common.help' | trans }} </a>
        </div>
    {% else %}
        {{ render(controller('RjComponentBundle:Blocks:info' )) }}
    {% endif %}
{% endblock %}
