{% if collections >= 0 %}
<div class="pod-large pod-border pod-padding shadow">
<div class="summary">
    <h3>{{ 'component.credit.summary' | trans }}</h3>
      <div class="datetime floatright">
        {{ date }}
      </div>
      <div class="col summary-block zebra-grid">
          <table>
              <tbody>
              <tr>
                  <td>{{ 'account.total' | trans }}:</td>
                  <td>{{ totalTradeItemsCounter }}</td>
              </tr>
              <tr>
                  <td>{{ 'account.good.total' | trans }}:</td>
                  <td>{{ satisfactoryAccounts }}</td>
              </tr>
              <tr>
                  <td>{{ 'account.negative.total' | trans }}:</td>
                  <td>{{ nowDelinquentderogCounter }}</td>
              </tr>
              <tr>
                  <td>{{ 'account.oldest' | trans }}:</td>
                  <td>{{ oldestTradeDate }}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col summary-block zebra-grid">
          <table>
              <tbody>
              <tr>
                  <td>{{ 'payment.monthly.total' | trans }}:</td>
                  <td>${{ monthlyPayment | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'inquiries.total' | trans }}:</td>
                  <td>{{ totalInquiriesCounter }}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col summary-block important margin-none zebra-grid">
          <table>
              <tbody>
              <tr class="important">
                  <td>{{ 'derogatory.current' | trans }}:</td>
                  <td>{{ nowDelinquentderogCounter }}</td>
              </tr>
              <tr class="important">
                  <td>{{ 'past_due.total.amount' | trans }}:</td>
                  <td>${{ totalPastDue | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'collections.total' | trans }}:</td>
                  <td>{{ collections }}</td>
              </tr>
              <tr>
                  <td>{{ 'records.public.total' | trans }}:</td>
                  <td>{{ publicRecordsCount }}</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="clearboth"></div>
</div>
{% endif %}
