<div id="pricing-popup" class="pricing-popup">
    <h1>{{ 'popup.invite.tenant.title_1' | trans() }}</h1>
    <h3>{{ 'popup.invite.tenant.title_2' | trans() }}</h3>
    <div class="table-box">
        <ul class="pricing-table">
            <li>
                <div class="table-cell">
                    <p class="note">{{ 'popup.invite.tenant.note.title' | trans() }}</p>
                </div>
                <div class="table-cell info-cell">
                    <div class="info-title pie-el">{{ 'popup.invite.tenant.renttrack' | trans() }}</div>
                    <div class="info-content"><sup>$</sup>0<sup>/mo</sup></div>
                </div>
                <div class="table-cell info-cell">
                    <div class="info-title pie-el">{{ 'popup.invite.tenant.credittrack' | trans() }}</div>
                    <div class="info-content"><sup>$</sup>3<sup>95/mo</sup></div>
                </div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.get.credit.score' | trans() }}</div>
                <div class="table-cell th">{{ 'popup.tenant.get.first.free' | trans() }}</div>
                <div class="table-cell th">{{ 'monthly' | trans() }}</div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.pay.e-check' | trans() }}</div>
                <div class="table-cell th">$2.95/eCheck</div>
                <div class="table-cell th">$2.95/eCheck</div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.pay.credit-card' | trans() }}</div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.pay.auto' | trans() }}</div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.build.credit' | trans() }}</div>
                <div class="table-cell th">{{ 'popup.tenant.always.free' | trans() }}</div>
                <div class="table-cell th">{{ 'popup.tenant.always.free' | trans() }}</div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.support' | trans() }}</div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
            </li>
            <li>
                <div class="table-cell th-cell">{{ 'popup.tenant.safeguards' | trans() }}</div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
                <div class="table-cell"><span class="checked">{{ 'popup.checked' | trans() }}</span></div>
            </li>
            <li class="table-footer">
                <div class="table-cell">
                    <p class="note">{{ 'popup.tenant.footer.note_1' | trans() }}</p>
                </div>
                <div class="table-cell">
                    <div class="buttons-box">
                        <button class="button button-close" type="button"><span>{{ 'popup.sign.up.today' | trans() }}</span></button>
                    </div>
                </div>
                <div class="table-cell">
                    <div class="buttons-box">
                        <button class="button button-close" type="button"><span>{{ 'popup.sign.up.today' | trans() }}</span></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <p class="note">{{ 'popup.tenant.footer.note_3' | trans({"%payment_percent%": payment_card_fee, "%payment_dollars%": payment_dollars}) }}</p>
</div>
