{% block stylesheets %}
    <link href="{{ asset('bundles/user/css/login.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/component/css/footer.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block fos_user_content %}
    <div class="form-login pod-border shadow">

        <h1>{{ 'resetting.title' | trans }}</h1>

        {% form_theme form 'form_table_layout.html.twig' %}
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"
              method="POST"
              class="fos_user_resetting_reset"
              {{ form_enctype(form) }}
        >
            {{ form_widget(form) }}
            <div>
                <input type="submit"
                       value="{{ 'resetting.request.submit'|trans }}"
                       class="button small green long"
                />
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
