{% extends "OAuthServerBundle::base.html.twig" %}

{% block info %}
    {% include 'OAuthServerBundle::authInfoBlock.html.twig' with {'email': email} %}
{% endblock %}

{% block content %}
<div class="main-info row-20">
    {{ 'authorization.main_info' | trans({'%appName%' : client.name}) | raw }}
</div>
<div class="form">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="row-10"></div>
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('defense') %}
        <div class="row-10"></div>
        <div class="login-error">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row-10"></div>
        <div class="login-error">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    <form action="{{ path("fos_oauth_server_authorize") }}" method="post" id="registration_form" {{ form_enctype(form) }}>
        <div class="row-10">
            {{ 'authorization.additional_info' | trans({'%appName%' : client.name, '%email%' : email, '%logoutLink%' : path('oauth_server_logout') }) | raw }}
        </div>
        <input type="submit" id="acceptedSbt" name="accepted" value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}" />
        <input type="submit" id="rejectedSbt" name="rejected" value="{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}" />
        {{ form_row(form.client_id) }}
        {{ form_row(form.response_type) }}
        {{ form_row(form.redirect_uri) }}
        {{ form_row(form.state) }}
        {{ form_row(form.scope) }}
        {{ form_rest(form) }}
    </form>
</div>
{% endblock content %}

{% block action_buttons %}
    <div class="buttons left">
        <button id="rejectBtn" type="submit" class="button"><span>{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}</span></button>
        <button id="acceptBtn" type="submit" class="button"><span>{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}</span></button>
    </div>
{% endblock %}
