<div class="pod-small pod-border pod-questions shadow">
    <h3>{{ 'project.questions' | trans }}</h3>
    <div class="question-mail">
    {{ 'project.contact_us' | trans }}:
        <div class="content-indent">
          <a href="javascript:UserVoice.showPopupWidget();">{{ sEmail }}</a><br />
          {{ sPhone }}
        </div>
    </div>
    <div class="question-link">
      {{ 'project.dispute.online' | trans }}:
      <div class="content-indent">
          <a class="lightbox-anywhere" href="http://www.experian.com/disputes/main.html">» {{ 'project.dispute.experian' | trans }}</a>
      </div>
    </div>
    <div class="clearboth"></div>
</div>

