{% form_theme form 'RjCoreBundle::form.html.twig' %}

<tr data-bind="if: status == 'new_user_new_contract'">
    {{ form_start(form) }}
    <td data-bind="text:status_readable"></td>
    <td>
        {{ form_widget(form.unit) }}
    </td>
    <td>
        {{ form_widget(form.resident_id) }}
    </td>
    <td>
        {{ form_widget(form.first_name) }}
    </td>
    <td>
        {{ form_widget(form.last_name) }}
    </td>
    <td>
        {{ form_widget(form.email) }}
    </td>
    <td>
        {{ form_widget(form.rent) }}
    </td>
    <td>
        {{ form_widget(form.move_in) }}
    </td>
    <td>
        {{ form_widget(form.lease_end) }}
    </td>
    <td>
    </td>
    <td>
        {{ form_widget(form.balance) }}
    </td>
    <td>
        {{ form_widget(form.send_invite) }}
    </td>
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
</tr>

