{% form_theme form 'RjCoreBundle::form.html.twig' %}

<tr data-bind="if: !isSkipped && ((Tenant.contracts[0].id && Tenant.contracts[0].status !== 'finished') || (!Tenant.contracts[0].id && Tenant.id))">
    {{ form_start(form) }}
    <td data-bind="text: $root.getStatusText($data)"></td>
    <td data-bind="text:Tenant.contracts[0].unit.name"></td>
    <td data-bind="text:Tenant.resident_id"></td>
    <td data-bind="text:Tenant.first_name"></td>
    <td data-bind="text:Tenant.last_name"></td>
    <td data-bind="text:Tenant.email"></td>
    <td>
        {{ form_widget(form.rent, {'attr': {'data-bind': 'value: Tenant.contracts[0].rent'}}) }}
    </td>
    <td>
        {{ form_widget(
            form.startAt,
            {
                'attr': {'data-bind': 'value:$root.formatDate(Tenant.contracts[0].startAt)'}
            }
        ) }}
    </td>
    <td>
        {{ form_widget(
            form.finishAt,
            {
                'attr': {'data-bind': 'value: $root.formatDate(Tenant.contracts[0].finishAt)'}
            }
        ) }}
    </td>
    <td></td>
    <td>
        {{ form_widget(
            form.imported_balance,
            {
                'attr':
                    {'data-bind': 'value: Tenant.contracts[0].imported_balance'}
            }
        ) }}
    </td>
    <td>
    </td>
    {{ form_widget(form._token, {'attr': {'data-bind': 'value: csrfToken'}}) }}
    {{ form_end(form) }}
</tr>
