{% form_theme form "RjCoreBundle::form.html.twig" %}

<tr data-bind="attr: {'class': $root.getClassLine($data)}, if: isSkipped || Contract.status == 'finished' || !isValid">
    <td data-bind="text: $root.getStatusText($data), attr: {'class': $root.getStatusText($data) }"></td>
    <td data-bind="text:Contract.unit.name, attr: {'class': $root.getUnitClass($data), 'title': $root.getUnitTitle($data) }"></td>
    <td data-bind="text:Tenant.resident_id, attr: {'class': $root.getResidentIdClass($data), 'title': $root.getResidentIdTitle($data) }"></td>
    <td data-bind="text:Tenant.first_name"></td>
    <td data-bind="text:Tenant.last_name"></td>
    <td data-bind="text:Tenant.email"></td>
    <td data-bind="html:Contract.rent+'<br/>'+Contract.imported_balance"></td>
    <td data-bind="html:$root.formatDate(Contract.startAt)+'<br/>'+$root.formatDate(Contract.finishAt)">
    </td>
    <td></td>
    <td>
        <span  class="finishContract" data-bind="if: Contract.status == 'finished' && $data.moveOut && !isSkipped && Contract.id && isValid">
        {{ form_start(form) }}
            {{ 'import.move_out'|trans }}:<br />
            {{ form_widget(
                form.finishAt,
                {
                    "attr": {
                    "data-bind":
                        "value: $data.moveOut,
                         datepicker: $data.moveOut,
                         datepickerOptions: $root.getDatePickerOptions(),
                         datepickerFieldName: 'finishAt'
                         attr: {
                            'class': number+'_finishAt import_contract_finish_finishAt datepicker '+$root.getErrorClass($data, 'import_contract_finish_finishAt'),
                            'title': $root.getErrorTitle($data, 'import_contract_finish_finishAt')
                         }"
                    }
                }
            ) }}
            {{ form_widget(form._token, {"attr": {"data-bind": "value: csrfToken, attr: {'class': number+'_token import_contract_finish__token'}"}}) }}
        {{ form_end(form) }}
        </span>
    </td>
</tr>
