{% extends "LandlordBundle::base.html.twig" %}
{% form_theme formBaseOrder 'RjCoreBundle::form.html.twig' %}

{% block content %}
<div>
  <h3>
      {{ 'tabs.reports'|trans }}
  </h3>
  <br />
  <div class="pod-middle pod-border pod-padding shadow">
    <section class="form-content">
       <form novalidate action="{{ path('landlord_reports')}}" method="post" {{ form_enctype(formBaseOrder) }} id="baseOrderReport" >

            {{ form_widget(formBaseOrder) }}
           <button type="submit" class="button small submitBaseReport">
                    <span>
                        {{ 'base.order.report.download'|trans }}
                    </span>
           </button>
           <div class="helpContainer">
               Help:
               <a href="http://renttrack.uservoice.com/knowledgebase/articles/296770-how-to-import-payments-into-yardi" class="xml">{{ 'base.order.report.how_to.yardi'|trans }}</a>
               <a href="http://renttrack.uservoice.com/knowledgebase/articles/296772-how-do-i-import-payments-into-realpage-onesite-" class="csv none">{{ 'base.order.report.how_to.realpage'|trans }}</a>
           </div>
        </form>
    </section>
    <div class="col-box clearfix"></div>
  </div>
</div>
<div class="col-box clearfix"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LandlordBundle/Resources/public/css/reports.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/bazingaexposetranslation/js/translator.min.js'
    '@LandlordBundle/Resources/public/js/baseOrderReport.js'
    '@RjCoreBundle/Resources/public/js/jquery-ui.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
{% endblock %}