{% extends "LandlordBundle::base.html.twig" %}

{% block content %}
    <div class="sub-menu">
        {{ knp_menu_render('LandlordBundle:Builder:accountingMenu', { 'template': '::menu.html.twig' }) }}
    </div>
    <div class="container-content">
        <div id="action_plan_page">
            <div class="column-middle floatleft">
                <div id="reviewContainer" class="pod-middle pod-border pod-padding shadow">
                    {{
                    include(
                    'LandlordBundle:Reports:importSteps.html.twig',
                    {
                    'step': 'step3',
                    }
                    )
                    }}
                    <br />
                    <br />
                    <div class="errorMessage" data-bind="
                            visible: $root.errorLoadDataMessage().length > 0,
                            text: $root.errorLoadDataMessage()
                    ">
                    </div>
                    <table class="properties-table zebra-grid" data-bind="
                            visible: $root.errorLoadDataMessage().length <= 0">
                        <thead>
                        <tr class="properties-th">
                            <th class="pie-el"><span>{{ 'import.status'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.unit'|trans }}*</span></th>
                            <th class="pie-el"><span>{{ 'import.residentId'|trans }}*</span></th>
                            <th class="pie-el"><span>{{ 'import.first_name'|trans }}*</span></th>
                            <th class="pie-el"><span>{{ 'import.last_name'|trans }}*</span></th>
                            <th class="pie-el"><span>{{ 'import.email'|trans }}*</span></th>
                            <th class="pie-el"><span>{{ 'import.rent'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.move_in'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.lease_end'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.move_out'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.balance'|trans }}</span></th>
                            <th class="pie-el"><span>{{ 'import.send_invite'|trans }}</span></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.rows">
                            {#
                                include(
                                    'LandlordBundle:Reports:_reviewNewUserWithContract.html.twig',
                                    {
                                    'form': formNewUserWithContract,
                                    }
                                )
                            #}
                            {#
                                include(
                                    'LandlordBundle:Reports:_reviewNewContract.html.twig',
                                    {
                                    'form': formNewContract,
                                    }
                                )
                            #}
                            {{
                                include(
                                    'LandlordBundle:Reports:_reviewUpdateContract.html.twig',
                                    {
                                    'form': formUpdateContract,
                                    }
                                )
                            }}
                            {{
                                include(
                                    'LandlordBundle:Reports:_reviewSkip.html.twig'
                                )
                            }}
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <div class="button-box">
                        <a href="{{ path("landlord_reports_match_file") }}" class="button small fixed next grey prev">
                            <span>{{ 'pay_popup.step.previous'|trans }}</span>
                        </a>
                        <button type="submit"
                                class="button small submitImportFile"
                                data-bind="visible: $root.errorLoadDataMessage().length <= 0"
                        >
                            <span>
                                {{ 'import.review.and.post'|trans }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@LandlordBundle/Resources/public/css/submenu.css'
    '@LandlordBundle/Resources/public/css/stepImport.css'
    '@LandlordBundle/Resources/public/css/reviewAndPost.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}
    {{ parent() }}
    {% javascripts
    'bundles/bazingajstranslation/js/translator.min.js'
    '@LandlordBundle/Resources/public/js/accountingImport.js'
    '@RjCoreBundle/Resources/public/js/jquery-ui.js'
    '@RjComponentBundle/Resources/public/js/knockout-jqueryui.min.js'
    '@LandlordBundle/Resources/public/js/reviewAndPost.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>
{% endblock %}
