{% extends "CoreBundle::rj_base.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@ComponentBundle/Resources/public/css/components.css'
                   '@ComponentBundle/Resources/public/css/report.css'
                   '@ComponentBundle/Resources/public/css/tradelines-history.css'
                   '@ComponentBundle/Resources/public/css/credit-summary.css'
                   '@ComponentBundle/Resources/public/css/score.css'
                   '@ComponentBundle/Resources/public/css/credit-balance.css'
                   '@ComponentBundle/Resources/public/css/account-status.css'
                   '@ComponentBundle/Resources/public/css/goods.css'
                   '@ComponentBundle/Resources/public/css/inquiries.css'
                   '@ComponentBundle/Resources/public/css/automotive-details.css'
                   '@ComponentBundle/Resources/public/css/footer.css'
                   '@ComponentBundle/Resources/public/css/leads.css'
                   '@ComponentBundle/Resources/public/css/ad-creditcards.css'
                   '@CoreBundle/Resources/public/css/rj-logos.css'
                   '@CoreBundle/Resources/public/css/tabs.css'
                   '@UserBundle/Resources/public/css/login.css'
                   '@CoreBundle/Resources/public/css/google-maps.css'
                   '@CoreBundle/Resources/public/css/check.css'
                   '@CheckoutBundle/Resources/public/css/checkout.css'
                   '@CoreBundle/Resources/public/css/landlord.css'
                   '@CoreBundle/Resources/public/css/datepicker.css'
                   '@RjPublicBundle/Resources/public/css/styles.css'
     %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block google_api %}
    {{ include('RjComponentBundle:Google:js.html.twig') }}
{% endblock %}

{% block select %}
    {% if nGroups is defined and nGroups > 1 %}
        {{ render(controller('ComponentBundle:Groups:index')) }}
    {% endif %}
{% endblock %}

{% block tabs %}
        <div class="top-nav">
    {{ knp_menu_render('LandlordBundle:Builder:mainMenu', { 'template': 'CoreBundle:Menu:user_tabs.html.twig' }) }}
    </div>
    
{% endblock %}

{% block footer %}
    {{ render(controller('RjComponentBundle:Footer:index')) }}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@CoreBundle/Resources/public/js/less.min.js'
                    '@CoreBundle/Resources/public/js/datepicker.js'
                    '@ComponentBundle/Resources/public/js/groups.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

