{% extends app.user.type | capitalize ~ "Bundle::base.html.twig" %}

{% block title "common.applicant.dashboard"|trans %}

{% form_theme form 'RjCoreBundle::form.html.twig' %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>{{ 'settings.title' | trans }}</h2>
            {{ knp_menu_render(app.user.type | capitalize ~ 'Bundle:Builder:settingsMenu', { 'template': '::menu.html.twig' }) }}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>{{ 'settings.contact_information' | trans }}</h1>
            <div class="row-20"></div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            <section class="form-content">
                <form action="{{ path('user_contact') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    <div class="background-grey">
                        <div class="form-label">
                            {{ form_label(form.first_name) }}
                        </div>
                        <div class="form-widget">
                                {{ form_widget(form.first_name, { 'attr': {'class': 'half-width', 'placeholder':"first"} }) }}
                                {{ form_widget(form.last_name, { 'attr': {'class': 'half-width', 'placeholder':"last"} }) }}
                                {{ form_errors(form.first_name) }}
                                {{ form_errors(form.last_name) }}
                        </div>
                        <div class="clearboth"></div>
                        <div class="row-20"></div>
                        <div class="form-label">
                            {{ form_label(form.phone) }}
                        </div>
                        <div class="form-widget">
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="clearboth"></div>
                    </div>
                    <div class="row-20"></div>
                    {{ form_rest(form) }}
                    <button type="submit" class="button large" >
                        <span>{{ 'common.update' | trans }}</span>
                    </button>
                </form>
            </section>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
