{% extends app.user.type | capitalize ~ "Bundle::base.html.twig" %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>{{ 'settings.title' | trans }}</h2>
            {{ knp_menu_render(app.user.type | capitalize ~ 'Bundle:Builder:settingsMenu', { 'template': '::menu.html.twig' }) }}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>{{ 'settings.email' | trans }}</h1>
            <div class="row-20"></div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form action="{{ path('user_email') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <table>
                    <tr>
                        <td>
                            <div class="checkbox-anywhere">
                                {{ form_widget(form.emailNotification) }}
                            </div>
                        </td>
                        <td>
                            <label>{{ 'notification.score' | trans }}</label>
                        </td>
                        <td>
                            {{ 'notification.score.comment' | trans }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-anywhere">
                            {{ form_widget(form.offer_notification) }}
                            </div>
                        </td>
                        <td>
                            <label>{{ 'notification.offer' | trans }}</label>
                        </td>
                        <td>
                            {{ 'notification.offer.comment' | trans }}
                        </td>
                    </tr>
                </table>
                {{ form_rest(form) }}
                <div class="row-20"></div>
                {% if application == 'rj' %}
                <button type="submit" class="button large" >
                    <span>{{ 'common.save' | trans }}</span>
                </button>
                {% else %}
                <input class="button large green" type="submit" name="_submit" value="{{ 'common.save' | trans }}" />
                {% endif %}
            </form>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
