{% extends app.user.type | capitalize ~ "Bundle::base.html.twig" %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h2>{{ 'settings.title' | trans }}</h2>
            {{ knp_menu_render(app.user.type | capitalize ~ 'Bundle:Builder:settingsMenu', { 'template': '::menu.html.twig' }) }}
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>{{ 'settings.remove' | trans }}</h1>
            {{ 'remove.comment' | trans }}
            <div class="row-20"></div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form action="{{ path('user_remove') }}" method="post" {{ form_enctype(form) }}>
                <div class="background-grey">
                    <h5>{{ 'password.verify' | trans }}</h5>
                    <br>
                        {{ form_label(form.password) }}&nbsp;&nbsp;{{ form_widget(form.password) }}
                </div>
                {{ form_rest(form) }}
                <div class="row-20"></div>
                <input class="button large green" type="submit" name="_submit" value="{{ 'common.remove' | trans }}" />
            </form>
            
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
