{% extends "::base.html.twig" %}

{% block info %}
    {% if app.user %}
        {{ render(controller('ComponentBundle:Blocks:info')) }}
    {% else %}
        <div class="user-logout">
            <a href="{{ path('fos_user_security_login') }}">» {{ 'login.submit' | trans }} </a>&nbsp;|&nbsp;
            <a href="#">» {{ 'common.help' | trans }} </a>
        </div>
    {% endif %}
    <!-- {{ random() }} -->
{% endblock %}
