<script type="text/javascript">
//<!--
    $reLoader = new ReLoader('{{ url }}', '{{ redirect }}', '{{ failedLink }}');
//-->
</script>

<div class="loading">
    <center>
        <img alt="{{ 'common.loading.alt' | trans }}" src="{{ asset('bundles/core/images/img_loading.gif') }}">
        <div class="row-20"></div>
        <h4>{{ 'common.loading.text' | trans }}</h4>
    </center>
</div>
