<script type="text/javascript">
//<!--
    $reLoader = new ReLoader('{{ url }}', '{{ redirect }}');
//-->
</script>

<div class="loading">
    <center>
        <img alt="{{ 'common.loading.alt' | trans }}" src="{{ asset('bundles/core/images/img_loading.gif') }}">
        <p>{{ 'common.loading.text' | trans }}</p>
    </center>
</div>
