<div class="content">
    <div class='footer-info floatleft'>
        <strong>{{ 'footer.title' | trans }}</strong>
        <p>
          {{ 'footer.comment' | trans }}
        </p>
        <div class='copyright'>&copy;{{ 'footer.copyright' | trans | replace({'%nYear%': 2012}) }}
        </div>
    </div>
    <nav class='footer-box floatleft'>
        <strong>{{ 'footer.credit.jeeves' | trans }}</strong>
        <ul>
          <li>
            <a href='http://www.creditjeeves.com/'>&raquo;&nbsp;{{ 'footer.about_us' | trans }}</a>
          </li>
          <li>
            <a href='http://www.creditjeeves.com/terms-of-service'>&raquo;&nbsp;{{ 'footer.terms_of_service' | trans }}</a>
          </li>
          <li>
            <a href='http://www.creditjeeves.com/privacy-policy'>&raquo;&nbsp;{{ 'footer.privace_policy' | trans }}</a>
          </li>
          <li>
            <a href='http://creditjeeves.uservoice.com/'>&raquo;&nbsp;{{ 'footer.send_feedback' | trans }}</a>
          </li>
        </ul>
    </nav>
    <nav class='footer-box floatleft'>
        <strong>{{ 'footer.information' | trans }}</strong>
        <ul>
          <li>
            <a href='http://www.creditjeeves.com/educate/understand-your-credit-score'>
              &raquo;&nbsp;{{ 'footer.credit_score' | trans }}
            </a>
          </li>
          <li>
            <a href='http://www.creditjeeves.com/educate/know-your-credit-rights'>
              &raquo;&nbsp;{{ 'footer.your_rights' | trans }}
            </a>
          </li>
          <li>
            <a href='http://www.creditjeeves.com/educate/credit-dos-and-donts'>
              &raquo;&nbsp;{{ 'footer.dos_donts' | trans }}
            </a>
          </li>
          <li>
            <a href='http://www.creditjeeves.com/blog/'>
              &raquo;&nbsp;{{ 'footer.blog' | trans }}
            </a>
          </li>
        </ul>
    </nav>
    <nav class='footer-box floatleft'>
        <strong>{{ 'footer.resources' | trans }}</strong>
        <ul>
          <li>
            <a href='https://www.annualcreditreport.com/' rel="nofollow">
              &raquo;&nbsp;{{ 'footer.report' | trans }}
            </a>
          </li>
          <li>
            <a href='http://www.experian.com/' rel="nofollow">
              &raquo;&nbsp;{{ 'footer.experian' | trans }}
            </a>
          </li>
          <li>
            <a href='http://www.ftc.gov/bcp/menus/consumer/credit.shtm' rel="nofollow">
              &raquo;&nbsp;{{ 'footer.ftc' | trans }}
            </a>
          </li>
        </ul>
    </nav>
    <div class='clearboth'></div>
    <div class='disclaimer'>
        You are receiving aggregated credit information.
        Such information does not represent all information in your credit file at Experian.
        To obtain full disclosure of information in your credit file at Experian,
        you may visit <a href="http://www.experian.com/consumer">www.experian.com/consumer</a>
        or call 888-397-3742. (A fee may apply.)
        You may also be entitled to obtain a copy of your full report free of charge at AnnualCreditReport.com.
        You have authorized CreditJeeves to obtain information from your personal credit profile,
        and your authorization may be withdrawn at any time. The simulation is for educational purposes only,
        does not guarantee that you can reach your dealer's target score,
        and is a simulation is of the Scorex Plus score.
        Such score is not an endorsement or guarantee of a consumer’s credit worthiness as seen by lenders.
    </div>
</div>
<div class='clearboth'></div>

