<div id="did-you-know" class="pod-small pod-border pod-padding shadow">
    <h3>{{ 'component.didyouknow.title' | trans }}</h3>
    <strong>{{ subheading | trans }}</strong>
    <p class='spaced-text'>{{ message | trans }}</p>
    <div>
        <a href="{{ href }}" target="_blank">
            {% if img %}
                <img src="{{ img }}" width="120" height="60" alt="Online - H&R Block At Home Free Edition " border="0"/>
            {% else %}
                {{ href_text }}
            {% endif %}
        </a>
    </div>
</div>

