{% extends "::base.html.twig" %}
{% form_theme form ':Form:form_errors.html.twig' %}
{% block title "Returned Appliant" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/user/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block info %}
<div class="user-logout">
    <a href="{{ path('fos_user_security_logout') }}">» {{ 'common.log_out' | trans }} </a>&nbsp;|&nbsp;
    <a href="{{ path('fos_user_security_logout') }}">» {{ 'common.help' | trans }} </a>
</div>
{% endblock %}

{% block content %}
    <div class="column-small floatleft">
        <div class="pod-small pod-border pod-padding shadow">
            <h3>Why is Credit Jeeves Different?</h3>
            <p>
                Credit Jeeves gives you a <strong>custom action plan</strong> so you can take charge of your credit and buy the car of your dreams.
            </p>
        </div>
    </div>
    <div class="column-middle floatright">
        <div class="pod-middle pod-border pod-padding shadow">
            <h1>{{ 'user.welcome' | trans }}</h1>
            <div class="row-20"></div>
            <h3>{{ 'user.invite.title' | trans }}</h3>
                <form action="{{ path('applicant_returned') }}" method="post" {{ form_enctype(form) }} id="id_returned_form">
                     {{ form_errors(form) }}
                    <fieldset>
                        {% include 'ComponentBundle:User:code.html.twig'     with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:name.html.twig'     with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:email.html.twig'    with { 'form' : form } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:ssn.html.twig'      with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:address.html.twig'  with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:phone.html.twig'    with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        {% include 'ComponentBundle:User:dob.html.twig'      with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        <div class="row-20"></div>
                        {% include 'ComponentBundle:User:tos.html.twig'      with { 'form' : form.user } %}
                        <div class="clearboth"></div>
                        {{ form_rest(form) }}
                        <div class="row-20"></div>
                        <div class="form-row">
                            <input class="button large green" type="submit" name="_submit" value="{{ 'common.get.score' | trans }}" />
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>
    <div class="clearboth"></div>
{% endblock %}
