{% if aCreditSummary | length > 0 %} 
<div class="pod-large pod-border pod-padding shadow">
  <div class="summary">
    <h3>{{ 'component.credit.summary' | trans }}</h3>
      <div class="datetime floatright">
        {{ sDate }}
      </div>
      <div class="col summary-block  zebra-grid">
          <table class="grey-striped">
              <thead>
              <tr>
                  <th>{{ 'common.credit.type' | trans }}</th>
                  <th>{{ 'common.balance' | trans }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>{{ 'common.mortgage' | trans }}</td>
                  <td>${{ aCreditSummary.mortgage_debt | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'common.revolving' | trans }}</td>
                  <td>${{ aCreditSummary.revolving_debt | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'common.installment' | trans }}</td>
                  <td>${{ aCreditSummary.installment_debt | number_format() }}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col summary-block zebra-grid">
          <table>
              <tbody>
              <tr>
                  <td>{{ 'account.satisfactory' | trans }}:</td>
                  <td>{{ aCreditSummary.satisfactory_accounts | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'payment.monthly.estate' | trans }}:</td>
                  <td>${{ aCreditSummary.real_estate_payment | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'payment.monthly.total' | trans }}:</td>
                  <td>${{ aCreditSummary.monthly_payment | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'inquiries.total' | trans }}:</td>
                  <td>{{ aCreditSummary.total_inquiries_counter | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'account.oldest' | trans }}:</td>
                  <td>{{ aCreditSummary.oldest_trade_date }}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col summary-block important margin-none zebra-grid">
          <table>
              <tbody>
              <tr class="important">
                  <td>{{ 'derogatory.current' | trans }}:</td>
                  <td>{{ aCreditSummary.now_delinquentderog_counter }}</td>
              </tr>
              <tr class="important">
                  <td>{{ 'derogatory.past' | trans }}:</td>
                  <td>{{ aCreditSummary.was_delinquentderog_counter }}</td>
              </tr>
              <tr class="important">
                  <td>{{ 'past_due.total.amount' | trans }}:</td>
                  <td>${{ aCreditSummary.total_past_due | number_format() }}</td>
              </tr>
              <tr>
                  <td>{{ 'inquiries.hard.header' | trans }}:</td>
                  <td>{{ aCreditSummary.inquiries_during_last_6_months_counter }}</td>
              </tr>
              <tr>
                  <td>{{ 'records.public.total' | trans }}:</td>
                  <td>{{ aCreditSummary.public_records_count }}</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="clearboth"></div>
</div>
{% endif %}
