{% form_theme form ':Form:form_errors.html.twig' %}

<div class="form-row">
        {{ form_errors(form.first_name) }}
        {{ form_errors(form.last_name) }}

    <div class="form-label">{{ form_label(form.first_name) }}</div>
    <div class="form-widget">
        {{ form_widget(
            form.first_name,
            { 'attr': 
                {
                    'class': 'user-input user-name user-margin',
                    'maxlength' : 50,
                    'placeholder': 'First Name' 
                }
            })
        }}
        {% if form.middle_initial is defined %}
            {{ form_widget(
                form.middle_initial,
                { 'attr':
                    {
                        'class': 'user-input user-initial user-margin',
                        'maxlength' : 20,
                        'placeholder': 'MI'
                    }
                })
            }}
        {% endif %}
        {{ form_widget(
            form.last_name,
                { 'attr':
                    {
                        'class': 'user-input user-name user-margin',
                        'maxlength' : 50,
                        'placeholder': 'Last Name'
                    }
                })
        }}
    </div>
</div>
