<div class="form-row background-grey">
    <div class="row-20"></div>
    <h5>{{ 'user.password.create' | trans }}</h5>
    <div class="form-label">
        <div class="form-input">{{ form_label(form.password.Password) }}</div>
    </div>
    <div class="form-widget">
        <div class="form-input">{{ form_widget(form.password.Password, { 'attr': {'class': 'margin-left-none'} }) }}</div>
    </div>
    <div class="clearboth"></div>
    <div class="row-20"></div>
    <div class="form-label">
        <div class="form-input">{{ form_label(form.password.Retype) }}</div>
    </div>
    <div class="form-widget">
        <div class="form-input">{{ form_widget(form.password.Retype, { 'attr': {'class': 'margin-left-none'} }) }}</div>
    </div>
    <div class="clearboth"></div>
    <div class="row-20"></div>
</div>
