<div class="form-row">
    {{ form_errors(form.ssn) }}
    <div class="form-label">{{ form_label(form.ssn) }}<span class="lock-icon floatright"></span></div>
    <div class="form-widget">
        {{ form_widget(form.ssn.ssn1)}}
        {{ form_widget(form.ssn.ssn2)}}
        {{ form_widget(form.ssn.ssn3)}}
    </div>
</div>
