<!-- Resolve Popup -->
<div id="contract-resolve" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'conflict.resolve.title' | trans() }}</h1>
    <div class="clearfix halfs-box">
        <div class="grey-half-box" data-bind="with: details">
            <h4>{{ 'tenant.info' | trans() }}</h4>
            <div class="sub-box">
                <p data-bind="text: tenant"></p>
                <p data-bind="text: full_address"></p>
            </div>
            <div class="sub-box">
                <p>{{ 'conflict.due.date' | trans() }}:&nbsp;<strong data-bind="text: late_date"></strong></p>
                <p class="late" data-bind="text: late"></p>
            </div>
        </div>
        <div class="half-box right">
            <h4>{{ 'conflict.resolve.options' | trans() }}</h4>
            <ul class="checkboxes">
                <li>
                    <label class="checkbox radio">
                        <input type="radio" name="ResolutionOptions" title="email" checked>
                        <i></i>
                        <span>{{ 'conflict.resolve.email' | trans() }}</span>
                    </label>
                </li>
                <li>
                    <label class="checkbox radio">
                        <input type="radio" name="ResolutionOptions" title="paid">
                        <i></i>
                        <span>{{ 'conflict.resolve.paid' | trans() }}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix col-box" id="blockPopupEditProperty" style="display: block;">
        <div class="footer-button-box">
            <button class="button buttonFix" data-bind="click: resolve">
                <span>{{ 'conflict.resolve.action' | trans() }}</span>
            </button>
            <button class="button grey buttonFix" data-bind="click: closeForm">
                <span>{{ 'cancel' | trans() }}</span>
            </button>
        </div>
    </div>
</div>
<!-- End Resolve Popup -->

<div id="actions-block" class="landrord-box contracts-block">
    <div class="title-box clearfix">
      <h2 data-bind="text: '{{'action.required'|trans}} (' + $root.total() + ')'"></h2>
      <div class="fiter-box">
        <label>{{ 'filter.by'|trans }}</label>
        <select id="searchActions"class="select custom-select blue-arrow selectBox">
            <option value="property">{{ 'property'|trans }}</option>
            <option value="tenant">{{ 'tenant'|trans }}</option>
            <option value="amount">{{ 'amount'|trans }}</option>
        </select>
        <div class="finder-box">
          <input type="text" id="searsh-field-actions" name="searsh-field" data-bind="value: searchText">
          <a href="#" style="display:block;" data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }" id="delete" class="pie-el">x</a>
          <button type="submit" id="search-submit" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
        </div>
      </div>
    </div>
    <div class="content-box">
      <div class="properties-table-block table-wrap">
        <div class="table-margin">
          <table class="properties-table zebra-grid"
          data-bind="style: { display: processActions() ? 'none ' :  'table' }"
            style="display:none;"
          >
            <thead>
              <tr class="properties-th">
                <th class="pie-el" colspan="2">
                  <span class="sort" id="statusA" data-bind="click: sortIt" >{{ 'filter.status'|trans }}<i> </i></span>
                </th>
                <th class="pie-el">
                  <span class="sort"  id="due_dateA" data-bind="click: sortIt">{{ 'due_date'|trans }}<i> </i>
                  </span>
                </th>
                <th class="pie-el">
                  <span class="sort" id="propertyA" data-bind="click: sortIt">{{ 'property'|trans }}<i> </i>
                  </span>
                </th>
                <th class="pie-el">
                  <span id="tenantA" data-bind="click: sortIt" class="sort">{{ 'tenant'|trans }}<i> </i>
                  </span>
                </th>
                <th class="pie-el">
                  <span  id="amountA" data-bind="click: sortIt" class="sort">{{ 'amount'|trans }}<i> </i>
                  </span>
                </th>
                <th class="pie-el">{{ 'type'|trans }}</th>
              </tr>
            </thead>
            <tbody>
            <!-- ko if: countActions -->
              <!-- ko foreach: { data: aActions() } -->
              <tr>
                <td class="actions-status late" data-bind="text: status"></td>
                <td class="action-box">
                  <a href="#" class="action-alert pie-el"  data-bind="click: $root.Resolve">
                    <i> </i>{{'resolve'|trans|upper}}
                  </a>
                </td>
                <td data-bind="text: late_date"></td>
                <td data-bind="text: address"></td>
                <td data-bind="text: tenant"></td>
                <td data-bind="text: amount"></td>
                <td class="type-box">
                </td>
              </tr>
              <!-- /ko -->
              <!-- /ko -->
            </tbody>
          </table>
              <!-- ko if: notHaveResult()  -->
              <div class="no-data-row">
                    <h3 class="notHaveData">{{ 'donthavedata'|trans }}</h3>
                    </div>
              <!-- /ko -->

          <img src="/bundles/core/images/img_loading.gif" class="processPayment" data-bind="style: { display: processActions() ? 'block' : 'none' }">
        </div>
      </div>
    </div>
    <div class="clearboth"></div>
    <!-- ko if: pages().length -->
    <div class="row-20"></div>
    <div class="floatright">
        <!-- ko foreach: pages() -->
            <!-- ko if: $data == $root.current() -->
            <div class="btn grey floatleft" data-bind="click: $root.goToPage, text: $data"></div>
            <!-- /ko -->
            <!-- ko ifnot: $data == $root.current() -->
            <div class="btn green floatleft" data-bind="click: $root.goToPage, text: $data"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="clearboth"></div>
    <div class="row-20"></div>
    <!-- /ko -->
</div>
