
{% form_theme form ':Form:form_errors.html.twig' %}

<div id="contract-actions">

    <!-- Action Edit -->
    <div id="tenant-edit-property-popup" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'edit.tenant.info'|trans }}</h1>
        <div class="clearfix col-box" data-bind="with: contract">
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                    <small><b>*</b>{{ 'required'|trans }}</small>
                </h4>
                <div class="form-row clearfix">
                    <label>{{'name'|trans}}<b>*</b></label>
                    <div class="fields-box">
                        <span data-bind="text: first_name"></span>
                        <span data-bind="text: last_name"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <span data-bind="text: email"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'request.payments'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="Enter the monthly amount for rent. The start and end dates will be used to calculate when rent is due, and if rent is late.">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                </div>
                <!-- ko if: status == 'PENDING' -->
                <div class="form-row clearfix">
                    <label>{{ 'unit'|trans|capitalize }}<b>*</b></label>
                    <select id="unit-edit" class="original" name="unit_id">
                    </select>
                    <img src="/bundles/rjpublic/images/ajax-loader-small.gif" style="display: none;" class="loader">
                </div>
                <!-- /ko -->
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" id="amount-edit" data-bind="value: amount" value="" class="half-of-right">
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'start'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" value="" class="datepicker-field" data-bind="value: start" id="contractEditStart">
                        <label class="fixed">{{ 'end'|trans }}</label>
                        <input type="text" value="" class="datepicker-field" data-bind="value: finish" id="contractEditFinish">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button" data-bind="click: saveContract"><span>{{'savechanges'|trans}}</span></button>
            <button class="button grey"  data-bind="click: cancelEdit"><span>{{'cancel'|trans}}</span></button>
            <a href="#" class="link" data-bind="click: removeTenant">{{'remove.tenant'|trans|raw}}</a>
        </div>
    </div>
    <!-- End Action Edit -->
    <!-- Action Approve -->
    <div id="tenant-approve-property-popup" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'approve.tenant.info'|trans }}</h1>
        <div class="clearfix col-box"  data-bind="with: contract">
            <div class="information-box pie-el">{{'pending.tenant.info'|trans}}</div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                </h4>
                <div class="form-row clearfix">
                    <label>{{'name'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: tenant"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <!-- ko if: search -->
                            <span class="value" data-bind="text: address+' ({{ 'tenant.wants.unit'|trans }} '+search+')'"></span>
                        <!-- /ko -->
                        <!-- ko if: !search -->
                        <span class="value" data-bind="text: address"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span class="value"  data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: email"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'request.payments'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="Enter the monthly amount for rent. The start and end dates will be used to calculate when rent is due, and if rent is late.">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" id="amount-approve" data-bind="value: amount" value="" class="half-of-right">
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'start'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" value="" class="datepicker-field" data-bind="value: start" id="contractApproveStart">
                        <label class="fixed">{{ 'end'|trans }}</label>
                        <input type="text" value="" class="datepicker-field" data-bind="value: finish" id="contractApproveFinish">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button" data-bind="click: approveSave"><span>{{ 'approve.tenant'|trans }}</span></button>
            <button class="button" data-bind="click: editContract"><span>{{ 'edit.Info'|trans }}</span></button>
            <div class="with-seperator-box">
                <button class="button grey" onclick="$('#tenant-approve-property-popup').dialog( 'close' ); return false;">
                    <span>{{ 'cancel'|trans }}</span>
                </button>
            </div>
        </div>
    </div>
    <!-- End Action Approve -->
    <!-- Action Review -->
    <div id="tenant-review-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <h1>{{ 'Information'|trans }}</h1>
      <div class="clearfix col-box"  data-bind="with: contract">

        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'tenant.info'|trans }}</span>
          </h4>
          <div class="form-row clearfix">
            <label>{{ 'name'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: tenant"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'property'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: address"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'phone'|trans }}</label>
            <div class="fields-box">
              <span class="value"  data-bind="text: phone"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'email'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: email"></span>
            </div>
          </div>
        </div>
        
        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'request.payments'|trans }}</span>
            <i class="help pie-el tooltip-link" title="Enter the monthly amount for rent. The start and end dates will be used to calculate when rent is due, and if rent is late.">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>{{ 'property'|trans }}</label>
            <div class="fields-box">
              <span class="value left">{{ 'monthly'|trans }} </span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'amount'|trans }}</label>
            <div class="fields-box">
              <span class="value left" data-bind="text: amount"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'start'|trans }}</label>
            <div class="fields-box">
              <span class="value left" id="contract-edit-start" data-bind="text: start"></span>
              <label class="fixed">{{ 'end'|trans }}</label>
              <span class="value left" id="contract-edit-finish" data-bind="text: finish"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-button-box">
          <button class="button grey" onclick="$('#tenant-review-property-popup').dialog( 'close' ); return false;">
            <span>{{ 'cancel'|trans }}</span>
          </button>
      </div>
    </div>
    <!-- Action Add Tenant-->
   <div id="tenant-add-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <form novalidate action="{{ path('landlord_invite_save') }}" method="post" {{ form_enctype(form) }}>
      <h1>{{'add.tenant'|trans}}</h1>
      {{ form_errors(form) }}
      <div class="clearfix col-box">
        <div id="userExistMessage" class="information-box pie-el messageInfoUserAdd">
          {{ 'user.alredy.in.system'|trans }}
        </div>
        <div id="userExistMessageLanlord" class="attention-box pie-el pie-el messageInfoUserAdd">
          {{ 'user.itslandlord'|trans }}
        </div>
        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'tenant.info'|trans }}</span>
            <small><b>*</b>{{'required'|trans}}</small>
          </h4>
          <div class="form-row clearfix userInfo">
            <label>{{'name'|trans}}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.tenant.first_name, { 'attr': {'class': 'half-width', 'placeholder':"First"} }) }}
              {{ form_widget(form.tenant.last_name, { 'attr': {'class': 'half-width', 'placeholder':"Last"} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{'property'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.contract.property) }}
              {{ form_widget(form.contract.unit) }}
            </div>
          </div>
          <div class="form-row clearfix userInfo">
            <label>{{ 'phone'|trans }}</label>
            <div class="fields-box">
              {{ form_widget(form.tenant.phone, { 'attr': {'class': 'half-width', 'placeholder':"Phone"} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'email'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.tenant.email) }}
            </div>
          </div>
          
        </div>
        
        <div class="col">
          <h4 class="clearfix">
            <span>{{'request.payments'|trans}}</span>
            <i class="help pie-el tooltip-link" title="Enter the monthly amount for rent. The start and end dates will be used to calculate when rent is due, and if rent is late.">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>{{'amount'|trans}}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.contract.rent, { 'attr': {'class': 'half-width', 'placeholder':"$"} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{'start'|trans}}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(
                form.contract.startAt,
                   { 'attr': 
                    {
                      'class': 'datepicker-field payment-start',
                      'placeholder':"dd/mm/YYYY"
                    }
                   }
                ) 
              }}
              <label class="fixed">{{'end'|trans}}</label>
              {{ form_widget(
                form.contract.finishAt,
                   { 'attr': 
                    {
                      'class': 'datepicker-field payment-end',
                      'placeholder':"dd/mm/YYYY"
                    }
                   }
                ) 
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="footer-button-box">
        <button type="submit"  class="button"><span>{{'invite.tenant'|trans }}</span></button>
        <div class="with-seperator-box">
          <button class="button grey" onclick="$('#tenant-add-property-popup').dialog( 'close' ); return false;">
            <span>{{ 'cancel'|trans }}</span></button>
        </div>
      </div>
      {{ form_rest(form) }}
      </form>
    </div>
</div>

<div id="contracts-block">
    <div class="landrord-box">
        <div class="title-box clearfix">
            <h2 data-bind="text: 'All (' + $root.total() + ')'"></h2>
            <div class="fiter-box">
                <label>{{'filter.by'|trans}}</label>
                <select id="searchFilter" class="select custom-select blue-arrow selectBox" style="display: none;">
                    <option selected="selected" value="status">{{'filter.status'|trans}}</option>
                    <option value="email">{{ 'email'|trans }}</option>
                    <option value="phone">{{ 'phone'|trans }}</option>
                    <option value="street">{{ 'street'|trans }}</option>
                    <option value="rent">{{ 'amount'|trans }}</option>
                    <option value="tenant">{{ 'tenant'|trans }}</option>
                </select>
                <div id="searchInput" style="display:none;" class="finder-box">
                    <input 
                        type="text"
                        id="searsh-field"
                        name="searsh-field"
                        data-bind="value: searchText"
                        value="">
                    <a 
                        href="#"
                        id="delete"
                        class="pie-el"
                        data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }">x</a>
                    <button type="submit" id="search-submit" class="pie-el" data-bind="click: search">
                        {{ 'search'|trans }}
                    </button>
                </div>
                <div id="searchSelect" class="finder-box" >
                    <select id="searchPaymentsStatus" class="select custom-select blue-arrow selectBox">
                        <option value=''>- {{'select.status.all'|trans}} -</option>
                        <option value='pending'>{{ 'contract.status.pending' | trans() }}</option>
                        <option value='invite'>{{ 'contract.status.invite' | trans() }}</option>
                        <option value='approved'>{{ 'contract.status.approved' | trans() }}</option>
                        <option value='finished'>{{ 'contract.status.finished' | trans() }}</option>
                    </select>
                    <button type="submit" id="search-submit-payments-status" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
                </div>
                <button class="button small" data-bind="click: $root.addTenant">
                    <span>{{ 'add.tenant'|trans }}</span>
                </button>
            </div>
        </div>
        <div class="content-box">
            <div class="properties-table-block table-wrap">
        <div class="table-margin">
          <!-- ko if: countContracts() -->
          <table class="properties-table zebra-grid">
            <thead>
              <tr class="properties-th">
                <th class="pie-el">
                    <span class="sort" id="status" data-bind="click: sortFunction">{{'filter.status'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span class="sort" id="first_name" data-bind="click: sortFunction">{{'tenant'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span class="sort" id="email" data-bind="click: sortFunction">{{'email'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span>{{'phone'|trans}}</span>
                </th>
                <th class="pie-el">
                    <span class="sort" id="street" data-bind="click: sortFunction">{{'property'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span class="sort" id="rent" data-bind="click: sortFunction">{{'amount'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span class="pie-el">{{'contract.payment.last'|trans}}<i> </i></span>
                </th>
                <th class="pie-el">
                    <span class="sort" id="paidTo" data-bind="click: sortFunction">{{'paid_to'|trans}}<i> </i></span>
                </th>
                <th class="pie-el"  style="width: 35px;"><span>{{'type'|trans}}<i> </i></span></th>
                <th class="pie-el" style="width: 20px;">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <!-- ko foreach: { data: aContracts() } -->
            <tr>
                <td data-bind="attr: {'class': 'actions-status '+style}">
                    <div data-bind="text: status"></div>
                </td>
                <td data-bind="text: tenant"></td>
                <td class="email-box ellipsis-box" data-bind="text: email"></td>
                <td data-bind="text: phone"></td>
                <td class="property-box ellipsis-box" 
                data-bind="text: address, event: { dblclick: $root.filterAddress }"></td>
                <td data-bind="text: '$'+amount"></td>
                <td data-bind="text: last_payment"></td>
                <td class="type-box" data-bind="text: paid_to"></td>
                <td></td>
                <td class="type-box">
                    <!-- ko if: 'CURRENT' == status -->
                    <a title="{{ 'edit'|trans }}" class="type-ico pie-el edit" href="#"
                     data-bind="click: $root.editContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                    <!-- ko if: 'PENDING' == status -->
                    <a title="{{ 'approve'|trans }} " class="type-ico pie-el approve" href="#" 
                    data-bind="click: $root.approveContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                    <!-- ko ifnot: 'PENDING' == status || 'CURRENT' == status -->
                    <a title="{{'review'|trans}}" class="type-ico pie-el review" href="#" data-bind="click: $root.reviewContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
            </tbody>
          </table>
        <!-- /ko -->
        <!-- ko if: processLoading()  -->
            <img src="/bundles/core/images/img_loading.gif" id="processLoading" class="processLoading" >
        <!-- /ko -->
        <!-- ko if: notHaveResult()  -->
            <h3 class="notHaveData">{{ 'donthavedata'|trans }}</h3>
        <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="landrord-box without-top clearfix">
    <div class="legeng-box">
      <ul class="legeng">
        <li class="tr">
          <div class="th cell">
            Legend
          </div>
          <div class="th cell"></div>
        </li>
        <li class="tr">
          <div class="cell">
            <ul class="vert">
              <li>
                <span class="clarification alert"><i> </i>{{'alert'|trans}}</span>
              </li>
              <li>
                <span class="clarification pending"><i> </i>Pending</span>
              </li>
            </ul>
          </div>
          <div class="cell">
            <ul class="hor">
              <li>
                <span class="clarification e-check"><i> </i>{{'E-Check'|trans}}</span>
                <span class="clarification credit-card"><i> </i>{{'credit.card'|trans}}</span>
                <span class="clarification recurring"><i> </i>{{ 'recurring'|trans }}</span>
                <span class="clarification csm-icon"><i> </i>
                    {{'credit.service.member'|trans }}<br><small><em>({{'ach.fee'|trans}})</em></small>
                </span>
              </li>
              <li>
                <span class="clarification review"><i> </i>{{'review'|trans}}</span>
                <span class="clarification edit"><i> </i>{{'Edit'|trans}}</span>
                <span class="clarification approve"><i> </i>{{'approve'|trans}}</span>
                <span class="clarification alert"><i> </i>{{'alert'|trans}}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <nav class="pagination-box">
    <!-- ko if: pages().length -->
    <ul>
        <!-- ko foreach: pages() -->
                <!-- ko if: $data == $root.current() -->
                <li><span data-bind="click: $root.goToPage, text: $data"></span></li>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.current() -->
                 <li><a href='#' data-bind="click: $root.goToPage, text: $data"></a></li>
                <!-- /ko -->
        <!-- /ko -->
    </ul>
    <!-- /ko -->
    </nav>
  </div>
</div>
