
{% form_theme form 'RjCoreBundle::radio.html.twig' %}

<div id="contract-actions">

    <!-- Action Remove Contract Confirm-->
    <div id="contract-remove-popup" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'remove.contract'|trans }}</h1>
        <div class="clearfix col-box"  data-bind="with: contract">
            <div class="attention-box pie-el">
                {{ 'remove.contract.description'|trans }}
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'name'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: tenant"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: address"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span class="value"  data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: email"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button dark" data-bind="click: $root.removeContract">
                <span>{{ 'yes.remove.contract'|trans }}</span>
            </button>
            <button class="button grey" data-bind="click: $root.cancelRemove">
                <span>{{ 'cancel'|trans }}</span>
            </button>
        </div>
    </div>
    <!-- Remove Contract Confirm-->
    <!-- Action End Contract-->
    <div id="tenant-end-contract" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'end.contract'|trans }}</h1>
        <div class="clearfix col-box"  data-bind="with: contract">
            <div class="attention-box pie-el">
                {{ 'end.contract.description'|trans }}
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'name'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: tenant"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: address"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span class="value"  data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: email"></span>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'uncollected.outstanding.balance'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="{{ 'outstanding.description'|trans }}">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}</label>
                    <div class="fields-box">
                        <input type="text" data-bind="value: $root.outstandingBalance" value="" class="half-of-right outstandingBalance" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button dark" data-bind="click: $root.endContractExecute">
                <span>{{ 'yes.end.contract'|trans }}</span>
            </button>
            <button class="button grey" data-bind="click: $root.leaveIntact">
                <span>{{ 'no.leave.intact'|trans }}</span>
            </button>
        </div>
    </div>
    <!-- End Contract -->
    <!-- Action Revoke-->
    <div id="tenant-revoke-invotation" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'Information'|trans }}</h1>
        <div class="clearfix col-box"  data-bind="with: contract">
            <div class="attention-box pie-el" data-bind="html: revoke_message">
            </div>
            <div class="attention-box pie-el error" style="display: none;">
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'name'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: tenant"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: address"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span class="value"  data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: email"></span>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'request.payments'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="{{ 'help.popup'|trans }}">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <span class="value left">{{ 'monthly'|trans }} </span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}</label>
                    <div class="fields-box">
                        <span class="value left" data-bind="text: amount"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'start'|trans }}</label>
                    <div class="fields-box">
                        <span class="value left" id="contract-edit-start" data-bind="text: start"></span>
                        <label class="fixed">{{ 'end'|trans }}</label>
                        <span class="value left" id="contract-edit-finish" data-bind="text: finish"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button dark" data-bind="click: $root.revokeInvitation">
                <span>{{ 'yes.revoke.inv'|trans }}</span>
            </button>
            <button class="button grey" data-bind="click: $root.closeRevokeInvitation" onclick="false;">
                <span>{{ 'no.remove.property'|trans }}</span>
            </button>
        </div>
    </div>
    <!-- Action Revoke -->
    <!-- Action Edit -->
    <div id="tenant-edit-property-popup" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'edit.contract'|trans }}</h1>
        <div class="clearfix col-box" data-bind="with: contract">
            <div class="information-box pie-el" data-bind="visible: $root.countNotificationsEdit() > 0">
                <ul class="default">
                    <!-- ko foreach: $root.notificationsEdit() -->
                    <li data-bind="text: $data"></li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="attention-box pie-el" data-bind="visible: $root.countErrorsEdit() > 0">
                <h3>{{ 'pay_popup.errors.title'|trans }}</h3>
                <ul class="default">
                    <!-- ko foreach: $root.errorsEdit() -->
                    <li data-bind="text: $data"></li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                    <small><b>*</b>{{ 'required'|trans }}</small>
                </h4>
                <div class="form-row clearfix">
                    <label>{{'name'|trans}}<b>*</b></label>
                    <div class="fields-box">
                        <span data-bind="text: first_name"></span>
                        <span data-bind="text: last_name"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <span data-bind="text: email"></span>
                    </div>
                </div>
                <div class="form-row clearfix" data-bind="if: isIntegrated">
                    <label>{{ 'common.resident_id'|trans }}<b>*</b></label>
                    <div class="fields-box width150">
                        <input data-bind="value: residentId" type="text" id="resident-edit" class="half-of-right">
                    </div>
                </div>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'request.payments'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="{{ 'help.popup'|trans }}">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <!-- ko ifnot: status == 'INVITE'  || status == 'APPROVED' -->
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                    <!-- /ko -->
                    <!-- ko if:status == 'INVITE' || status == 'APPROVED' -->
                    <div class="fields-box">
                        <select id="property-edit"
                                data-bind="
                                options: $root.propertiesList,
                                optionsText: 'address',
                                optionsValue: 'id',
                                value: $root.currentPropertyId
                                "
                                class="original" name="property_id">
                        </select>
                        <img src="{{ asset('/bundles/rjpublic/images/ajax-loader-small.gif') }}"  class="loader">
                    </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: status == 'PENDING' || status == 'INVITE' || status == 'APPROVED' -->
                <div class="form-row clearfix" data-bind="visible: $root.isSingleProperty() != true">
                    <label>{{ 'unit'|trans|capitalize }}<b>*</b></label>
                    <select id="unit-edit" data-bind="
                                options: $root.unitsList,
                                optionsText: 'name',
                                optionsValue: 'id',
                                value: $root.currentUnitId"
                    class="original" name="unit_id">
                    </select>
                    <img src="{{ asset('/bundles/rjpublic/images/ajax-loader-small.gif') }}" class="loader">
                </div>
                <!-- /ko -->
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}<b>*</b></label>
                    <div class="fields-box width150">
                        <input type="text" id="amount-edit" data-bind="value: amount" value="" class="half-of-right">
                    </div>
                    <div class="fields-box width150">
                        <label>{{ 'due_date'|trans }}<b>*</b></label>
                        <select name="dueDate"
                                class="half-width original dueDateEdit"
                                data-bind="
                                    options: $root.dueDateList,
                                    optionsText: 'text',
                                    optionsValue: 'value',
                                    value: dueDate
                                "
                        >
                        </select>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'next_payment_date'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" value="" class="datepicker-field" data-bind="value: start" id="contractEditStart">
                        <label class="checkbox radio finishAtLabelM2M">
                            <input type="radio" class="monthToMonth" name="optionsFinishAtEdit" value="monthToMonth" data-bind="checked: $root.optionsFinishAtEdit" >
                            <i></i>
                            <span>{{ 'when.cancelled' | trans }}</span>
                            <div class="clearboth"></div>
                        </label>
                        <label class="checkbox radio finishAtLabel">
                            <input type="radio" class="finishAt" name="optionsFinishAtEdit" value="finishAt" data-bind="checked: $root.optionsFinishAtEdit" >
                            <i></i>
                            <span class="onFinishAt">{{ 'on' | trans }}</span>
                            <input type="text" value="" class="datepicker-field" data-bind="value: finish" id="contractEditFinish">
                            <div class="clearboth"></div>
                        </label>
                    </div>
                </div>
                {% if isIntegrated %}
                <div class="form-row clearfix">
                    <label>{{ 'common.balance'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" value="" class="balance-field half-of-right" data-bind="value: balance" id="contractBalance">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="footer-button-box" data-bind="with: contract">
            <button class="button sendReminder" data-bind="if: reminder_revoke, click: $root.sendReminderInvition">
                <span>{{ 'send.reminder'|trans }}</span>
            </button>
            <button class="button" data-bind="click: $root.saveContract"><span>{{'savechanges'|trans}}</span></button>
            <button class="button grey"  data-bind="click: $root.cancelEdit"><span>{{'cancel'|trans}}</span></button>
            <a href="#" class="link"
               data-bind="if: (status == 'CURRENT' || status == 'CONTRACT ENDED') && reminder_revoke == false,
               click: $root.openEndContractPopup"
             >
                {{'end.br.contract'|trans|raw}}
            </a>
            <a href="#" class="link" data-bind="if: (status != 'CURRENT' && status != 'CONTRACT ENDED') && !reminder_revoke,  click: $root.removeContractConfirm">
                {{'remove.tenant'|trans|raw}}
            </a>
            <a href="#" class="link" data-bind="if: reminder_revoke, click: $root.closeReminderRevoke">
                {{ 'revoke.inv'|trans|raw}}
            </a>
        </div>
    </div>
    <!-- End Action Edit -->
    <!-- Action Approve -->
    <div id="tenant-approve-property-popup" class="pricing-popup dashboard-popup properties-popup">
        <h1>{{ 'approve.tenant.info'|trans }}</h1>
        <div class="clearfix col-box"  data-bind="with: contract">
            <div class="information-box pie-el">{{'pending.tenant.info'|trans}}</div>
            <div style="" class="attention-box pie-el" data-bind="visible: $root.countErrorsApprove() > 0">
                <h3>{{ 'pay_popup.errors.title'|trans }}</h3>
                <ul class="default">
                    <!-- ko foreach: $root.errorsApprove() -->
                    <li data-bind="text: $data"></li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'tenant.info'|trans }}</span>
                </h4>
                <div class="form-row clearfix">
                    <label>{{'name'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: tenant"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}</label>
                    <div class="fields-box">
                        <!-- ko if: search -->
                            <span class="value" data-bind="text: address+' ({{ 'tenant.wants.unit'|trans }} '+search+')'"></span>
                        <!-- /ko -->
                        <!-- ko if: !search -->
                        <span class="value" data-bind="text: address"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'phone'|trans }}</label>
                    <div class="fields-box">
                        <span class="value"  data-bind="text: phone"></span>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'email'|trans }}</label>
                    <div class="fields-box">
                        <span class="value" data-bind="text: email"></span>
                    </div>
                </div>
                <div class="form-row clearfix width150" data-bind="if: isIntegrated">
                    <label>{{ 'common.resident_id'|trans }}</label>
                    <div class="fields-box width150">
                        <input data-bind="value: residentId" type="text" id="residentId" class="half-of-right">
                    </div>
                </div>
            </div>
            <div class="col">
                <h4 class="clearfix">
                    <span>{{ 'request.payments'|trans }}</span>
                    <i class="help pie-el tooltip-link" title="{{ 'help.popup'|trans }}">?</i>
                </h4>
                <div class="form-row clearfix">
                    <label>{{ 'property'|trans }}<b>*</b></label>
                    <div class="fields-box addressDiv"  data-bind="text: address"></div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'amount'|trans }}<b>*</b></label>
                    <div class="fields-box width150">
                        <input type="text" id="amount-approve" data-bind="value: amount" value="" class="half-of-right">
                    </div>
                    <div class="fields-box width150">
                        <label>{{ 'due_date'|trans }}<b>*</b></label>
                        <select name="dueDate"
                                class="half-width original"
                                data-bind="
                                    options: $root.dueDateList,
                                    optionsText: 'text',
                                    optionsValue: 'value',
                                    value: dueDate
                                "
                                >
                        </select>
                    </div>
                </div>
                <div class="form-row clearfix">
                    <label>{{ 'next_payment_date'|trans }}<b>*</b></label>
                    <div class="fields-box">
                        <input type="text" value="" class="datepicker-field" data-bind="value: start" id="contractApproveStart">
                        <label class="checkbox radio">
                            <input type="radio" name="optionsFinishAtApprove" value="monthToMonth" data-bind="checked: $root.optionsFinishAtApprove" >
                            <i></i>
                            <span>{{ 'when.cancelled' | trans }}</span>
                            <div class="clearboth"></div>
                        </label>
                        <label class="checkbox radio finishAtLabel">
                            <input type="radio" name="optionsFinishAtApprove" value="finishAt" data-bind="checked: $root.optionsFinishAtApprove" >
                            <i></i>
                            <span class="onFinishAt">{{ 'on' | trans }}</span>
                            <input type="text" value="" class="datepicker-field" data-bind="value: finish" id="contractApproveFinish">
                            <div class="clearboth"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-button-box">
            <button class="button" data-bind="click: approveSave"><span>{{ 'approve.tenant'|trans }}</span></button>
            <button class="button" data-bind="click: editContract"><span>{{ 'edit.Info'|trans }}</span></button>
            <div class="with-seperator-box">
                <button class="button grey" data-bind="click: closeApprove" onclick="return false;">
                    <span>{{ 'cancel'|trans }}</span>
                </button>
            </div>
        </div>
    </div>
    <!-- End Action Approve -->
    <!-- Action Review -->
    <div id="tenant-review-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <h1>{{ 'Information'|trans }}</h1>
      <div class="clearfix col-box"  data-bind="with: contract">
          <!-- ko if: !payment_setup && status == 'INVITE' -->
          <div id="userpayment" class="information-box pie-el">
              {{ 'you.tenant.has.no.payment'|trans }}
          </div>
          <!-- /ko -->
        <div class="attention-box pie-el error" style="display: none;">
        </div>
        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'tenant.info'|trans }}</span>
          </h4>
          <div class="form-row clearfix">
            <label>{{ 'name'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: tenant"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'property'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: address"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'phone'|trans }}</label>
            <div class="fields-box">
              <span class="value"  data-bind="text: phone"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'email'|trans }}</label>
            <div class="fields-box">
              <span class="value" data-bind="text: email"></span>
            </div>
          </div>
        </div>

        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'request.payments'|trans }}</span>
            <i class="help pie-el tooltip-link" title="{{ 'help.popup'|trans }}">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>{{ 'property'|trans }}</label>
            <div class="fields-box">
              <span class="value left">{{ 'monthly'|trans }} </span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'amount'|trans }}</label>
            <div class="fields-box">
              <span class="value left" data-bind="text: amount"></span>
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'start'|trans }}</label>
            <div class="fields-box">
              <span class="value left" data-bind="text: start"></span>
              <label class="fixed">{{ 'end'|trans }}</label>
              <span class="value left" data-bind="text: finish"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-button-box" data-bind="with: contract">
          <!-- ko if: reminder_revoke -->
          <button class="button" data-bind="click: $root.sendReminderInvition"><span>{{ 'send.reminder'|trans }}</span></button>
          <!-- /ko -->
          <button class="button grey" data-bind="click: $root.closeTenantReviewPropertyPopup" onclick="return false;">
            <span>{{ 'legend.close'|trans|capitalize }}</span>
          </button>
          <!-- ko if: reminder_revoke -->
            <a href="#" class="link" data-bind="click: $root.closeReminderRevoke" onclick="false;">
                {{ 'revoke.inv'|trans|raw}}
            </a>
          <!-- /ko -->
      </div>
    </div>
    <!-- Action Add Tenant-->
   <div id="tenant-add-property-popup" class="pricing-popup dashboard-popup properties-popup">
      <form novalidate action="{{ path('landlord_invite_save') }}" method="post" {{ form_enctype(form) }}>
      <h1>{{'add.tenant'|trans}}</h1>
      {{ form_errors(form) }}
      <div class="clearfix col-box">
        <div id="userExistMessage" class="information-box pie-el messageInfoUserAdd">
          {{ 'user.alredy.in.system'|trans }}
        </div>
        <div id="userExistMessageLanlord" class="attention-box pie-el pie-el messageInfoUserAdd">
          {{ 'user.itslandlord'|trans }}
        </div>
          <div class="attention-box pie-el" data-bind="visible: $root.countErrorsAdd() > 0" style="">
              <h3>{{ 'pay_popup.errors.title'|trans }}</h3>
              <ul class="default">
                  <!-- ko foreach: $root.errorsAdd() -->
                  <li data-bind="text: $data"></li>
                  <!-- /ko -->
              </ul>
          </div>
        <div class="col">
          <h4 class="clearfix">
            <span>{{ 'tenant.info'|trans }}</span>
            <small><b>*</b>{{'required'|trans}}</small>
          </h4>
          <div class="form-row clearfix userInfo">
            <label>{{'name'|trans}}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.tenant.first_name, { 'attr': {'class': 'half-width', 'placeholder':"First"} }) }}
              {{ form_widget(form.tenant.last_name, { 'attr': {'class': 'half-width', 'placeholder':"Last"} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{'property'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.contract.property) }}
              {{ form_widget(form.contract.unit) }}
                <img id="unitLoading" src="{{ asset('/bundles/rjpublic/images/ajax-loader-small.gif') }}" style="display: none">
            </div>
          </div>
          <div class="form-row clearfix userInfo">
            <label>{{ 'phone'|trans }}</label>
            <div class="fields-box">
              {{ form_widget(form.tenant.phone, { 'attr': {'class': 'half-width', 'placeholder':"Phone"} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'email'|trans }}<b>*</b></label>
            <div class="fields-box">
              {{ form_widget(form.tenant.email) }}
            </div>
          </div>
            {% if isIntegrated %}
                <div class="form-row clearfix">
                    <label>{{ 'common.resident_id'|trans }}<b>*</b></label>
                    <div class="fields-box width150">
                        {{ form_widget(form.resident.residentId) }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col">
          <h4 class="clearfix">
            <span>{{'request.payments'|trans}}</span>
            <i class="help pie-el tooltip-link" title="{{ 'help.popup'|trans }}">?</i>
          </h4>
          <div class="form-row clearfix">
            <label>{{'amount'|trans}}<b>*</b></label>
            <div class="fields-box width150">
              {{ form_widget(form.contract.rent, { 'attr': {'class': 'half-width', 'placeholder':"$"} }) }}
            </div>
            <div class="fields-box width150">
                <label>{{ 'due_date'|trans }}<b>*</b></label>
                {{ form_widget(form.contract.dueDate, { 'attr': {'class': 'half-width original'} }) }}
            </div>
          </div>
          <div class="form-row clearfix">
            <label>{{ 'next_payment_date'|trans }}<b>*</b></label>
            <div class="fields-box">
                <div class="fields-box">
                    {{ form_widget(
                        form.contract.startAt,
                        { 'attr':
                            {
                            'class': 'datepicker-field payment-start',
                            'placeholder':"mm/dd/YYYY",
                            'value': start
                            }
                        }
                    )
                    }}
                    <label class="checkbox radio">
                        {{ form_widget(form.contract.finishAtType[0]) }}
                        <span>{{ 'when.cancelled' | trans }}</span>
                        <div class="clearboth"></div>
                    </label>
                    <label class="checkbox radio finishAtLabel">
                        {{ form_widget(form.contract.finishAtType[1]) }}
                        <span class="onFinishAt">{{ 'on' | trans }}</span>
                        {{ form_widget(
                                form.contract.finishAt,
                                { 'attr':
                                    {
                                        'class': 'datepicker-field payment-end',
                                        'placeholder':"mm/dd/YYYY",
                                        'value': end
                                    }
                                }
                            )
                        }}
                        <div class="clearboth"></div>
                    </label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-button-box">
          <button id='submit' data-bind="click: saveTenant" class="button small">
              <span>{{ 'invite.tenant'|trans }}</span>
          </button>
        <div class="with-seperator-box">
          <button id="tenant-add-property-button-cancel" class="button grey">
            <span>{{ 'cancel'|trans }}</span></button>
        </div>
      </div>
      {{ form_rest(form) }}
      </form>
    </div>
</div>

<div id="contracts-block">
    <div class="landrord-box">
        <div class="title-box clearfix">

            <input type="hidden" id="searchColumn" value="{{ searchColumn }}">
            <input type="hidden" id="searchText" value="{{ searchText }}">

            <h2 data-bind="text: 'All (' + $root.total() + ')'"></h2>
            <div class="fiter-box">
                <label>{{'filter.by'|trans}}</label>
                <select id="searchFilter" class="select custom-select blue-arrow selectBox" style="display: none;">
                    <option selected="selected" value="status">{{'filter.status'|trans}}</option>
                    <option value="email">{{ 'email'|trans }}</option>
                    <option value="phone">{{ 'phone'|trans }}</option>
                    <option value="street">{{ 'street'|trans }}</option>
                    <option value="rent">{{ 'amount'|trans }}</option>
                    <option value="tenant">{{ 'tenant'|trans }}</option>
                </select>
                <div id="searchInput" style="display:none;" class="finder-box">
                    <input
                        type="text"
                        id="searsh-field"
                        name="searsh-field"
                        data-bind="value: searchText"
                        value="">
                    <a
                        href="#"
                        id="delete"
                        class="pie-el"
                        data-bind="click: clearSearch, style: { visibility: isSearch() ? 'visible': 'hidden' }">x</a>
                    <button type="submit" id="search-submit" class="pie-el" data-bind="click: search">
                        {{ 'search'|trans }}
                    </button>
                </div>
                <div id="searchSelect" class="finder-box" >
                    <select id="searchPaymentsStatus" class="select custom-select blue-arrow selectBox">
                        <option value=''>- {{'select.status.all'|trans}} -</option>
                        <option value='pending'>{{ 'contract.status.pending' | trans() }}</option>
                        <option value='invite'>{{ 'contract.status.invite' | trans() }}</option>
                        <option value='approved'>{{ 'contract.status.approved' | trans() }}</option>
                        <option value='current'>{{ 'contract.status.select.current' | trans() }}</option>
                        <option value='finished'>{{ 'contract.status.finished' | trans() }}</option>
                        <!--option value='deleted'>{{ 'contract.status.deleted' | trans() }}</option-->
                    </select>
                    <button type="submit" id="search-submit-payments-status" data-bind="click: search" class="pie-el">{{ 'search' }}</button>
                </div>
                {% if canInvite %}
                    <button class="button small" data-bind="click: $root.addTenant">
                        <span>{{ 'add.tenant'|trans }}</span>
                    </button>
                {% else %}
                    <button class="button small grey" title="{{ 'landlord.add_tenant.hover'|trans }}">
                        <span>{{ 'add.tenant'|trans }}</span>
                    </button>
                {% endif %}
            </div>
        </div>
        <!-- ko if: $root.agentContracts().length > 0  -->
        <div id="foundMoreContainer" class="information-box pie-el">
            <span>{{ 'landlord.tenant.found_more'|trans }}</span>
            <!-- ko foreach: { data: agentContracts() } -->
                <!--ko if: $index() != 0-->,<!--/ko-->
                <a href="#" data-bind="
                        attr: {title: groupName},
                        text: groupName,
                        click: $parent.changeGroup,
                        clickBubble: false"></a>

            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div class="content-box">
            <div class="properties-table-block table-wrap">
        <div class="table-margin">
          <!-- ko if: countContracts() -->
          <table class="properties-table zebra-grid">
            <thead>
              <tr class="properties-th">
                <th class="pie-el column-status">
                    <span class="sort" id="status" data-bind="click: sortFunction">{{'filter.status'|trans}}<i> </i></span>
                </th>
                <th class="pie-el column-name">
                    <span class="sort" id="first_name" data-bind="click: sortFunction">{{'tenant'|trans}}<i> </i></span>
                </th>
                <th class="pie-el column-email">
                    <span class="sort" id="email" data-bind="click: sortFunction">{{'email'|trans}}<i> </i></span>
                </th>
                <th class="pie-el column-phone">
                    <span>{{'phone'|trans}}</span>
                </th>
                <th class="pie-el column-address">
                    <span class="sort" id="street" data-bind="click: sortFunction">{{'property'|trans}}<i> </i></span>
                </th>
                <th class="pie-el column-amount">
                    <span class="sort" id="rent" data-bind="click: sortFunction">{{'amount'|trans}}<i> </i></span>
                </th>
                <th class="pie-el column-last">
                    <span class="pie-el">{{'contract.payment.last'|trans}}<i> </i></span>
                </th>
                {% if isIntegrated %}
                <th class="pie-el column-paid">
                    <span class="sort" id="balance" data-bind="click: sortFunction">
                        {{'common.balance'|trans}}<i> </i>
                    </span>
                </th>
                {% endif %}
                <th class="pie-el column-action">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <!-- ko foreach: { data: aContracts() } -->
            <tr>
                <td data-bind="attr: {'class': 'actions-status '+style}">
                    <!-- ko if: status_label.choice == true -->
                        <div data-bind="text: Translator.transChoice(status_label.label, status_label.count, status_label.params) "></div>
                    <!-- /ko -->
                    <!-- ko ifnot: status_label.choice == true -->
                        <div data-bind="text: Translator.trans(status_label.label, status_label.params)"></div>
                    <!-- /ko -->
                </td>
                <td class="email-box ellipsis-box">
                  <div data-bind="if: credit_track_enabled">
                      <div class="tenantName" data-bind="text: tenant"></div>
                      <div class="clarification">
                        <i class="csm-icon" data-bind="visible: credit_track_enabled"></i>
                        <i class="alert" title="{{ 'yardi.landlord.property.manager_disabled_payment'|trans }}"
                           data-bind="visible: isIntegrated && isDeniedOnExternalApi"></i>
                      </div>
                  </div>
                  <div data-bind="if: !credit_track_enabled">
                    <div class="tenantName" data-bind="text: tenant"></div>
                      <div class="clarification">
                        <i class="alert one" title="{{ 'yardi.landlord.property.manager_disabled_payment'|trans }}"
                           data-bind="visible: isIntegrated && isDeniedOnExternalApi"></i>
                      </div>
                  </div>
                </td>
                <td class="email-box ellipsis-box" data-bind="text: email"></td>
                <td data-bind="text: phone"></td>
                <td class="property-box ellipsis-box"
                data-bind="text: address, event: { dblclick: $root.filterAddress }"></td>
                <!-- ko if: amount != '' -->
                <td data-bind="text: '$'+amount"></td>
                <!-- /ko -->
                <!-- ko if: amount == '' -->
                <td data-bind="text: '-' + amount"></td>
                <!-- /ko -->
                <td align="center"   data-bind="text: last_payment"></td>
                {% if isIntegrated  %}
                    <td align="center"  data-bind="text: balance"></td>
                {% endif %}
                <td class="type-box">
                    <!-- ko if: 'CURRENT' == status || 'INVITE' == status || 'APPROVED' == status  || 'CONTRACT ENDED' == status || 'late' == status_name -->
                    <a title="{{ 'edit'|trans }}" class="type-ico pie-el edit" href="#"
                     data-bind="click: $root.editContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                    <!-- ko if: 'PENDING' == status -->
                    {% if canInvite %}
                    <a title="{{ 'approve'|trans }} " class="type-ico pie-el approve" href="#"
                    data-bind="click: $root.approveContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    {% else %}
                    <a title="{{ 'approve'|trans }} " class="type-ico pie-el approve grey" href="#"
                    >&nbsp;</a>
                    {% endif %}
                    <!-- /ko -->
                    <!-- ko ifnot: 'PENDING' == status || 'CURRENT' == status || 'INVITE' == status || 'APPROVED' == status || 'CONTRACT ENDED' == status || 'late' == status_name -->
                    <a title="{{'review'|trans}}" class="type-ico pie-el review" href="#" data-bind="click: $root.reviewContract, attr:{'id': 'edit-' + id}">&nbsp;</a>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
            </tbody>
          </table>
        <!-- /ko -->
        <!-- ko if: processLoading()  -->
            <img src="/bundles/core/images/img_loading.gif" id="processLoading" class="processLoading" >
        <!-- /ko -->
        <!-- ko if: notHaveResult()  -->
            <h3 class="notHaveData">{{ 'donthavedata'|trans }}</h3>
        <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
  <div class="landrord-box without-top clearfix">
    <div class="legeng-box">
      <ul class="legeng">
        <li class="tr">
          <div class="th cell">
            Legend
          </div>
          <div class="th cell"></div>
        </li>
        <li class="tr">
          <div class="cell">
            <ul class="vert">
              <li>
                <span class="clarification alert"><i> </i>{{'alert'|trans}}</span>
              </li>
              <li>
                <span class="clarification pending"><i> </i>Pending</span>
              </li>
            </ul>
          </div>
          <div class="cell">
            <ul class="hor">
              <li>
                <span class="clarification e-check"><i> </i>{{'E-Check'|trans}}</span>
                <span class="clarification credit-card"><i> </i>{{'credit.card'|trans}}</span>
                <span class="clarification recurring"><i> </i>{{ 'recurring'|trans }}</span>
                <span class="clarification csm-icon"><i> </i>
                    {{'credit.service.member'|trans }}
                </span>
              </li>
              <li>
                <span class="clarification review"><i> </i>{{'review'|trans}}</span>
                <span class="clarification edit"><i> </i>{{'Edit'|trans}}</span>
                <span class="clarification approve"><i> </i>{{'approve'|trans}}</span>
                <span class="clarification alert"><i> </i>{{'alert'|trans}}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <nav class="pagination-box">
    <!-- ko if: pages().length -->
    <ul>
        <!-- ko foreach: pages() -->
                <!-- ko if: $data == $root.current() -->
                <li><span data-bind="click: $root.goToPage, text: $data"></span></li>
                <!-- /ko -->
                <!-- ko ifnot: $data == $root.current() -->
                 <li><a href='#' data-bind="click: $root.goToPage, text: $data"></a></li>
                <!-- /ko -->
        <!-- /ko -->
    </ul>
    <!-- /ko -->
    </nav>

  </div>
</div>
