<div class="pod-large pod-border pod-padding shadow">
    <h1>{{ 'current_payments.title' | trans() }}</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>{{ 'add.property' | trans() }}</span>
            </a>
        </center>
    </div>
    <div class="row-20"></div>
    <div class="properties-table-block table-wrap">
        <div class="table-margin">
            <table class="properties-table zebra-grid">
                <thead>
                <tr class="properties-th">
                <th class="pie-el">{{ 'address' | trans() }}</th>
                <th class="pie-el">{{ 'pay_to' | trans() }}</th>
                <th class="pie-el">{{ 'amount' | trans() }}</th>
                <th class="pie-el">Pay Source</th>
                <th class="pie-el">Last Payment</th>
                <th class="pie-el">Next Due Date</th>
                <th class="pie-el">Recurs?</th>
                <th class="pie-el"></th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr class="contracts">
                <td title="{{ contract.full_address }}">{{ contract.row_address }}</td>
                <td></td>
                <td>${{ contract.rent }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <center>
                
                    {% if contract.status == 'pending' %}
                    <button class="button small grey">
                        <span>{{ 'contract.pay' | trans() }}</span>
                    </button>

                    {% elseif contract.status == 'invite' %}
                    <button class="button small grey ">
                        <span>{{ 'contract.pay' | trans() }}</span>
                    </button>

                    {% elseif contract.status == 'approved' %}
                    <button class="button small">
                        <span>{{ 'contract.pay' | trans() }}</span>
                    </button>
                    {% elseif contract.status == 'current' %}
                    <button class="button small">
                        <span>{{ 'contract.pay' | trans() }}</span>
                    </button>
                    {% endif %}
                    </center>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
