<div class="pod-large pod-border pod-padding shadow">
    <h1>Current Pyments</h1>
    <table class="listOfPayments">
        <thead>
            <tr>
                <th class="address">Address</th>
                <th class="payTo">Pay To</th>
                {% if status == 'new' %}
                    <th class="status">Status</th>
                    <th class="action"></th>
                {% else %}
                    <th class="status">Amount</th>
                    <th class="action" colspan="2">Next Due Date</th>
                {% endif %}
            </tr>
        </thead>
    <tbody>
    {% for contract in contracts %}
        <tr>
            <td>
                {{ contract.property.fullAddress }}
                {% if contract.unit %}
                    <span>{{ contract.unit }}</span>
                {% else %}
                    <span>{{ contract.search }}</span>
                {% endif %}
            </td>
            <td>
                {{ contract.holding }}<br />
                {{ contract.group }}
            </td>
            {% if status == 'new' %}
                <td>
                    {{ contract.status }}
                </td>
                <td>
                    <center>
                        <button class="button small greyButton">
                            <span>Set Up Your First Rental Payment</span>
                        </button>
                    </center>
                </td>
            {% else %}
                <td>
                    {{ contract.rent }}
                </td>
                <td>
                    {{ contract.dueDay }}th
                </td>
                <td>
                    <center>
                        <button class="button small">
                            <span>Set Up Your First Rental Payment</span>
                        </button>
                    </center>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
