<script>
    var contractsJson={{ contractsJson | raw }};
    var paidForArr={{ paidForArr | serialize('json') | raw }};
    var isVerified='{{ user.getIsVerified }}';

</script>

<div id="loader">
    <img src="/images/7f134fa_ajax_1.gif"><br>
    LOADING
</div>

        <div data-role="page" id="main"> {# have it on this page for now since we use contracts data #}
            <div data-role="panel" id="panelMain" class="sideMenu">
                <ul data-role="listview">
                    <li><a href="#main" style="color: #666 !important;" class="selectedMenuOptions">Home</a></li>
                    <li><a href="#contracts" class="menuOptions">Current Leases</a></li>
                    <li><a href="#paymentHistory" class="menuOptions">Payment History</a></li>
                    <li><a href="#sources" class="menuOptions">Payment Sources</a></li>
                    <li><a href="logout" class="menuOptions" data-ajax="false">Logout</a></li>
                </ul>
            </div>

            <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
                <a href="#panelMain" class="headerButton" data-role="none"><i class="fa fa-bars" style="background: none; color: white; font-size: 22pt;"></i></a>

                <h1 class="ui-title" role="heading" aria-level="1" style="background: transparent;"><img class="headerLogo" src="/bundles/rjcore/images/mobile/home-logo.png"></h1>
            </div>

            <div class="ui-content" role="main" style='background-image: url(/bundles/rjcore/images/mobile/darkblur-bgnd.png); background-size: cover;'>

                <a href="#contracts" style="text-decoration: none;">
                    <table id="payRent" style="margin-top: 50px ;margin-left: 50%; position: relative; left: -40px;display: table;text-align: center; color: white; height: 80px; width: 80px;">
                        <tr>
                            <td style="height: 70px; width: 80px;background: #6C9F2C; border: 3px solid white; border-radius: 50%; font-size: 24pt; ">
                                <i class="fa fa-usd"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Pay Rent
                            </td>
                        </tr>
                    </table>
                </a>



                <div id="payments" style="display: none;">
                    <div class="paymentBox" id="intro">
                        <div class="addressBox">
                            Once you set up a payment,
                            you'll see its progress here.
                        </div>
                        <div class="paymentStatusCont">
                            <div class="paymentStatusBox">
                                <span style="left: 15px;"><i class="fa fa-usd"></i><br>Charged</span>
                                <span style="left: 63px;">- - - - - - - - <i class="fa fa-arrow-right"></i>- - - - - - - -<br>Sent</span>
                                <span style="left: 185px;"><i class="fa fa-circle-o"></i><br>Received</span>
                            </div>
                        </div>
                        <a href="#contracts" style="text-decoration: none;">
                            <div style="background: #6BAB1B; padding: 5px; text-shadow: none; color: white; text-align: center;">
                                Set Up a Rent Payment
                            </div>
                        </a>
                    </div>

                </div>


            </div>
        </div>


        <div data-role="page" id="contracts">
            <div data-role="panel" id="panelContracts" class="sideMenu">
                <ul data-role="listview">
                    <li><a href="#main" class="menuOptions">Home</a></li>
                    <li><a href="#contracts" style="color: #666 !important;" class="selectedMenuOptions">Current Leases</a></li>
                    <li><a href="#paymentHistory" class="menuOptions">Payment History</a></li>
                    <li><a href="#sources" class="menuOptions">Payment Sources</a></li>
                    <li><a href="logout" class="menuOptions" data-ajax="false">Logout</a></li>
                </ul>
            </div>

            <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
                <a href="#panelContracts" class="headerButton" data-role="none"><i class="fa fa-bars" style="background: none; color: white; font-size: 22pt;"></i></a>

                <h1 class="ui-title" role="heading" aria-level="1" style="background: transparent;"><img class="headerLogo" src="/bundles/rjcore/images/mobile/home-logo.png"></h1>
            </div>

            <div class="ui-content" role="main" style='background-image: url(/bundles/rjcore/images/mobile/darkblur-bgnd.png); background-size: cover;'>

                <div style="color: white; font-size: 18pt; font-weight: normal; text-shadow: none;">
                    Leases
                </div>
                <script>
                    paidDates=[{% for contract in contracts %}
                        {% if contract.payment_type == 'recurring' or contract.payment_type == 'one_time' %}
                        [{{contract.id}},"{{ contract.payment_due_date }}"],
                        {% endif %}
                        {% endfor %}]
                    $.each(paidDates,function(a,b){
                        $.each(contractsJson,function(c,d){
                            if(b[0]==d.id){d.payment.paidDate = b[1]}
                        })
                    })
                </script>
                {% for contract in contracts %}
                    {% if contract.status != 'deleted' and contract.status!='finished' %}
                    <a href="#contract{{ contract.id }}" style="color: rgb(40,40,40); text-decoration: none; font-weight: normal;" data-transition="slide">
                        {% set canPay = true %}
                        {% if not contract.isPaymentEditAllowed %}
                            {% set canPay = false %}
                        {% elseif not contract.in_day_range %}
                            {% set canPay = false %}
                        {% elseif contract.payment_status == 'processing' %}
                            {% set canPay = false %}
                        {% elseif contract.is_allowed_to_pay == false and not contract.isPayment %}
                            {% set canPay = false %}
                        {% endif %}

                        <div {% if canPay %}onclick="$.mobile.changePage('#contract{{ contract.id }}', { transition:'slide' } );"{% endif %} class="contractBox">
                            <a id="a{{ loop.index }}" href="#contract{{ contract.id }}" style="position: absolute;top: 6px; left: 10px;background: none;border: none; color: #333;"><i class="fa fa-home fa-lg"></i></a>
                            {% if canPay %}
                                <a href="#contract{{ contract.id }}" style="position: absolute; top: 32%; right: 21px;background: none;border: none; color: #eb6024;"><i class="fa fa-chevron-right fa-lg"></i></a>
                            {% endif %}
                            <b style="font-size: 16;">{{ contract.full_address|length > 21 ? contract.full_address|slice(0, 21) ~ '...' : contract.full_address  }}</b>
                            <br>
                            <span style="font-size: 14;">Base Rent: {{ contract.rent }}</span>
                            <br>
                            {% if not contract.isPaymentEditAllowed %}
                                <span style="color: red;">{{ 'mobile.contract.payments.blocked' | trans }}</span>
                            {% elseif (contract.status == 'approved' or contract.status == 'invite' or contract.status == 'current') and not contract.in_day_range %}
                                <span style="color: red;">{{ 'mobile.payment.start_date.error_range'|trans(
                                {
                                    '%OPEN_DAY%' : contract.open_day|ordinal_number,
                                    '%CLOSE_DAY%': contract.close_day|ordinal_number
                                }
                                ) }}</span>
                            {% elseif (contract.status == 'approved' or contract.status == 'invite' or contract.status == 'current') and contract.is_allowed_to_pay == false and not contract.isPayment %}
                                <span style="color: red;">{{ 'tenant.no_balance.alert'|trans }}</span>
                            {% elseif contract.status == 'pending' %}
                                <span style="color: red;">{{ 'contract.status.pending.text' | trans }}</span>
                            {% elseif contract.payment_status == 'processing' %}
                                <span style="color: red;">{{ 'contract.status.processing.text' | trans }}</span>
                            {% elseif contract.payment_type == 'recurring' %}
                                Scheduled: {{ contract.payment_due_date }}
                            {% elseif contract.payment_type == 'one_time' %}
                                Scheduled: {{  contract.payment_due_date }}
                            {% elseif contract.status == 'approved' %}
                                {{ 'contract.status.approved.text' | trans }}
                            {% elseif contract.status == 'current' %}
                                Set up a payment!
                            {% elseif contract.status == 'finished' %}
                                {{ 'contract.status.finished.text' | trans }}
                            {% else %}
                                {{ contract.status | upper }}
                            {% endif %}

                        </div>
                    </a>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        {% for contract in contracts %}
            <div data-role="page" id="contract{{ contract.id }}">

                <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
                    <a href="#contracts" data-transition="slide" data-direction="reverse" class="headerButton" data-role="none" style="color: white;">Back</a>
                    <h1 class="ui-title" role="heading" aria-level="1">Payment</h1>
                    {% if contract.status != 'pending' %}
                        <a onclick="setupPayForm({{ contract.id }})" class="headerButton" style="border-left: 1px solid white; border-right: none; color: white;" data-role="none">
                            {% if contract.payment_type != 'one_time' and contract.payment_type != 'recurring' %}
                            Pay
                            {% else %}
                            Edit
                            {% endif %}
                        </a>
                    {% endif %}
                </div>

                <div class="ui-content" role="main" style="margin-left: 34px; padding-right: 33px;">

                    <div style="position: absolute;left: 20px;top: 61px;"><i class="fa fa-home fa-lg"></i></div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt; float: left;"><b>{{ contract.full_address }}</b></div>

                    <br><br>
                    <div style="font-family: PT Sans Caption; font-size: 10pt; font-weight: bold;">
                        <br>
                        Due on: <span id="contractDueNext{{ contract.id }}"></span> {% if contract.payment_type == 'recurring' %}<i class="fa fa-refresh" style="color: #EB6024;"></i>{% endif %}
                    </div>

                    <div style="margin-top: 25px; font-family: PT Sans Caption; font-size: 9pt;" id="contractTotalLabel{{ contract.id }}">PAYMENT AMOUNT</div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt;" id="contractTotal{{ contract.id }}"></div>

                    <div style="margin-top: 25px; font-family: PT Sans Caption; font-size: 9pt;">PAY TO</div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt;" id="contractPayTo{{ contract.id }}"></div>

                    <div style="margin-top: 25px; font-family: PT Sans Caption; font-size: 9pt;" id="contractFromAccLabel{{ contract.id }}">FROM ACCOUNT</div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt;" id="contractFromAcc{{ contract.id }}"></div>

                    <br>

                    <div id="contractStatus{{ contract.id }}" style="color: #996600; border-radius: 3px; background: #fcf8e3; padding: 10px; text-shadow: none; font-size: 10pt; font-family: PT Sans Caption;">
                        {% if contract.status == 'pending' %}
                            {{ 'contract.status.pending.text' | trans }}
                        {% elseif contract.payment_status == 'processing' %}
                            {{ 'contract.status.processing.text' | trans }}
                        {% elseif contract.status == 'invite' %}
                            {{ 'contract.status.invite.text' | trans }}
                        {% elseif contract.payment_type == 'recurring' %}
                            {{ 'contract.status.recurring.text' | trans({'%payment_date%': contract.payment_due_date}) }}. You can change this under "Edit".
                        {% elseif contract.payment_type == 'one_time' %}
                            {{ 'contract.status.one_time.text' | trans({'%payment_date%': contract.payment_due_date}) }}. You can change this under "Edit".
                        {% elseif contract.status == 'approved' %}
                            {{ 'contract.status.approved.text' | trans }}
                        {% elseif contract.status == 'current' %}
                            {{ 'contract.status.current.text' | trans }}
                        {% elseif contract.status == 'finished' %}
                            {{ 'contract.status.finished.text' | trans }}
                        {% else %}
                            {{ contract.status | upper }}
                        {% endif %}
                    </div>

                    <br>
                    <br>

                    {% if contract.status != 'pending' %}
                    <a onclick="setupPayForm({{ contract.id }})" data-ajax="false" style="text-decoration: none;">
                        <button id='pay-button-{{ contract.id }}' style="color: white; background: rgb(235,96,36); text-shadow:none; border-radius: 7px;">
                            {% if contract.payment_type != 'one_time' and contract.payment_type != 'recurring' %}
                                Make Payment
                            {% else %}
                                Edit Payment
                            {% endif %}
                        </button>
                    </a>
                    {% endif %}
                    <a href="#paymentHistory{{ contract.id }}" style="text-decoration: none;"><button{% if contract.status == 'pending' %} disabled{% endif %}>Payment History</button></a>
                    {% if contract.status != 'pending' and (contract.payment_type=='recurring' or contract.payment_type=='one_time') %}
                        <a id="opendialog" href="#cancel" data-ajax="false" style="text-decoration: none;"><button id='cancel{{ contract.id }}' style="color: white; background: rgb(232,65,65);text-shadow:none; border-radius: 7px;">Cancel Payment</button></a>
                    {% endif %}

                </div>
            </div>
        {% endfor %}


{{ render(controller('RjCheckoutBundle:Component:pay',{'mobile':'true'})) }}

<!-- begin sources//-->

{{ render(controller('TenantBundle:Sources:index',{'mobile':'true'})) }}


<!-- end sources//-->
