<div class="pod-large pod-border pod-padding shadow">
    <h1>Current Pyments</h1>
    <div class="addPropertyContainer">
        <center>
            <button class="button small">
                <span>Add Property</span>
            </button>
        </center>
    </div>
    <table class="listOfPayments listOfPaymentsActive">
        <thead>
            <tr>
                <th class="address">Address</th>
                <th class="payTo">Pay To</th>
                <th>Amount</th>
                <th>Pay Source</th>
                <th>Last Payment</th>
                <th>Next Due Date</th>
                <th>Recurs?</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {% for contract in contracts %}
        <tr>
            <td>
                {{ contract.property.fullAddress }}
                {% if contract.unit %}
                    <span>{{ contract.unit }}</span>
                {% else %}
                    <span>{{ contract.search }}</span>
                {% endif %}
            </td>
            <td>
                {{ contract.holding }}<br />
                {{ contract.group }}
            </td>
            <td>
                {{ contract.rent }}
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td>
                {{ contract.dueDay }}th
            </td>
            <td>
                --
            </td>
            <td>
                <center>
                    <button class="button small">
                        <span>Pay</span>
                    </button>
                </center>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
