<!-- Popup Delete Contract -->
{#<div id="contract-delete" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'contract.delete' | trans() }}</h1>
    <div class="clearfix col-box">
        <div class="col" id="contract-address"></div>
        <div class="footer-button-box">
            <button id="button-contract-delete" class="button buttonFix">
                <span>{{ 'delete' | trans() }}</span>
            </button>
            <button id="button-cancel" class="button grey buttonFix">
                <span>{{ 'cancel' | trans() }}</span>
            </button>
        </div>
    </div>
</div>#}
<!-- end Delete Contract -->
<!-- Loader -->
{#<div id="contract-loader" class="pricing-popup dashboard-popup properties-popup">
    <div class="clearfix col-box popup-loader">
        <center>
            <img src="{{ asset('/bundles/core/images/img_loading.gif') }}" alt="Loading" />
        </center>
    </div>
</div>#}
<!-- endloader -->
    {#<h1>{{ 'current_contracts.title' | trans() }}</h1>#}


<script>
    $(document).ready(function(){
        h=$.mobile.getScreenHeight();
        h-=60;
    $(".ui-content").css('min-height',h+'px');
    })

    var contractsJson={{ contractsJson | raw }};
    var paidForArr={{ paidForArr | serialize('json') | raw }};


    function setupPayForm(id) {

        $(".fields-box").css('padding-bottom','10px')

        $("#backToContract").href="contract"+id

        for (i = 0; i < contractsJson.length;i++) {
            if(contractsJson[i].id==id){

                contract=contractsJson[i]

                a=[]
                for(j=0;j<contract.groupSetting.dueDays.length;j++){
                    a.push([-1,-1,contract.groupSetting.dueDays[j]])
                }

                $('#rentjeeves_checkoutbundle_paymenttype_start_date').datebox({
                    mode: "calbox",
                    afterToday: true,
                    blackDatesRec:[a],
                    defaultValue: new Date(),
                    useFocus :true,
                    useButton:false


                })

                $(document).on("click","#rentjeeves_checkoutbundle_paymenttype_start_date",function(){
                    var viewportwidth = $(window).width();
                    var datepickerwidth = $("#ui-datepicker-div").width();
                    var leftpos = (viewportwidth - datepickerwidth)/2; //Standard centering method
                    $("#ui-datepicker-div").css({left: leftpos,position:'absolute'});
                });

                jQuery('#rentjeeves_checkoutbundle_paymenttype_contractId').val(id);

                console.log(contract)
                paidFor=paidForArr[contract.id]
                $("#rentjeeves_checkoutbundle_paymenttype_paidFor").html("");
                $.each(paidFor,function(index,value){
                    a=""
                    if(value==contract.payment.paidFor){
                        a="selected"
                    }
                    $("#rentjeeves_checkoutbundle_paymenttype_paidFor").append("<option value='"+index+"'"+a+">"+value+"</option>")
                })

                $("#rentjeeves_checkoutbundle_paymenttype_amount").val(contract.rent)
                $('#rentjeeves_checkoutbundle_paymenttype_total').val(contract.rent)
                $("#payTo").html(contract.payToName);
                $("#contractAddress").html(contract.property.number+" "+contract.property.street+", "+contract.property.district+" "+contract.unit.name)

                $("#rentjeeves_checkoutbundle_paymenttype_dueDate").html("")
                for (i = 1; i < 32; i++) {
                    a = "";
                    if(contract.payment){
                        if (i == contract.payment.dueDate) {
                            a = " selected"
                        }
                    }
                    $("#rentjeeves_checkoutbundle_paymenttype_dueDate").append("<option" + a + ">" + i + "</option>")
                }

                //$("#rentjeeves_checkoutbundle_paymenttype_dueDate").selectmenu("refresh")


                if(contract.payment) {


                    if (contract.payment.status == "active") {
                        if (contract.payment.type == "recurring") {
                            $("#rentjeeves_checkoutbundle_paymenttype_type").val("recurring")
                            formType(false)
                        } else {
                            $("#rentjeeves_checkoutbundle_paymenttype_type").val("one_time")
                            formType(true);
                        }
                    }
                    $("#rentjeeves_checkoutbundle_paymenttype_type").selectmenu("refresh")


                    $("#rentjeeves_checkoutbundle_paymenttype_startMonth").val(contract.payment.startMonth).selectmenu("refresh");
                    $("#rentjeeves_checkoutbundle_paymenttype_startYear").val(contract.payment.startYear).selectmenu("refresh");
                    $("#rentjeeves_checkoutbundle_paymenttype_endMonth").val(contract.payment.endMonth).selectmenu("refresh");
                    $("#rentjeeves_checkoutbundle_paymenttype_endYear").val(contract.payment.endYear).selectmenu("refresh");

                }else{
                    formType(false)
                    $("#rentjeeves_checkoutbundle_paymenttype_type").val("recurring")
                }

                $("#rentjeeves_checkoutbundle_paymenttype_paidTo").val(contractsJson[i].paidTo)

                $("#revEnds").html(contract.finishAt)

                var today = new Date();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();


                if(mm<10) {
                    mm='0'+mm
                }


                $("#rentjeeves_checkoutbundle_paymenttype_start_date").val(mm+"/"+(contract.payment.dueDate)+"/"+yyyy)
                $("#rentjeeves_checkoutbundle_paymenttype_dueDate").append("<option value='"+contract.payment.dueDate+"' selected></option>")
                break;
            }
        }


    }

</script>



        <div data-role="page" id="main">

            <div data-role="panel" id="panel" style="background: black;">
                <ul data-role="listview">
                    <li><a href="#main" class="menuOptions" style="color: #666 !important;">Current Payments</a></li>
                    <li><a href="#paymentHistory" class="menuOptions">Payment History</a></li>
                    {#<li><a href="bmw.html" class="menuOptions">Payment Sources</a></li>#}
                    <li><a href="logout" class="menuOptions">Logout</a></li>
                </ul>

            </div>

            <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
                <a href="#panel" class="headerButton" data-role="none"><i class="fa fa-bars" style="background: none; color: white; font-size: 22pt;"></i></a>

                <h1 class="ui-title" role="heading" aria-level="1" style="background: transparent;"><img style="width: 100%;" src="/bundles/rjcore/Images/mobile/home-logo.png"></h1>
            </div>

            <div class="ui-content" role="main" style='background-image: url(/bundles/rjcore/Images/mobile/darkblur-bgnd.png); background-size: cover;'>

            <div style="color: white; font-size: 18pt; font-weight: normal; text-shadow: none;">Current Payments</div>
                {#
                <a href="#" class="ui-btn-right ui-btn ui-icon-plus ui-btn-icon-life" data-role="button" role="button"></a>

                #}
            {#
            <div class="addPropertyContainer">
                <center>
                    <a href="{{ path('property_add')}}" class="button small">
                        <span>{{ 'add.property' | trans() }}</span>
                    </a>
                </center>
            </div>
#}
                {% for contract in contracts %}
                    {% if contract.status != 'deleted' and contract.status!='finished' %}
                    <a href="#contract{{ contract.id }}" style="color: rgb(40,40,40); text-decoration: none; font-weight: normal;" data-transition="slide">
            <div onclick="$('a{{ contract.id }}').click()" style="border-radius: 4px;padding: 8px;padding-left: 38px;margin-top: 20px;cursor: pointer; background: #fff; opacity: 0.8;position: relative; line-height: 1.9;">
                <a id="a{{ loop.index }}" href="#contract{{ contract.id }}" style="position: absolute;top: 6px; left: 10px;background: none;border: none; color: #333;"><i class="fa fa-home fa-lg"></i></a>
                <a href="#contract{{ contract.id }}" style="position: absolute; top: 32%; right: 21px;background: none;border: none; color: #eb6024;"><i class="fa fa-chevron-right fa-lg"></i></a></a>
                            <b style="font-size: 16;">{{ contract.full_address|length > 25 ? contract.full_address|slice(0, 25) ~ '...' : contract.full_address  }}</b>
                        <br>
                            <span style="font-size: 14;">{{ contract.rent }}</span>
                    <br>
                        <b style="font-size: 14;">Due Next: {{ contract.payment_next }}</b>

                    </div>
                    </a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

        {% for contract in contracts %}
            <div data-role="page" id="contract{{ contract.id }}">

                <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
                    <a href="#main" data-transition="slide" data-direction="reverse" class="headerButton" data-role="none" style="color: white;">Back</a>
                    <h1 class="ui-title" role="heading" aria-level="1">Current Payment</h1>
                    {% if contract.status != 'pending' %}
                        <a href="#pay" onclick="setupPayForm({{ contract.id }})" class="headerButton" style="border-left: 1px solid white; border-right: none; color: white;" data-role="none">Edit</a>
                    {% endif %}
                </div>

                <div class="ui-content" role="main" style="margin-left: 34px; padding-right: 33px;">
                {% if contract.status != 'deleted' %}

                    <div style="position: absolute;left: 20px;top: 61px;"><i class="fa fa-home fa-lg"></i></div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt; float: right;"><b>{{ contract.full_address }}</b></div>

                    <br><br>

                    <div style="margin-top: 65px; font-family: PT Sans Caption; font-size: 10pt;">Amount</div>
                    <div style="font-family: PT Sans Caption; font-size: 14pt;">{{ contract.rent }}</div>

                    <br><br>

                    <div style="color: white; border-radius: 3px; background: #eb6024; padding: 10px; text-shadow: none; font-size: 10pt; font-family: PT Sans Caption;">
                        {% if contract.status == 'pending' %}
                            {{ 'contract.status.pending.text' | trans }}
                        {% elseif contract.payment_status == 'processing' %}
                            {{ 'contract.status.processing.text' | trans }}
                        {% elseif contract.status == 'invite' %}
                            {{ 'contract.status.invite.text' | trans }}
                        {% elseif contract.payment_type == 'recurring' %}
                            {{ 'contract.status.recurring.text' | trans({'%payment_date%': contract.payment_due_date}) }}. You can change this under "Edit".
                        {% elseif contract.payment_type == 'one_time' %}
                            {{ 'contract.status.one_time.text' | trans({'%payment_date%': contract.payment_due_date}) }}. You can change this under "Edit".
                        {% elseif contract.status == 'approved' %}
                            {{ 'contract.status.approved.text' | trans }}
                        {% elseif contract.status == 'current' %}
                            {{ 'contract.status.current.text' | trans }}
                        {% elseif contract.status == 'finished' %}
                            {{ 'contract.status.finished.text' | trans }}
                        {% else %}
                            {{ contract.status | upper }}
                        {% endif %}
                    </div>

                    <br>

                    <div style="font-family: PT Sans Caption; font-size: 10pt; font-weight: bold;">
                    Due Next: {{ contract.payment_next }} {% if contract.payment_type == 'recurring' %}<i class="fa fa-refresh" style="color: #EB6024;"></i>{% endif %}</div>



                {% endif %}
                    <br>

                    <a href="#paymentHistory{{ contract.id }}" style="text-decoration: none;"><button{% if contract.status == 'pending' %} disabled{% endif %}>Payment History</button></a>
                    </div>
            </div>
        {% endfor %}


{{ render(controller('RjCheckoutBundle:Component:pay',{'mobile':'true'})) }}


<script type="text/javascript">

    $(document).ready(function() {
        var currentPaymentsViewModel = new CurrentPayments(
            {{ contractsJson | raw }},
            '{{ user.getIsVerified }}',
            {{ paidForArr | serialize('json') | raw }}
        );
        ko.applyBindings(currentPaymentsViewModel, $('#current-payments').get(0));
        {% if isNewUser %}
            $('#contract-pay-1').click();
        {% endif %}
    });


</script>