<!-- Popup Delete Contract -->
<div id="contract-delete" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'contract.delete' | trans() }}</h1>
    <div class="clearfix col-box">
        <div class="col" id="contract-address"></div>
        <div class="footer-button-box">
            <button id="button-contract-delete" class="button buttonFix">
                <span>{{ 'delete' | trans() }}</span>
            </button>
            <button id="button-cancel" class="button grey buttonFix">
                <span>{{ 'cancel' | trans() }}</span>
            </button>
        </div>
    </div>
</div>
<!-- end Delete Contract -->
<!-- Loader -->
<div id="contract-loader" class="pricing-popup dashboard-popup properties-popup">
    <div class="clearfix col-box popup-loader">
        <center>
            <img src="{{ asset('/bundles/core/images/img_loading.gif') }}" alt="Loading" />
        </center>
    </div>
</div>
<!-- endloader -->
<div class="pod-large pod-border pod-padding shadow" id="current-payments">
    <h1>{{ 'current_payments.title' | trans() }}</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>{{ 'add.property' | trans() }}</span>
            </a>
        </center>
    </div>
    <div class="row-20"></div>
    <div class="properties-table-block table-wrap">
        <div class="table-margin">
            <table class="properties-table zebra-grid contracts-table">
                <thead>
                    <tr class="contracts">
                        <th class="font-helvetica">{{ 'address' | trans() }}</th>
                        <th class="font-helvetica">{{ 'pay_to' | trans() }}</th>
                        <th class="font-helvetica">{{ 'amount' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.pay.source' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.payment.last' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.payment.next' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.payment.recurring' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.status' | trans() }}</th>
                        <th style="width: 85px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr class="contracts">
                        <td class="font-helvetica" title="{{ contract.full_address }}">{{ contract.row_address }}</td>
                        <td class="font-helvetica" title="{{ contract.full_pay_to }}">{{ contract.row_pay_to }}</td>
                        <td class="font-helvetica">{{ contract.rent }}</td>
                        <td class="font-helvetica" title="{{ contract.full_payment_source }}">{{ contract.row_payment_source }}</td>
                        <td class="font-helvetica">{{ contract.payment_last }}</td>
                        <td class="font-helvetica">{{ contract.payment_next }}</td>
                        <td class="font-helvetica">{{ contract.recur | capitalize }}</td>
                        {% if contract.status == 'pending' %}
                        <td class="font-helvetica" title="Waiting for your landlord to provide contract details.">
                        {% elseif contract.status == 'invite' %}
                        <td class="font-helvetica" title="Waiting for your landlord to join RentTrack.">
                        {% else %}
                        <td class="font-helvetica">
                        {% endif %}
                        {{ contract.status | upper }}
                        </td>
                        <td class="font-helvetica">
                            {% if contract.isPayment %}
                                {% set buttonText = 'contract.edit' | trans() %}
                            {% else %}
                                {% set buttonText = 'contract.pay' | trans() %}
                            {% endif %}

                            {% if contract.status == 'pending' %}
                                <div class="contract-potential">
                                    <button class="button small button-contract-pay grey floatleft">
                                        <span>{{ 'contract.pay' | trans() }}</span>
                                    </button>
                                    <div id="contract-{{ contract.id }}" class="contract-delete floatleft">
                                        <input type="hidden" value="{{ contract.full_address }}">
                                    </div>
                                </div>
                            {% elseif contract.status == 'approved' or contract.status == 'invite' %}
                                <div class="contract-potential">
                                    <button class="button small button-contract-pay floatleft"
                                            data-bind="click: openPayPopup.bind($data, {{ contract.id }})"
                                            id="contract-pay-{{ loop.revindex }}"
                                    >

                                        <span>{{ buttonText }}</span>
                                    </button>
                                    <div id="contract-{{ contract.id }}" class="contract-delete floatleft">
                                        <input type="hidden" value="{{ contract.full_address }}">
                                    </div>
                                </div>
                            {% elseif contract.status == 'current' %}
                                <div class="contract-potential">
                                    <button class="button small button-contract-pay floatleft"
                                            data-bind="click: openPayPopup.bind($data, {{ contract.id }})"
                                            id="contract-pay-{{ loop.revindex }}"
                                            >
                                        <span>{{ buttonText }}</span>
                                    </button>
                                    <div id="contract-{{ contract.id }}" class="contract-delete-grey floatleft">
                                        <input type="hidden" value="{{ contract.full_address }}">
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ render(controller('RjCheckoutBundle:Component:pay')) }}

<script type="text/javascript">
    $(document).ready(function() {
        var currentPaymentsViewModel = new CurrentPayments(
            {{ contractsRaw | serialize('json') | raw }},
            '{{ user.getIsVerified }}'
        );
        ko.applyBindings(currentPaymentsViewModel, $('#current-payments').get(0));
    });
</script>

