<div class="pod-large pod-border pod-padding shadow">
    <h1>Current Payments</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>Add Property</span>
            </a>
        </center>
    </div>
    <table class="listOfPayments listOfPaymentsActive">
        <thead>
            <tr>
                <th class="address">Address</th>
                <th class="payTo">Pay To</th>
                <th>Amount</th>
                <th>Pay Source</th>
                <th>Last Payment</th>
                <th>Next Due Date</th>
                <th>Recurs?</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {% for contract in contracts %}
        <tr class="contracts">
            <td>
                {{ contract.property.fullAddress }}
                {% if contract.unit %}
                    <span>{{ contract.unit }}</span>
                {% else %}
                    <span>{{ contract.search }}</span>
                {% endif %}
            </td>
            <td>
                {% if contract.holding.name == contract.group.name %}
                    {{ contract.holding }}
                {% else %}
                    {{ contract.holding }}<br />
                    {{ contract.group }}
                {% endif %}
            </td>
            <td>
                {% if contract.canSetupRentalPayment %}
                    {{ contract.rent }}
                {% else %}
                    {{ contract.status }}
                {% endif %}
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td>
                {{ contract.dueDay }}th
            </td>
            <td>
                --
            </td>
            <td>
                <center>
                    {% if contract.canSetupRentalPayment %}
                        <button class="button small">
                            <span>Pay</span>
                        </button>
                    {% else %}
                        <button class="button small disabled grey">
                            <span>Pay</span>
                        </button>
                    {% endif %}
                </center>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
