<!-- Popup Delete Contract -->
{#<div id="contract-delete" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'contract.delete' | trans() }}</h1>
    <div class="clearfix col-box">
        <div class="col" id="contract-address"></div>
        <div class="footer-button-box">
            <button id="button-contract-delete" class="button buttonFix">
                <span>{{ 'delete' | trans() }}</span>
            </button>
            <button id="button-cancel" class="button grey buttonFix">
                <span>{{ 'cancel' | trans() }}</span>
            </button>
        </div>
    </div>
</div>#}
<!-- end Delete Contract -->
<!-- Loader -->
{#<div id="contract-loader" class="pricing-popup dashboard-popup properties-popup">
    <div class="clearfix col-box popup-loader">
        <center>
            <img src="{{ asset('/bundles/core/images/img_loading.gif') }}" alt="Loading" />
        </center>
    </div>
</div>#}
<!-- endloader -->
    {#<h1>{{ 'current_contracts.title' | trans() }}</h1>#}


<script>


    var contractsJson={{ contractsJson | raw }};


    function setupPayForm(id) {

        $("#backToContract").href="contract"+id

        for (i = 0; i < contractsJson.length;i++) {
            if(contractsJson[i].id==id){
                jQuery('#payContractId').val(id);
                contract=contractsJson[i]
                console.log(contract)
                $("#payRentAmount").val(contract.rent)
                $('#payTotalToPay').html(contract.rent)
                $("#payTo").html(contract.payToName);
                $("#contractAddress").html(contract.property.number+" "+contract.property.street+", "+contract.property.district+" "+contract.unit.name)
                if(contract.payment.status=="active"){
                    if(contract.payment.type=="recurring"){
                        $("#payHowManyR").prop("checked","true")
                    }else{
                        $("#payHowMany").prop("checked","true")
                    }
                }
                $("#revEnds").html(contract.finishAt)

                var today = new Date();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();


                if(mm<10) {
                    mm='0'+mm
                }


                $("#payDue").val(yyyy+"-"+mm+"-"+(contract.payment.dueDate))
                break;
            }
        }


    }

</script>



        <div data-role="page" id="main">

            <div data-role="panel" id="panel" style="background: rgb(80,80,80);">
                <ul data-role="listview" data-theme="a">
                    <li><a href="acura.html">Current Payments</a></li>
                    <li><a href="audi.html">Payment History</a></li>
                    <li><a href="bmw.html">Payment Sources</a></li>
                    <li><a href="">Logout</a></li>
                </ul>

            </div>

            <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
                <a href="#panel" class="ui-btn-left ui-btn ui-icon-bars ui-btn-icon-left" data-role="button" role="button" style="background: transparent; border: 0;"></a>
                <h1 class="ui-title" role="heading" aria-level="1" style="background: transparent;"><img style="width: 100%;" src="/bundles/rjcore/Images/mobile/home-logo.png"></h1>
            </div>

            <div class="ui-content" role="main" style='background-image: url(/bundles/rjcore/Images/mobile/darkblur-bgnd.png);'>

            <div style="color: white; font-size: 18pt; font-weight: normal;">Current Payments</div>
                {#
                <a href="#" class="ui-btn-right ui-btn ui-icon-plus ui-btn-icon-life" data-role="button" role="button"></a>

                #}
            {#
            <div class="addPropertyContainer">
                <center>
                    <a href="{{ path('property_add')}}" class="button small">
                        <span>{{ 'add.property' | trans() }}</span>
                    </a>
                </center>
            </div>
#}
                {% for contract in contracts %}
                    {% if contract.status != 'deleted' and contract.status!='finished' %}
                    <a href="#contract{{ loop.index }}" style="color: rgb(40,40,40); text-decoration: none; font-weight: normal;" data-transition="slide">
            <div style="border-radius: 4px;padding: 8px;padding-left: 38px;margin-top: 20px;cursor: pointer; background: #fff; opacity: 0.8;position: relative; line-height: 1.9;">
                <a href="#contract{{ loop.index }}" class="ui-btn ui-icon-home ui-btn-icon-left" style="position: absolute; top: 2px; left: 0px;background: none;border: none;"></a>
                <a href="#contract{{ loop.index }}" class="ui-btn ui-icon-carat-r ui-btn-icon-left" style="position: absolute; top: 32%; right: -4px;background: none;border: none;"></a>
                            <b style="font-size: 16;">{{ contract.full_address [:25] }}</b>
                        <br>
                            <span style="font-size: 14;">{{ contract.rent }}</span>
{#
                        <br>
                                {% if contract.status == 'pending' %}
                                    {{ 'contract.status.pending.text' | trans }}
                                {% elseif contract.payment_status == 'processing' %}
                                    {{ 'contract.status.processing.text' | trans }}
                                {% elseif contract.status == 'invite' %}
                                    {{ 'contract.status.invite.text' | trans }}
                                {% elseif contract.payment_type == 'recurring' %}
                                    {{ 'contract.status.recurring.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                                {% elseif contract.payment_type == 'one_time' %}
                                    {{ 'contract.status.one_time.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                                {% elseif contract.status == 'approved' %}
                                    {{ 'contract.status.approved.text' | trans }}
                                {% elseif contract.status == 'current' %}
                                    {{ 'contract.status.current.text' | trans }}
                                {% elseif contract.status == 'finished' %}
                                    {{ 'contract.status.finished.text' | trans }}
                                {% else %}
                                    {{ contract.status | upper }}
                                {% endif %}
                        <br>
                #}
                    <br>
                        <b style="font-size: 14;">Due Next: {{ contract.payment_next }}</b>

                    </div>
                    </a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

        {% for contract in contracts %}
            <div data-role="page" id="contract{{ contract.id }}">

                <div data-role="header" role="banner" class="ui-header ui-bar-inherit" style="">
                    <a href="#main" data-transition="slide" data-direction="reverse" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-left" data-role="button" role="button" style="background: transparent;border: none;"></a>
                    <h1 class="ui-title" role="heading" aria-level="1">Current Payment</h1>
                    <a href="#pay" onclick="setupPayForm({{ contract.id }})">Pay/Edit</a>
                </div>

                <div class="ui-content" role="main">
                {% if contract.status != 'deleted' %}

                    <b>{{ contract.full_address }}</b>
                    <br>
                    {{ contract.rent }}
                    <br>
                    {{ contract.payment_next }}
                    <br>
                    {% if hasIntegratedBalance %}
                        {{ contract.balance }}
                    {% endif %}
                    <br>
                    {% if contract.status == 'pending' %}
                        {{ 'contract.status.pending.text' | trans }}
                    {% elseif contract.payment_status == 'processing' %}
                        {{ 'contract.status.processing.text' | trans }}
                    {% elseif contract.status == 'invite' %}
                        {{ 'contract.status.invite.text' | trans }}
                    {% elseif contract.payment_type == 'recurring' %}
                        {{ 'contract.status.recurring.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                    {% elseif contract.payment_type == 'one_time' %}
                        {{ 'contract.status.one_time.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                    {% elseif contract.status == 'approved' %}
                        {{ 'contract.status.approved.text' | trans }}
                    {% elseif contract.status == 'current' %}
                        {{ 'contract.status.current.text' | trans }}
                    {% elseif contract.status == 'finished' %}
                        {{ 'contract.status.finished.text' | trans }}
                    {% else %}
                        {{ contract.status | upper }}
                    {% endif %}
                {% endif %}
                    <br>

                    <a href="#paymentHistory{{ contract.id }}"><button{% if contract.status == 'pending' %}disabled{% endif %}>Payment History</button></a>
                    </div>
            </div>
        {% endfor %}


{{ render(controller('RjCheckoutBundle:Component:pay',{'mobile':'true'})) }}


<script type="text/javascript">

    $(document).ready(function() {
        var currentPaymentsViewModel = new CurrentPayments(
            {{ contractsJson | raw }},
            '{{ user.getIsVerified }}',
            {{ paidForArr | serialize('json') | raw }}
        );
        ko.applyBindings(currentPaymentsViewModel, $('#current-payments').get(0));
        {% if isNewUser %}
            $('#contract-pay-1').click();
        {% endif %}
    });


</script>