<!-- Popup Delete Contract -->
{#<div id="contract-delete" class="pricing-popup dashboard-popup properties-popup">
    <h1>{{ 'contract.delete' | trans() }}</h1>
    <div class="clearfix col-box">
        <div class="col" id="contract-address"></div>
        <div class="footer-button-box">
            <button id="button-contract-delete" class="button buttonFix">
                <span>{{ 'delete' | trans() }}</span>
            </button>
            <button id="button-cancel" class="button grey buttonFix">
                <span>{{ 'cancel' | trans() }}</span>
            </button>
        </div>
    </div>
</div>#}
<!-- end Delete Contract -->
<!-- Loader -->
{#<div id="contract-loader" class="pricing-popup dashboard-popup properties-popup">
    <div class="clearfix col-box popup-loader">
        <center>
            <img src="{{ asset('/bundles/core/images/img_loading.gif') }}" alt="Loading" />
        </center>
    </div>
</div>#}
<!-- endloader -->
<div class="pod-large pod-border pod-padding shadow" id="current-payments">
    {% set flashMessages = app.session.flashbag.get('error') %}
    {% if flashMessages is not empty %}
    <div class="attention-box pie-el">
        <ul>
        {% for flashMessage in flashMessages %}
            <li>{{ flashMessage | trans }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="row-10"></div>
    {% endif %}
    <h1>{{ 'current_contracts.title' | trans() }}</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>{{ 'add.property' | trans() }}</span>
            </a>
        </center>
    </div>
    <div class="row-20"></div>
    <div class="properties-table-block table-wrap">
        <div class="table-margin">
            <table class="properties-table zebra-grid contracts-table layout-auto">
                <thead>
                    <tr class="contracts">
                        <th class="font-helvetica" style="width: 50px">{{ 'contract.rent_amount' | trans() }}</th>
                        {% if hasIntegratedBalance %}
                            <th class="font-helvetica" style="width: 60px">{{ 'common.balance' | trans }}</th>
                        {% endif %}
                        <th class="font-helvetica" style="width: 50px">{{ 'contract.payment.next' | trans() }}</th>
                        <th class="font-helvetica">{{ 'contract.property' | trans() }}</th>
                        <th class="font-helvetica" style="width: 100px">{{ 'contract.status' | trans() }}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    {% if contract.status != 'deleted' %}
                        <tr class="contracts static">
                            <td class="font-helvetica">{{ contract.rent }}</td>
                            {% if hasIntegratedBalance %}
                                <td class="font-helvetica">{{ contract.balance }}</td>
                            {% endif %}
                            <td class="font-helvetica">{{ contract.due_on | ordinal_number }}</td>
                            <td class="font-helvetica">{{ contract.full_address }}</td>
                            <td class="font-helvetica">
                                {% if contract.is_integrated and contract.isDeniedOnExternalApi %}
                                    {{ 'yardi.tenant.property.manager_disabled_payment_description'|trans }}
                                {% else %}
                                    {% if contract.status == 'pending' %}
                                        {{ 'contract.status.pending.text' | trans }}
                                    {% elseif contract.payment_status == 'processing' %}
                                        {{ 'contract.status.processing.text' | trans }}
                                    {% elseif contract.status == 'invite' %}
                                        {{ 'contract.status.invite.text' | trans }}
                                    {% elseif contract.payment_type == 'recurring' %}
                                        <p>${{ contract.payment_amount|number_format(2, '.', ',') }}</p>
                                        {{ 'contract.status.recurring.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                                    {% elseif contract.payment_type == 'one_time' %}
                                        <p>${{ contract.payment_amount|number_format(2, '.', ',') }}</p>
                                        {{ 'contract.status.one_time.text' | trans({'%payment_date%': contract.payment_due_date}) }}
                                    {% elseif contract.status == 'approved' %}
                                        {{ 'contract.status.approved.text' | trans }}
                                    {% elseif contract.status == 'current' %}
                                        {{ 'contract.status.current.text' | trans }}
                                    {% elseif contract.status == 'finished' %}
                                        {{ 'contract.status.finished.text' | trans }}
                                    {% else %}
                                        {{ contract.status | upper }}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td class="font-helvetica">
                                {% if contract.is_integrated and contract.isDeniedOnExternalApi %}
                                    <button class="button small button-contract-pay floatleft denied"
                                            disabled
                                            title="{{ 'yardi.tenant.property.manager_disabled_payment'|trans }}"
                                    >
                                        <span>{{ 'contract.pay' | trans() }}</span>
                                    </button>
                                {% else %}
                                    {{ include('RjComponentBundle:ContractsList:tenant_pay_button.html.twig',
                                        { 'contract': contract, 'loop.revindex': loop.revindex }
                                    ) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ render(controller('RjCheckoutBundle:Component:pay')) }}

<script type="text/javascript">
    $(document).ready(function() {
        var currentPaymentsViewModel = new CurrentPayments(
            {{ contractsJson | raw }},
            '{{ user.getIsVerified }}',
            {{ paidForArr | serialize('json') | raw }}
        );
        ko.applyBindings(currentPaymentsViewModel, $('#current-payments').get(0));
        {% if isNewUser %}
            $('#contract-pay-1').click();
            if (typeof _gaq !== 'undefined') {
                _gaq.push(['_trackEvent', 'Tenant', 'First Login']);
            }
        {% endif %}
    });
</script>

