<div class="pod-large pod-border pod-padding shadow">
    <h1>{{ 'current_payments.title'|trans }}</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>{{ 'add.property'|trans }}</span>
            </a>
        </center>
    </div>
    <table class="listOfPayments listOfPaymentsActive">
        <thead>
            <tr>
                <th class="address">{{'address'|trans}}</th>
                <th class="payTo">{{'pay_to'|trans}}</th>
                <th>{{'amount'|trans}}</th>
                <th>{{'pay_source'|trans}}</th>
                <th>{{'last.payment'|trans}}</th>
                <th>{{'next_due_date'|trans}}</th>
                <th>{{'recurs'|trans}}?</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {% for contract in contracts %}
        <tr class="contracts">
            <td>
                {{ contract.property.fullAddress }}
                {% if contract.unit %}
                    <span>{{ contract.unit }}</span>
                {% else %}
                    <span>{{ contract.search }}</span>
                {% endif %}
            </td>
            <td>
                {% if contract.holding.name == contract.group.name %}
                    {{ contract.holding }}
                {% else %}
                    {{ contract.holding }}<br />
                    {{ contract.group }}
                {% endif %}
            </td>
            <td>
                {% if contract.canSetupRentalPayment %}
                    {{ contract.rent }}
                {% else %}
                    {{ contract.status }}
                {% endif %}
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td>
                {{ contract.dueDay }}th
            </td>
            <td>
                --
            </td>
            <td>
                <center>
                    {% if contract.canSetupRentalPayment %}
                        <button class="button small">
                            <span>{{'pay'|trans}}</span>
                        </button>
                    {% else %}
                        <button class="button small disabled grey">
                            <span>{{'pay'|trans}}</span>
                        </button>
                    {% endif %}
                </center>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
