<div class="pod-large pod-border pod-padding shadow" id="current-payments">
    <h1>{{ 'current_payments.title' | trans }}</h1>
    <div class="addPropertyContainer">
        <center>
            <a href="{{ path('property_add')}}" class="button small">
                <span>{{ 'add.property' | trans }}</span>
            </a>
        </center>
    </div>
    <table class="listOfPayments">
        <thead>
            <tr>
                <th class="address">{{ 'address' | trans }}</th>
                <th class="payTo">{{ 'pay_to' | trans }}</th>
                {% if status == 'new' %}
                    <th class="status">{{ 'status' | trans }}</th>
                    <th class="action"></th>
                {% else %}
                    <th class="status">{{ 'amount' | trans }}</th>
                    <th class="action" colspan="2">{{ 'next_due_date' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
    <tbody>
    {% for contract in contracts %}
        <tr class="contracts">
            <td>
                {{ contract.property.fullAddress }}
                {% if contract.unit %}
                    <span>{{ contract.unit }}</span>
                {% else %}
                    <span>{{ contract.search }}</span>
                {% endif %}
            </td>
            <td>
                {{ contract.holding }}<br />
                {{ contract.group }}
            </td>
            {% if status == 'new' %}
                <td>
                    {{ contract.status }}
                </td>
                <td>
                    <center>
                        <button class="button small greyButton" data-bind="click: openPopup.bind($data, {{ contract.id }})">
                            <span>{{ 'set_up_your_first_rental_payment' | trans }}</span>
                        </button>
                    </center>
                </td>
            {% else %}
                <td>
                    {{ contract.rent }}
                </td>
                <td>
                    {{ contract.dueDay }}th
                </td>
                <td>
                    <center>
                        <button class="button small" data-bind="click: openPopup.bind($data, {{ contract.id }})">
                            <span>{{ 'set_up_your_first_rental_payment' | trans }}</span>
                        </button>
                    </center>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{{ render(controller('RjCheckoutBundle:Component:pay')) }}

{% javascripts  '@TenantBundle/Resources/public/js/CurrentPayments.js'
                '@RjCheckoutBundle/Resources/public/js/Pay.js'
                '@RjPublicBundle/Resources/public/js/jquery-ui.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    var CurrentPaymentsViewModel = new CurrentPayments();

    $(document).ready(function() {
        ko.applyBindings(CurrentPaymentsViewModel, $('#current-payments').get(0));
    });
</script>
