{% extends 'RjAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'admin.dashboard'|trans }}</a><span class="divider">/</span></li>
    <li>
        <a href="{{ url('admin_rj_group_edit', {'id': group.id }) }}">{{ 'group.edit'|trans }}</a>
    </li>
{% endblock %}

{% block content %}
    <h1>{{ 'upload.csv.file'|trans }}</h1>
    {{ form(form) }}
{% endblock %}