{% extends "RjPublicBundle::base.html.twig" %}

{% block content %}
  <div class="form-content">
    <br />
    <br />
  {% if active %} 
      <h3 class="title">
        <span>{{ 'success.active'|trans }}</span>
      </h3>
    <br />
    <br />
    <br />
  {% else %}
    <form action="{{ path('user_new_send', {"tenantId": tenantId }) }}" method="post">
          <h3 class="title">{{ 'verify.email'|trans }}</h4>
          <div class="box type1" style="padding-top: 0px;">
            <div class="col-box clearfix">
              <div class="col">
                <h4>{{ 'verify.email.text1'|trans }}</h4>
                {% if landlordLetter %}
                <h4>{{ 'verify.email.text2'|trans }}</h4>
                {% endif %}
                <h4>{{ 'verify.email.text3'|trans }}</h4>
              </div>
            </div>
          </div>
          <div class="buttons-box clearfix">
            <div class="buttons left">
              <button type="submit" class="button"><span>{{ 'verify.email.resend'|trans }}</span></button>
            </div>
          </div>
    </form>
  {% endif %}
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}