{% extends "ApplicantBundle::base.html.twig" %}
{% block content %}
    <div id="entryForm">
        <div class="clear"></div>
        {% if form %}
            <div class="column column-medium">
                <fieldset class="buyer-info">
                    <h2>{{ 'pidkiq.title' | trans }}</h2>
                    <form action="" method="post" {{ form_enctype(form) }}>
                        <p>{{ 'pidkiq.why.subtitle' | trans }}</p>
                        {{ form_widget(form) }}
                        <div class="row submitter-row">
                            <button type="submit" class="large green submit auto-hide">{{ 'common.submit' | trans }}</button>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="column column-right">
                <div class="pod pod-small auto-pod">
                    <h3>{{ 'pidkiq.why.title' | trans }}</h3>
                    <p class="spaced-text">
                        {{ 'pidkiq.why.text1' | trans }}
                    </p>
                    <p class="spaced-text">
                        {{ 'pidkiq.why.text2' | trans }}
                    </p>
                </div>
            </div>
        {% else %}
            {{ include('CoreBundle::reLoader.html.twig') }}
        {% endif %}
        <div class="clear"></div>
    </div>

{% endblock %}
