<div class="pod-small pod-border pod-padding shadow target-pod" style="background-image: url('{{ sTargetUrl }}');">
    <h3>{{ 'common.target' | trans }}</h3>
    
    <div class="target-name">
        <span>{{ sTargetName }}</span><br>
    {% if sLink | length > 0 %}
    <a href="{{ sLink }}" target="_blank">{{ sLink }}</a>
    {% endif %}
    </div>    
    
    {% if nLeads > 1 %}
        <div id="lead-select-button" class="target-button lead-select-button">{{ 'common.target.select' | trans }}</div>
    {% endif %}    
</div>

